[2018-09-25 22:04] alexturpin opened #691 "Methods to disable / enable tooltip"
It's sometimes useful to temporarily disable a tooltip from triggering through user events (focus, hover, click, etc). Other libraries provide an `enable` and `disable` method to do this. Right now, the only way to do this is by calling `destroy` on the tooltip to disable it and reinitializing it to enable it.

I'm happy to provide a PR with this feature if it is deemed that it should be part of t

[2018-09-26 14:54] mikila85 opened #692 "popper calculation problem"
Hi,
In your demo theres a bug, probably from the popper.js tooltip placement calculation it self:

Reproduce:
Resize page to fit like in picture so the tooltip is bounding with it's parent.. then scroll:

![tooltip](https://user-images.githubusercontent.com/3965957/46088523-3e1b0680-c1b5-11e8-92cd-d37537d9d205.gif)

[2018-09-26 15:18] FezVrasta commented on #692
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-09-26 15:18] #692 closed

[2018-09-26 18:08] jackson-sandland commented on #48
I've read the documentation and I think including simple specific examples would go a long way to improving usability. For example, I would simply like to modify where the popper appears on the Y-axis. So essentially, making an addition or subtraction to the pixel value. The docs say you can use modifiers.offset and shift along either access but then fail to show the object that the Popper API exp

[2018-09-26 18:20] FezVrasta commented on #48
https://popper.js.org/popper-documentation.html#modifiers..offset

Valid examples are:

[code]

The correct syntax is:

[code]

[2018-09-26 18:28] FezVrasta commented on #226
@jackson-sandland 	I already answered your question on the other issue, please don't repost questions/concerns everywhere.

Thank you.

[2018-09-26 19:01] alexturpin commented on #676
I've just run into this issue as well! I'd love to see the PR merged.

[2018-09-26 19:18] jackson-sandland commented on #48
In my case, this moves the popper to right.
How do you specify only operate on the Y axis?

[2018-09-27 11:15] mangowi commented on #515
The polyfill works 👍

[2018-09-28 04:51] matt-d-rat commented on #598
@FezVrasta Damn I ran into needing this feature today.

`Array` syntax is fine, or alternatively an object syntax might reduce some confusion:

[code]

Any chance this feature could be added?

[2018-09-28 13:13] private-ryan23 opened #693 "reference.addEventListener is not a function - tooltip.js on vue.js"
Hello I'm working on my vue project

I'm new to this plugin using pure vue without jquery
Im trying to set the referenceElement like this

    var eli = function( element ) {
         return document.querySelector(element)
    }

vue single components

    methods: {
        run_tooltip: function(elem) {
            new Tooltip(elem, {
                placement: 'top',
                title: "Top"

[2018-10-03 14:06] nadavshabtai commented on #666
I have no dist folder in 1.14.4 also using bower...

[2018-10-03 22:33] alexturpin commented on #687
Another consequence of using `setTimeout` in such cases is that if the tooltip text is changed on blur, there can be a flash of the new text before the tooltip is properly hidden on the next tick.

[2018-10-04 19:59] alexturpin opened #694 "Dispose does not clear the show timeout"
### CodePen demo

http://jsfiddle.net/z2xcd07p/1/

### Steps to reproduce the problem

1.  Quickly click on the blue rectangle to dispose the tooltip and delete the dom element before the delay has a chance to trigger

### What is the expected behavior?

Everything is cleaned up properly.

### What went wrong?

The show timeout is not cleared on dispose and so when it triggers, it causes an error.

[2018-10-06 10:09] vindemasi commented on #625
hello @Krasnov8953
are you using bootstrap? IMHO the issue is here because 'show' class is missing

[https://github.com/twbs/bootstrap/blob/v4-dev/scss/_tooltip.scss#L13](url)

opacity stay to 0 value ever.

[code]

[2018-10-06 17:28] tnrich commented on #523
For those coming after me, I think I got it to work by doing the following:

[code]

[2018-10-08 10:30] FezVrasta commented on #523
@tnrich the interface is described at the bottom:

![image](https://user-images.githubusercontent.com/5382443/46604236-db4f3680-caf5-11e8-8383-5af40a47b0e3.png)

[2018-10-08 12:32] vssadineni commented on #62
I have a doubt ? regarding Tooltip.js. Options.Trigger takes only one item but in my case I need **hover** and **focus** both. how can I achieve that.

[2018-10-08 12:33] FezVrasta commented on #62
you can put multiple values space separated

[2018-10-08 12:36] vssadineni commented on #62
Thank you. It works.

[2018-10-08 18:17] skitterm opened #695 "RTL support?"
Does Popper.js have RTL support for `placement` and `offset`? I.e. if a popper was set with `placement="bottom-start"`, so it's placed like this:
[code]

Would the same popper automatically look like this if displayed on an RTL page?
[code]

[2018-10-08 18:20] FezVrasta commented on #695
Not out of the box, but it is extremely trivial to write a [custom modifier](https://github.com/FezVrasta/popper.js#writing-your-own-modifiers) to achieve that.

[2018-10-08 18:25] FezVrasta commented on #695
I think this should work

[code]

[2018-10-08 18:25] #695 closed

[2018-10-08 18:27] skitterm commented on #695
Thanks @FezVrasta for the quick help. It would also be awesome if RTL support made it into Popper.js natively. Where RTL is becoming more important, it'd add another feather in your library's cap to have that 😃

[2018-10-08 18:29] FezVrasta commented on #695
We may add it into V2, but V1 at the moment is so heavy that any additional feature is out of question 🙁

[2018-10-08 20:39] ferdaber opened #696 "flipVariations logic is reversed"
### CodePen demo
https://codepen.io/igrek312/full/WaRrZO/

### Steps to reproduce the problem
1.  Create a popper instance with a defined variation position (`'start'` or `'end'`)
2.  Enable flipping the variations `{ modifiers: { flip: { flipVariations: true } } }`
3.  Verify that the variation itself does not flip when the popper overflows that boundary.

### What is the expected behavior?
The v

[2018-10-08 20:40] ferdaber commented on #696
I can also create a PR to fix this. I'd just like some verification that the current behavior is *not* the intended behavior.

[2018-10-10 20:53] NilsEnevoldsen commented on #618
Here is my (gross) workaround: https://codepen.io/anon/pen/ZqKXxq.

[2018-10-12 10:59] vimko commented on #676
if ```container``` set ```body```,this problem still exists.

[2018-10-13 08:42] atomiks opened #699 "Popper height transition jittery in Safari"
### CodePen demo

https://codepen.io/atomiks/pen/dgzrYb

### Steps to reproduce the problem

Open the Codepen and watch on Safari.

It's perfect on Chrome and Firefox. The idea is when the height of the popper changes (due to transition), on each animation frame the popper's position is updated to position it correctly.

### What is the expected behavior?

No jitters.

I'm pretty sure this is rela

[2018-10-13 10:32] jeff-nz commented on #688
Hi @lotr1903 ,

Perhaps simulating the click action might help by using `.click()` instead of calling `tooltip.show()` directly.

So your js file should look something like:
[code]
Hope it helps.

[2018-10-16 01:18] piglovesyou commented on #300
@PsiXdev Yes, but only if someone develop it. I don't think it's a good idea for popper.js to have it, since it's a core and better not to have such function that each users expect different depending on their needs.

Besides, there is a lot of tickets saying "popper.js is heavy". I don't think it's true, but some deliberation not to have a new option would be needed I think.

[2018-10-17 10:34] inomdzhon commented on #494
Yeah, it's will be good split to package, because that utils very helpful 😀

[2018-10-18 15:42] atomiks commented on #699
Found a solid workaround..

Keep the height of the popper constant (no need for an update loop), and use an inner element with styles `position: absolute; bottom: 0` to position it at the bottom so it stays pinned to the reference. That way, the height transition effect is the same with no glitchiness. Use `top: 0` instead of `bottom: 0` for placement: 'bottom', and so on for left/right placement.

[2018-10-18 15:42] #699 closed

[2018-10-24 13:42] ventralnet commented on #172
I had a similar problem to this if a parent node had overflow: auto;

[2018-10-25 08:05] florianlacreuse commented on #611
Hi @FezVrasta. I just want to know if there is a chance this will be fixed any time soon? Thanks, keep up the good work!

[2018-10-25 08:08] florianlacreuse commented on #276
Update: my issue seems more related to issue #611.

[2018-10-25 11:02] FezVrasta commented on #611
No I haven't time to allocate at the moment, but I explained the needed steps [here](https://github.com/FezVrasta/popper.js/issues/611#issuecomment-405146318). A PR would be great.

[2018-10-25 17:54] anupamasok opened #702 "Grammar Issues in Readme."
Grammar Issues in readme.md.

Several Grammar issues are found with the current readme. For better user experience incorporate changes.

[2018-10-25 17:55] FezVrasta commented on #702
What changes?

[2018-10-25 17:56] anupamasok commented on #702
Will make a PR now. Please review

[2018-10-25 17:57] FezVrasta commented on #702
Ok I'll close this issue and continue in your PR. thanks.

[2018-10-25 17:57] #702 closed

[2018-10-26 15:48] florianlacreuse commented on #611
Thanks for the feedback. Unfortunately I don't have the necessary skills in js to push a good PR. We'll use [boundary window](https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.boundariesElement) in the meantime.

[2018-10-29 04:28] Sawtaytoes opened #704 "Popper is 5px left offset when using auto, bottom, and bottom-start"
### CodePen demo

https://codepen.io/Saturn2888/pen/dgLyqK

### Steps to reproduce the problem

1.  Remove margin on HTML `body`.
2.  Put an reference DOM node at 0x0.
3.  Add a popper element on the body for that reference DOM node.
4.  Popper has a 5px left offset. This happens using `auto`, `bottom`, and `bottom-start`.

### What is the expected behavior?

It should be left-aligned with the ref

[2018-10-29 06:44] FezVrasta commented on #704
That's by design. You can change the safe margin in the settings of the preventOverflow modifier

[2018-10-29 06:44] #704 closed

[2018-10-29 07:02] Sawtaytoes commented on #704
Just so I can help out others having the same issue:

In Popper's 3rd arg, pass in the options object with the prop like so:
[code]

From the [docs](https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.padding):

Name | Type | Default | Description
-- | -- | -- | --
padding | number | 5 | Amount of pixel used to define a minimum distance between the boundaries and the popper.

[2018-10-29 17:04] Sawtaytoes commented on #704
@FezVrasta I see the same issue when using `padding: 0`.

I updated my original pen to include this change:
https://codepen.io/Saturn2888/pen/dgLyqK

[2018-10-29 17:20] FezVrasta commented on #704
Wrong syntax:

https://codepen.io/anon/pen/VENGVJ

[2018-11-05 18:56] ednjv commented on #670
Same problem here

[2018-11-05 22:42] icenold opened #705 "how to make -start -end modifiers ignore the reference elements width"
![image](https://user-images.githubusercontent.com/16298042/48031287-a08cfc80-e18e-11e8-938f-8eca73434991.png)

I've been running back and forth on the documentation for days already and I cant seem to find what needs to be done

both poppers have exact modifers with placement="bottom-end"

Problem: the above popper is shifting to the start instead of end because the reference element was too smal

[2018-11-06 07:56] FezVrasta commented on #705
`-start` and `-end` modifiers align the left or right border to the left or right border of the reference element, the behavior you are experiencing is correct.

I'm not sure how to achieve what you are looking for, it seems something non linear.

[2018-11-06 07:56] #705 closed

[2018-11-06 19:50] icenold commented on #705
@FezVrasta so what is the recommended way to do something like bottom-left, botttom-right?

[2018-11-06 21:02] icenold commented on #705
also do we have an official reddit/slack channel where we can ask random questions?

[2018-11-07 08:46] FezVrasta commented on #705
There's the [Spectrum.chat](https://spectrum.chat/popper-js) channel.

I'm not sure how to achieve what you are looking for I'm sorry, a custom modifier will surely be able to do that but I don't know what to put inside it.

[2018-11-08 12:48] robertjk opened #706 "TypeScript type declarations for tooltip.js 1.3.0 from npm package are wrong"
## npm package version confusion

I installed latest version of [`tooltip.js`](https://www.npmjs.com/package/tooltip.js) npm package by `npm install tooltip.js@latest`. It installed version 1.3.0.

That version has wrong TypeScript types declaration. Suprisingly [type declaration file](https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/index.d.ts) in `master` branch of your reposi

[2018-11-08 12:55] robertjk commented on #706
I could correct it and make a pull request myslef, but as version and files in the `master` branch are  different than what I get from npm, I have no idea to what I could apply the changes.

[2018-11-08 13:05] FezVrasta commented on #706
I did forget to publish the commit with the version bump sorry. I'm now publishing a new version with the fixed types (I hope)

[2018-11-08 13:06] robertjk commented on #706
Okay, thanks. When approximately I can expect for it to be published?

[2018-11-08 13:06] FezVrasta commented on #706
few minutes

[2018-11-08 13:06] robertjk commented on #706
Great. Thanks.

[2018-11-08 13:07] robertjk commented on #706
By the way there is one more thing that you can correct, but I'll make another issue for it.

[2018-11-08 13:11] FezVrasta commented on #706
released 1.3.1

[2018-11-08 13:11] #706 closed

[2018-11-08 13:13] robertjk opened #707 "Export Tooltip class in tooltip.js as non-default export as well"
### What is the expected behavior?

I'd like to be able to import all members from `tooltip.js` file in a single `import` statement, like this:

[code]

### What went wrong?

Currently the above code gives me an error `Module '"/home/robert/programming/npc/gui/node_modules/tooltip.js/index"' has no exported member 'Tooltip'`. I have to do 2 separate imports:
[code]

That happens because `Tooltip`

[2018-11-08 13:14] FezVrasta commented on #707
Why can't you do this?

[code]

[2018-11-08 13:16] robertjk commented on #707
Didn't know about this syntax! Then there is no problem.

[2018-11-08 13:16] #707 closed

[2018-11-08 13:20] FezVrasta commented on #696
Your demo doesn't work because the popper is inside the ref, it should be near it instead.

https://codepen.io/anon/pen/MzyaZK

But I agree the behavior doesn't seem right.

[2018-11-08 16:46] jozsi commented on #699
I'm also having this issue in an old, WebKit based browser embedded into an application. Spent quite some time trying to find the root of the cause, every attempt led here. With gpuAcceleration the scrollbar of the popper is misplaced (on the left), without gpuAcceleration the scrollbar of the popper is okay, however the content and app-wide scrollbar flashses. Starting to run out of clues.

[2018-11-09 09:52] FezVrasta commented on #617
Sorry for the lack of updates, life been busy recently.

I just finished to update the branch to work with the latest version of the dependencies (babel, jest etc).

I just published the `next` branch to `popper.js@next` so that everybody can try it on their own projects and report back any bugs.

As I mentioned earlier, right now there aren't any modifiers included, not even the `applyStyle` one,

[2018-11-09 12:17] FezVrasta commented on #686
Hi, please may you provide a codesandbox/codepen example?

[2018-11-09 13:00] atomiks opened #708 "Popper overflows with very small reference at edge of screen + arrow element"
### CodePen demo

https://codepen.io/anon/pen/aQZdaY

Mainly concerned about using a virtual reference to follow the cursor, rather than this being a real element on a website

### Steps to reproduce the problem

1.  Move mouse to the left or right edge of the viewport
2.  Popper overflows

It overflows if it has an arrow element. If it doesn't have an arrow, it will ignore the 5px padding and mov

[2018-11-09 23:30] BofEmptiness opened #709 "tooltip.js blurry tooltip text"
**CodePen demo**
Can't reproduce in codepen with the same code and don't know why :/
I think it's the same problem [like this](https://github.com/FezVrasta/popper.js/issues/682), but disableGpuAcceleration not helping or i do it wrong.

Steps to reproduce the problem
Hover on block
Observe the blurry tooltip text.
I'm on a laptop with screen dimensions of 1920x1080 at scale %125.
How it's look lik

[2018-11-10 15:08] BofEmptiness commented on #709
Found a way to solve this by adding style:
[code]

[2018-11-10 20:55] atomiks opened #710 "Arrow position incorrect when an inner element has a border"
### CodePen demo

https://codepen.io/anon/pen/dQpGdm

### Steps to reproduce the problem

I noticed this after creating a tooltip theme with a border.

![img](https://i.gyazo.com/cf9f10d83a329253aa8736573deb7763.png)

1.  Zoom right into both demos

- The top one has an inner element with the arrow inside it, and its position is incorrect (1px too far -- happens for both horiz and vertical placeme

[2018-11-12 12:41] mindtechmedia commented on #300
This doesn't work with a touch event outside the element, correct?

[2018-11-15 17:21] ferdaber opened #712 "escapeWithReference behavior doesn't seem to be right"
### What is the expected behavior?
My interpretation of enabling `preventOverflow` but also enabling `preventOverflow.escapeWithReference` is that the popper will be offset to remain within the boundary, for as long as the reference itself is overlapping with the boundary. Once the reference leaves the overlap of the boundary, the popper will then stop moving (relatively) to its reference with any

[2018-11-15 23:43] Clairly commented on #571
@whitecolor et al, did you end up solving this? I'm having the same problem with a dynamic height popper.

[2018-11-16 09:38] piecyk opened #713 "Popper is not correctly placed by `1px` for some viewport widths in `flexbox` container"
### CodePen demo

https://codepen.io/anon/pen/WYOzLr

### Steps to reproduce the problem

1.  resize the codepen window

<img width="663" alt="screen shot 2018-11-16 at 10 20 47" src="https://user-images.githubusercontent.com/82964/48612908-90dd9700-e98a-11e8-9bf5-05105784daa2.png">

<img width="605" alt="screen shot 2018-11-16 at 10 21 08" src="https://user-images.githubusercontent.com/82964/4861

[2018-11-16 10:41] atomiks commented on #713
Maybe centering needs to use `floor` for left/right, but using shifting like `-start` and `-end` should always `round`. Changing back to `round` will cause the incorrect centering problem... 🤕

[2018-11-16 11:12] piecyk commented on #713
Yep, it could be. In case `-start | -end` round looks like better fit. Will try to dig more into it 👍

[2018-11-16 11:50] piecyk commented on #713
It make sens that the width of popper don't apply in this scenario as we position to edge of reference element, when cantering it's a different story, IMHO this should resolve this issue

Thanks for helping with this 👏

[2018-11-17 15:00] whitecolor commented on #571
As I posted, I use my own modified version of pooper to solve several of my cases which are not supported.

[2018-11-17 16:51] FezVrasta commented on #617
I published 2.0.0-next.3

It finally ships with some modifiers (computeStyles and applyStyles), so you can now use it without any additional configuration required.

If anyone wants to write additional modifiers please do so, it'd be super helpful!

[2018-11-18 05:55] DebasishBahinipati opened #716 "Tooltip shows unexpectedly when a textbox is present below a select box"
I have a select box with 5 items in the dropdown list. Below the dropdown box I have multiple text boxes. Clicking on Select box gets the dropdown menu and then tooltip for the textbox shows which never closes till a full page refresh. Not just textbox, it is happening to any item having tooltip present below a select combo box.

![image](https://user-images.githubusercontent.com/31290135/48669158

[2018-11-19 12:30] FezVrasta commented on #508
Closing because it has been implemented in the `next` branch, we now have `Popper#update` which runs asynchronously and returns a promise, and `Popper#forceUpdate` which runs synchronously.

[2018-11-19 12:30] #508 closed

[2018-11-19 12:59] FezVrasta commented on #617
2.0.0-next.4 is here, the positioning algorithm is now more solid, it'd be helpful if you guys sent PRs to add more visual test cases (failing or not) so that I can improve the algorithm to address them.

[2018-11-19 14:01] aleksanderd opened #717 "Delayed tooltip flashing when pointer is no longer over the reference"
### CodePen demo

https://codepen.io/aleksanderd/pen/QJqROO

### Steps to reproduce the problem

1.  Move mouse over/through the reference so fast and keep the pointer outside the ref.
2.  Wait 1s.
3.  Tooltip will be flashed (show and hide).

### What is the expected behavior?

I think, no tooltip must be showed since the mouse not in the reference area.

### Any other comments?

Seems to be this

[2018-11-19 14:13] #372 closed

[2018-11-19 16:01] aleksanderd opened #718 "Tooltip sometimes disappears even if mouse pointer is over it"
### CodePen demo

https://codepen.io/aleksanderd/pen/VVrZOj

### Steps to reproduce the problem

1.  move pointer to the red, await for the tip displayed
2.  move mouse to the tip slowly for triggering mouseout, but it must take less then 1s (delay param), so the pointer must be in tip element.
3.  the tip will be hidden

### What is the expected behavior?

the tip must not be hidden, since the po

[2018-11-19 16:02] FezVrasta commented on #718
dupe of #669

[2018-11-19 16:02] #718 closed

[2018-11-19 16:49] atomiks commented on #617
2.42 kB is insane, great work!!

[2018-11-19 16:52] FezVrasta commented on #617
Thanks, now the next challenge is to write the `preventOverflow` modifier. As usual if someone wants to give it a shot please do so. I'll be in vacation for a week so I will not be able to work on it during that time.

[2018-11-20 12:26] PaulGiletich opened #720 "'flip' modifier makes popper jitter when popper element has arrow margins set"
### demo
https://popper.js.org/#example3

![ezgif com-optimize](https://user-images.githubusercontent.com/1554577/48773458-7a13a900-ecd8-11e8-984b-da085b9cad8b.gif)

### Steps to reproduce the problem

1.  move the popper to the left side of the area, right until the moment it flips
2.  move it up/down
3.  popper is jittering. probably calculation of margin for arrow is not working well with flip

[2018-11-21 17:43] neel5481 commented on #575
I also have similar problem of dropdown with XHTML. Are we going to include in upcoming release ?

[2018-11-21 18:38] FezVrasta commented on #575
The PR is stuck. But the "next" branch will support it

[2018-11-22 20:38] rabindranathfv commented on #419
@FezVrasta i try with both but always in console i see an error

my project is with angular v7, and lasted angular-cli

using last webpack version
if i put ./node_modules/popper.js/dist/esm/popper.js" or "node_modules/popper.js/dist/esm/popper.js"

![image](https://user-images.githubusercontent.com/28325503/48921212-f34c0100-ee7c-11e8-898d-b9a6730c74c6.png)

another try with "node_modules/popper.j

[2018-11-23 12:59] knstnt-dev opened #721 "Incorrect tooltip location for elements with 0 height if placement: 'bottom-start'"
### CodePen demo

https://codepen.io/anon/pen/bQqgeE

### Steps to reproduce the problem

1.  Create popper using element with 0 height as a reference and placement: 'bottom-start'.

### What is the expected behavior?

Tooltip element is located at the bottom of its reference.

### What went wrong?

Tooltip element is located at the top of the page.

### Any other comments?

This issue was found w

[2018-11-24 22:43] FezVrasta commented on #618
🎉 cool, the new positioning algorithm is paying off.

I hope to be able to ship a stable release in the next 2 months if not sooner.

[2018-11-26 09:23] sverrirs opened #722 "Title attribute on element overrides the title set in options"
Currently any title attribute value set on the attached element will override a value that is set in the options.

https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/src/index.js#L200
https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/src/index.js#L448

This behaviour is not very intuitive as you would expect explicitly set options to be favoured over those set in

[2018-11-26 21:34] FezVrasta commented on #722
If I remember correctly this is the same behavior of Bootstrap, that's what we use as reference for the tooltip API

[2018-11-26 21:55] sverrirs commented on #722
Yeah, this is what I expected.

The reason why I had a problem with this is that the title attribute on the elements I use actually contain HTML entity characters ( <, > etc) that work just fine in the browser default tool tip but I need to explicitly escape to have them show up correctly in your tool tip control.

So I was just going to use a callback function for the tool tip and escape the char

[2018-11-26 22:29] FezVrasta commented on #722
So do you have stuff such as :

[code]

? I don't think that's valid syntax

[2018-11-27 05:07] sverrirs commented on #722
No, what I have is
`
title="blah &gt;"
`
But during the transfer from the attribute value the escaped values get converted back into `>` for some reason.

It is really strange and I'll provide a repro for confirmation. :)

[2018-11-27 14:10] c0bra opened #723 "Proper way to add space between popper and reference element?"
I asked on spectrum.chat but didn't get a response after a week.

I've done a bunch of searching through issues and haven't found anything, but maybe I'm missing it? I was hoping there would be a simple modifier property like a margin or something.

It seems like it can be done with an offset modifier function that looks at the placement and adds an offset to the correct side. Is that the only way

[2018-11-27 14:11] FezVrasta commented on #723
You can just use some CSS margin, it will work.

[2018-11-27 14:11] #723 closed

[2018-11-27 14:29] FezVrasta commented on #723
CSS is the way I use in the examples on popper.js.org, the CSS gets conditionally applied reading the `x-placement` attribute.

I guess you can use `offset` also:

[code]

https://popper.js.org/popper-documentation.html#modifiers..offset

[2018-11-27 14:32] c0bra commented on #723
Ah, `x-placement` is what I was looking for. Thanks!

And thanks for all the hard work you've put into this library. I really appreciate it!

[2018-11-27 19:59] whitecolor commented on #571
@Clairly this is a whole file with changes
https://gist.github.com/whitecolor/f59639616e031421d2a2ea9ed8b33487

[2018-11-29 21:32] kgrote commented on #674
Agree. Took me a while to realize you have to manually apply `position: absolute` for the arrow positioning to work correctly.

[2018-11-30 14:46] seyfer commented on #674
Struggling to add arrow border...

[2018-12-03 13:01] peda commented on #670
I'm having the same issue

[2018-12-05 19:32] alexturpin opened #727 "Tooltips manually hidden with .hide don't show properly"
### Demo

http://jsfiddle.net/kn82c3fz/

### Steps to reproduce the problem

1. Setup a tooltip with a `click` trigger
2. Click the trigger to show the tooltip
3. Hide the tooltip with `.hide()`
4. Try to open the tooltip with the click trigger

### What is the expected behavior?

The tooltip should open.

### What went wrong?

The tooltip doesn't open the first time around, but does the second ti

[2018-12-06 22:48] fokep opened #729 "Unable to determine version from minified js"
### Steps to reproduce the problem

1. Use a minified version of popper.js with Bootstrap
2.  Let time pass
3.  Update Bootstrap and get the latest popper.js
4. Have errors showing up in console
5. Open popper.min.js
6. Look for version number

### What is the expected behavior?

Being able to determine software version from source and understanding changes by browsing the changelog

### What went

[2018-12-07 12:30] Ezra-Siton-UIX opened #730 "Please create one working example "hello world""
The docs missing one simple example (Like most js plugins). Very annoying.

[2018-12-07 12:31] FezVrasta commented on #730
Doesn't this work for you?

https://popper.js.org/#example10

[2018-12-07 15:33] Ezra-Siton-UIX commented on #730
No. Full code (JS + `HTML`). For copy-paste. The docs missing "hello world" style - simple example.

[2018-12-07 15:35] FezVrasta commented on #730
I see, I'll accept a PR to add that, it should be added here:

https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/index.js#L143

[2018-12-07 15:37] Ezra-Siton-UIX commented on #730
Ok. In general most of the docs is like "html -- js (src) + initialize (Than by 10 seconds devX can start to work on plugin X with most basic example).

Example from tippy:

JS src
[code]
html
[code]
intilize
[code]

Thanks.

[2018-12-07 15:38] FezVrasta commented on #730
I understand, but I think this example is pretty eloquent already:

https://github.com/FezVrasta/popper.js#usage

[2018-12-07 15:40] FezVrasta commented on #730
I improved it adding an example HTML, but I'd still like to see it also on the website docs.

[2018-12-07 15:44] Ezra-Siton-UIX commented on #730
And where i find full basic example of `tooltip` - this only position the element:
https://codepen.io/ezra_siton/pen/QzLdYW

[2018-12-07 15:49] FezVrasta commented on #730
Popper.js is a positioning library, not a tooltip library. Use Tooltip.js if you want a complete tooltip.

[2018-12-07 15:50] Ezra-Siton-UIX commented on #730
OK. But where i find full example (for tooltip.js) -

[2018-12-07 15:58] FezVrasta commented on #730
https://popper.js.org/tooltip-examples.html

[2018-12-08 00:17] Ezra-Siton-UIX commented on #730
I saw this. First its hard to  know you should first include `popper` for `tooltip.js` to work (Use **both** files). Next no detials about the style of the `tooltip`.

### tooltip.js basic example
For me this is good/basic starter. How to (Less than 1 minute to get working example):

**1. Including files**
[code]
**2. HTML structre**
To apply this component, add the `data-tooltip` attribute to an

[2018-12-11 09:41] Ashot-KR opened #731 "[Question] Flip to 'bottom-start' instead of "stick" to viewport"
Got popper with placement set to 'bottom-end'. When popper element "touches" left edge of viewport is "sticks" to it, but i want it "flips" to `bottom-start`. Can i implement such behaviour?

What i've got
![image](https://user-images.githubusercontent.com/899218/49790365-11e83e00-fd3f-11e8-86e7-601bfc007116.png)

What i want
![image](https://user-images.githubusercontent.com/899218/49791468-99cf4

[2018-12-11 10:13] FezVrasta commented on #731
Sorry I don't think I understand the question, may you elaborate?

[2018-12-11 10:50] Ashot-KR commented on #731
looks like i'm bad to explain it in english 😬
So i better show you
![](https://habrastorage.org/webt/w5/rn/wb/w5rnwb72255t8gks8zo8unmg7wg.gif)
I want to implement this behavior

[2018-12-11 10:52] FezVrasta commented on #731
I see, I don't think it is supported out of the box at the moment, but you can implement that writing a custom modifier if you want to get your hands dirty.

[2018-12-11 10:52] #731 closed

[2018-12-11 10:52] FezVrasta commented on #727
Thanks for the upcoming PR!

[2018-12-11 22:36] Amantel commented on #342
Hi! Can we do the same for popper?

[2018-12-12 09:33] hsowan opened #732 "Uncaught SyntaxError: Unexpected token export"
At `export default ve;`

[2018-12-12 09:34] FezVrasta commented on #732
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-12-12 09:34] #732 closed

[2018-12-14 12:32] palaniichukdmytro opened #733 "Tooltip does not align correctly refers to component"
### CodePen demo

https://codesandbox.io/s/z65yyvlj3l

### Steps to reproduce the problem

### What is the expected behavior?

The tooltip should be centerd on the top of plus icon button
### What went wrong?

Tooltip shifted to the left on the top, when the button is align to the right in flex container.
### Any other comments?

I use material UI react library, and got an issue that tooltip can n

[2018-12-20 11:07] jinhucheung commented on #670
Same problem here

[2018-12-20 11:37] FezVrasta commented on #670
Hey guys, I got it :-) I have already labelled the issue, if anyone wants to work on that please feel free to submit a PR with the fix.

[2018-12-22 16:57] casdevs commented on #546
We're also having the same problem. LICENSE file is missing if npm package is installed, thus it doesn't get included in our webpack's LICENSE file collection workflow...

[2018-12-22 17:05] FezVrasta commented on #546
The license is at the top of the dist files

[2018-12-22 17:17] casdevs commented on #546
ok thanks for pointing me at this, but would it also be possible to include the LICENSE.md file for our npm package friends? see https://docs.npmjs.com/files/package.json#files

[2018-12-22 17:21] FezVrasta commented on #546
please feel free to send a PR to add this

[2018-12-27 13:02] ChrisGao2016 commented on #188
@FezVrasta
I read the code of popper.js recently. I found you change the algorithm of getting the reference position after the 1.0.8 version.  I  think the original algorithm still works in this case.  when the boundariesNode of popper  is  body. You didn't calculate the offset that from boundariesNode to the offsetParent of popper is the cause of the problem.
You could change the code in the  get

[2018-12-27 13:09] FezVrasta commented on #188
@ChrisGao2016 please may you send a PR adding a failing test case for this issue? I thought it was fixed

[2018-12-27 13:22] ChrisGao2016 commented on #188
@FezVrasta The new algorithm is nice. so the PR of old version has little meaning.  Thanks for your wonderful code of popper.js.

[2018-12-27 17:20] petermonte opened #734 "Auto placement available space calculation"
### CodePen demo
https://codepen.io/anon/pen/ebEjXj

### Steps to reproduce the "problem"
scroll up and down until the element that receives the tooltip (black square) reaches top or bottom of Codepen preview container.
![tooltip](https://user-images.githubusercontent.com/4997381/50488249-7b33a680-09f9-11e9-9cd9-cae30b64fd4e.gif)

### What is the expected behavior?
To have the tooltip changing the

[2018-12-27 17:33] FezVrasta commented on #734
Unfortunately I think this is the expected behavior right now, the `auto` placement will always position to the side with more available space. I think to "fix" this we should calculate the available space only at the beginning and not un subsequent updates.

[2018-12-27 17:51] petermonte commented on #734
@FezVrasta thanks for the feedback and thanks for such library. Your code is being used on a UI kit I'm building and it is amazing how many components require **popper.js** logic.

For better context, please bear in mind that I am focusing **Tooltip.js** and not **Popper.js**.

It would certainly be nice to have this behavior. In some contexts it is desired to leave the tooltip always at top, as m

[2018-12-27 18:54] FezVrasta commented on #734
I agree there are better default behaviors for "auto".

If you have time you may open a PR targeting the "next" branch where you add a text file that describes what a good "auto" behavior could be. Trying to be as technical as possible to help me with the conversion to code

[2018-12-27 18:57] petermonte commented on #734
It's a deal. Thanks.

[2019-01-07 22:58] scottmmjackson opened #735 "Popper.js breaks webpack because its name ends in `.js`"
### Steps to reproduce the problem

1.  Have a regular webpack project with a resolver.
2.  Attempt to import `bootstrap` ~v4

### What is the expected behavior?

importing bootstrap v4 works out of the box

### What went wrong?

[code]

### Any other comments?

[2019-01-08 01:34] wuweiweiwu opened #736 "Flip modifier `behavior` doesn't work correctly with `variation`"
### CodePen demo

https://codepen.io/wuxx1045/pen/roKWJJ

### Steps to reproduce the problem

1.  drag the window so that the popper overflows
2.  observe that the flip to the left doesnt happen
3.  change `bottom-end` to `bottom` (by uncommenting) and see that it now works

### What is the expected behavior?

should flip to the left when overflowing

### What went wrong?

`variation` seems to bre

[2019-01-08 07:46] FezVrasta commented on #735
That's a problem with the Bootstrap configuration. Not with this package.

Popper.js works fine with webpack

[2019-01-08 07:46] #735 closed

[2019-01-08 14:31] scottmmjackson commented on #735
Sorry, could you give me more information about how it's a problem with the bootstrap configuration?

At first glance, it looks like `popper.js`'s name is confusing webpack because bootstrap uses `import Popper from 'popper.js'` and webpack reads it as a file in the cwd, not a module. Am I reading that incorrectly? Is there any more information I can provide?

[2019-01-08 14:37] FezVrasta commented on #735
Webpack will not try to import `./popper.js` if you require `popper.js`, it will look for it in `node_modules` in this case.

Bootstrap has a weak CJS bundle that improperly defines its dependencies.

[2019-01-08 14:42] FezVrasta commented on #735
You may try to run `npm i --save popper.js`, I see that Bootstrap marks Popper.js as a peer dependency so it must be installed manually

[2019-01-08 14:42] scottmmjackson commented on #735
I'm going to try this and report back if it works: https://github.com/twbs/bootstrap/blob/d50ed9a2bde22067c0e5f21d1614e477e362165a/site/docs/4.2/getting-started/webpack.md

[2019-01-08 15:18] Johann-S commented on #735
I would be more than happy if you can help us on that @FezVrasta 👍

I'm a bit suprised you have any issues on importing Bootstrap with Webpack @scottmmjackson, do not hesitate to ask around in the official Bootstrap Slack team or Stack Overflow. [See our readme for more details](https://github.com/twbs/bootstrap#community).

[2019-01-11 06:44] hltfe opened #737 "Add Popper automatic hiding possibilities"
If the parent of reference is scrollable, it is recommended to add poppver auto-hiding function if reference is not in the scope of screen display. When reference reappears on the screen, the user triggers its display

Think about the following scenarios：
the parent of reference is scrollable  and position is Fixed
the popper's position is Fixed too,  when parent scroll, popper will be overflow

[2019-01-11 09:31] zoxon commented on #55
For version 1.14.6
[code]

https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.padding

[2019-01-11 12:38] FezVrasta commented on #737
I think you are looking for the `hide` modifier that adds an attribute to let you know when to hide the popper.

Anyway, please, next time follow the issue template. Thanks!

[2019-01-11 12:38] #737 closed

[2019-01-12 19:49] tassoman commented on #732
Probably duplicate of #684
If you're loading in the browser using `<script>` tag you need `dist/umd/*` files

[2019-01-12 22:11] brunolemos commented on #617
What's the current state of react-native compatibility?
Related: #357 (@slorber)

[2019-01-12 22:35] FezVrasta commented on #617
I haven't yet experimented with it. Developement of v2 is going slowly unfortunately.

[2019-01-14 18:52] bfeifke commented on #674
@kgrote can you elaborate on what you mean?

[2019-01-17 12:38] FezVrasta commented on #412
The OP closed it. I'm still fine if someone wants to implement it. I already implemented something similar on the `next` branch

[2019-01-17 17:32] gillisig opened #738 "Examples on popper.js.org are broken due to a broken link to popper.js"
As the title says, all the examples on popper.js.org are broken because https://unpkg.com/popper.js@1.14.6/index.js is returning a 404

[2019-01-17 17:34] FezVrasta commented on #738
I don't see any error, may you post a screenshot of the network tab where the error is reported please?

[2019-01-17 17:35] FezVrasta commented on #738
![image](https://user-images.githubusercontent.com/5382443/51337130-9d639600-1a86-11e9-86e3-c4934a815c9d.png)

This is what I see

[2019-01-17 17:46] gillisig commented on #738
Here you go:

<img width="1670" alt="image" src="https://user-images.githubusercontent.com/5390864/51337631-88cfcf80-1a7f-11e9-86a9-d212921bb59e.png">

I tried it in every browser and turned off every extension thinking something might be blocking it but I get the same results everywhere. Also tried it on another computer.

[2019-01-17 17:48] FezVrasta commented on #738
The thing is that I don't import the js file directly, I leave this to the resolution system of unpkg.com:

https://github.com/FezVrasta/popper.js/blob/fec3de12c87af087e049d4a868ef7b97494e4f0b/docs/_includes/scripts.html#L10

Maybe they are having some problems on their side.

[2019-01-17 19:53] gillisig commented on #738
Yeah most likely, when I got to that address in my browser it says ```Cannot find "/index.js" in popper.js@1.14.6```

[2019-01-17 19:59] #738 closed

[2019-01-21 12:12] NetanelBasal opened #739 "Popper with perfect-scroll-bar not working as expected"
Hey, thanks for this great library. We're using [perfect-scroll-bar](https://github.com/utatti/perfect-scrollbar) in our application. When we initialized Popper inside it and scrolling, the Popper element doesn't stick to the origin. It seems like the scroll events don't work.

After a little investigating I saw the following method in the source code:

[code]

And I assume that it's not working b

[2019-01-21 14:20] NetanelBasal commented on #739
After further investigation, I saw that you're using the following way to set the scrollable parent:

[code]

What do you think about allowing setting the scrollable parent programmatically?

[2019-01-21 15:18] syzhakov opened #740 "Changing the DOM after the popper was created"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

[2019-01-21 15:28] syzhakov opened #741 "Changing the DOM after the popper was created"
### Steps to reproduce the problem

1. create a popper instance (new Popper(...))
2.  add an element to the DOM, above the referenced element (I'm using Vue but jQuery would work as well)
3.  the popper will not point to the referenced element anymore, but will stay at the old position

### What is the expected behavior?

When the DOM changes and the referenced element moves, the popper will follo

[2019-01-21 15:55] #740 closed

[2019-01-21 15:58] FezVrasta commented on #739
You can do that manually:

[code]

[2019-01-21 15:58] #739 closed

[2019-01-21 16:01] syzhakov commented on #741
I agree about the expensiveness issue, but I would expect it to follow the DOM behaviour just as any other element. Isn't there a way to change the origin of the translate3d property? If it would follow the origin I choose I can ensure that it is kept aligned to the other content..

[2019-01-21 16:04] NetanelBasal commented on #739
Thanks, that's what I did.

[2019-01-21 16:19] FezVrasta commented on #741
If you want to make it relative to some given parent, you will have to put the popper inside that container and set `position: relative` and `overflow: hidden` to the container itself.

[2019-01-22 12:23] FezVrasta commented on #741
I think the container must also be `overflow: hidden` to work properly, but in my opinion it would make more sense to trigger the `scheduleUpdate` when you need it.

[2019-01-22 19:51] claviska commented on #468
To describe a use case, I'm using Popper for toolbars in an editor. There's a primary toolbar that sits above a content region and a handful of secondary toolbars that appear depending on the user's selection (e.g. selecting a table shows the table toolbar). Since the position of the user's selection is arbitrary, the toolbars overlap in certain cases.

I'd love to see poppers with `avoidCollision

[2019-01-23 16:03] SavePointSam commented on #400
Just ran into this myself.

[2019-01-23 17:26] elie222 commented on #300
I recommend using this library for this functionality.

[2019-01-24 20:44] elie222 commented on #300
For those using React, I created a gist of an HOC that you can attach to any component to close it when clicked outside:

https://gist.github.com/elie222/850bc4adede99650508aba2090cd5da1

[2019-01-25 19:50] tylercrocker commented on #686
So we use shadowRoot VERY heavily with our internal CMS, and ran into this issue. I was able to resolve the tooltips not disappearing properly on mouseout/mouseleave when in a shadowRoot by just binding a custom event listener for it and calling the hide function, like so:

[code]

I used `mouseleave`, but I think that or `mouseout` both work totally fine depending on your use-case. (Refer to http

[2019-01-26 09:28] monsterkrampe opened #745 "Tooltip.js - arrow and offset modifier options are ignored"
It's not a Codepen but a Codesandbox, hope that this is also fine:
https://codesandbox.io/s/ly4o3p257q

(Open the Console at the bottom to see the warning.)

### Steps to reproduce the problem

1.  create Tooltip
2.  disable `keepTogether` modifier
3.  disable `arrow` modifier

`popperOptions` looks like this
[code]

### What is the expected behavior?

Since `keepTogether` is disabled, a warning i

[2019-01-26 09:47] monsterkrampe commented on #745
I just noticed that the options are also ignored for the `offset` modifier, for the same reason.
I'm gonna fix that as well.

[2019-01-26 10:28] #745 closed, assigned to nobody

[2019-01-27 16:09] GuitarHero1969 opened #747 "System.InvalidOperationException: 'popper' is not a valid script name. The name must end in '.js'."
I'm getting the above error page when running my asp.net web forms application (.net 4.7.2)

If the name MUST end in .js, then why don't MsAjaxBundle, jquery and bootstrap script references in Site.Master also end in .js ?

Why is there no less than THREE !! lots of popper.js in the project files, one under Scripts/esm, one under Scripts/umd and a third under Scripts ?

Do I need to reference popp

[2019-01-27 21:16] FezVrasta commented on #747
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-01-27 21:16] #747 closed

[2019-01-28 09:21] GuitarHero1969 commented on #747
What do you need ? Code ? Errors ? Exceptions ?

This is in the Site.Master

` <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptRefer

[2019-01-28 16:45] Crocmagnon opened #748 "UMD file does not work with Bootstrap 4 dropdowns"
I'm having this issue in an Angular 7 app. I **was not** able to reproduce it with pure Bootstrap CSS/JS and Popper.js.

### Steps to reproduce the problem

1. Create an angular app with ng-cli
1. Install bootstrap and bootstrap types:
    - `npm install --save bootstrap @types/bootstrap`.
    - `@types/bootstrap` requires `popper.js` as a dependency.
1.  Include Bootstrap 4 CSS and JS files
2.  I

[2019-01-28 16:46] FezVrasta commented on #748
`node_modules/popper.js/dist/esm/popper.js`, you are using ESM rather than UMD, switch to UMD to get it working

[2019-01-28 16:46] #748 closed

[2019-01-28 16:49] Crocmagnon commented on #748
Sorry, the `esm` mention in my first message was a typo. As I mentioned, I tried both UMD and ESM.
- UMD breaks dropdowns
- ESM gives an error in the console but everything works fine

[2019-01-28 16:50] FezVrasta commented on #748
the error you reported is because you are using ESM, you haven't provided the error you get with UMD.

[2019-01-28 16:51] Crocmagnon commented on #748
When working with UMD, the dropdown doesn't work. That's my unexpected behavior.

[2019-01-28 16:52] FezVrasta commented on #748
How am I supposed to help you? 😅

[2019-01-28 16:55] Crocmagnon commented on #748
Well I don't understand why everything works fine with ESM except for that console error but when I try to use the UMD build, which everyone recommends, some components break.

[2019-01-28 16:56] FezVrasta commented on #748
I don't know I'm sorry 🔮

[2019-01-28 16:57] Crocmagnon commented on #748
Where do you suggest I could help with that issue ? It seemed pretty popper.js-related to me so that's why I posted this issue.

[2019-01-28 16:58] FezVrasta commented on #748
Maybe on StackOverflow, but the thing is that if you don't provide a reproducible example I doubt anybody will ever be able to help you. We are not in your computer.

[2019-01-28 17:09] Crocmagnon commented on #748
Here's a MWE if you want to reproduce : https://github.com/Crocmagnon/angular-bootstrap4-dropdown-issue

I'll try to post on SO

[2019-01-28 17:12] Crocmagnon commented on #748
Here's the SO question for reference : https://stackoverflow.com/questions/54407072/bootstrap-4-dropdown-breaks-with-popper-js-umd-build-in-angular-7

[2019-01-29 06:03] guimard opened #749 "Unable to build"
Hello,

I'm unable to build your package. Below explanations.

Cheers,
Xavier

### Steps to reproduce the problem

1. Install
[code]
First error: [2019-01-29T05_52_56_691Z-debug.log](https://github.com/FezVrasta/popper.js/files/2806288/2019-01-29T05_52_56_691Z-debug.log)

2. Try to build
[code]
Second error: [2019-01-29T05_58_26_309Z-debug.log](https://github.com/FezVrasta/popper.js/files/2806294/

[2019-01-29 06:08] atomiks commented on #749
I guess npm@5 doesn't support node@10, try upgrading to npm@6

[2019-01-29 06:11] guimard commented on #749
Same error with a new npm :
[2019-01-29T06_10_00_264Z-debug.log](https://github.com/FezVrasta/popper.js/files/2806315/2019-01-29T06_10_00_264Z-debug.log)

[2019-01-29 06:14] atomiks commented on #749
I think Yarn is required to install this project actually?

[2019-01-29 06:15] guimard commented on #749
yarn is installed (1.13)

[2019-01-29 06:21] guimard commented on #749
Next try:
* `yarn install` => OK
* `yarn build` => OK

So build isn't compatible with npm but works with yarn. Thanks.

[2019-01-29 10:41] kasparsuvi1 commented on #518
Made PR #750 for that.
@FezVrasta

[2019-01-31 04:02] johndugan opened #751 "Prevent Default Browser Behavior for Titles on Popper Elements"
Hi There!

I'm using Popper along with the Tooltip addon. By default, the tooltip content grabs the value from the `title` attribute on the trigger element.  Then, if a `title` value exists, when hovering over the trigger you see the Tooltip ui along with the browser's native behavior/ui for elements with the `title` attribute. Shouldn't the native behavior be prevented? Am I overlooking an option

[2019-01-31 08:18] FezVrasta commented on #751
Thanks for the report, it must be a bug.

[2019-02-03 09:33] hypeJunction commented on #500
I must agree that flipping when scrolling makes for a very annoying user experience. After the popup is rendered is should stick to the same position, at least for vertical scroll.

[2019-02-04 12:05] hdodov opened #752 "Misplaced tooltips on page overflow"
I'm implementing tooltips on a Vue application and basically all third party components use popper. In the design, there are no tooltip arrows and I decided to exclude the styles for them.

Well, it took me about 5 hours and going through all available Vue components to figure out that one very simple CSS rule is causing an overflow issue, coming from popper.js core:

[code]

Without the rule:
![i

[2019-02-04 13:36] FezVrasta commented on #752
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-02-04 13:36] #752 closed

[2019-02-07 23:29] sgilligan commented on #400
+1

[2019-02-12 13:31] tomaskikutis commented on #446
How does one make this work with flip enabled? I want Popper to drop to the direction where more space is available and make the content scrollable.

I ended up doing the calculations manually before Popper runs so flip works properly. This doesn't work with events since Popper can't decrease the maxHeight.

[code]

Is there a proper solution for this?

[2019-02-12 21:14] BillSnee commented on #751
Sorry if I am wrong, but I think I found something related to this issue.  Firefox dev console is reporting an issue with tooltip.js

TypeError: this.element.getAttribute is not a function
`  _fixTitle() {
    const titleType = typeof this.element.getAttribute('data-original-title')

    if (this.element.getAttribute('title') || titleType !== 'string') {
      this.element.setAttribute(
        'd

[2019-02-18 10:00] raquo commented on #628
@FezVrasta Any plans to fix this bug?

Using position:relative on a common parent element that contains just the target and the popper element is the only way to keep them together when the position of the reference changes due to DOM. Manually triggering popper recalculation every time DOM changes somewhere else in the app is not a solution for any sizeable app.

[2019-02-18 17:51] FezVrasta commented on #628
@raquo do you have a way to test with popper.j@next?

[2019-02-18 21:54] raquo commented on #628
@FezVrasta popper.js@next has the same problem: https://codepen.io/anon/pen/MLLJGr (this codepen uses the `@next` version of popper)

[2019-02-19 02:10] FezVrasta commented on #628
Thanks for testing, I see what's going on. I'm going to add support for this case on the `next` branch as soon I figure out how :-)

[2019-02-19 02:20] raquo commented on #628
Thanks! I don't know how much the `next` codebase is different from v1, but if the fix ends up being easy to backport, it would be really good to have this in v1.

[2019-02-19 07:13] FezVrasta commented on #628
`next` is a complete rewrite, the code is easier to manage, I'm not working anymore on v1 because of the complexity of the codebase.

[2019-02-19 15:35] ranuss commented on #514
Is there any progress? I am not able to get the arrows working as i want.

[2019-02-19 17:31] FezVrasta commented on #514
This is just a documentation ticket, there's nothing broken with the library.

[2019-02-20 12:50] grumd commented on #519
OP's problem is rather simple to fix.

The issue is that his modifiers have `order: 800` which means they are applied AFTER the viewport boundary modifiers are. Just change `order: 800` to `order: 220` to do it immediately after default `offset` modifier and it will work fine.

[2019-02-20 16:23] FezVrasta commented on #519
I'm glad to say the ordering system changed in v2 😂

[2019-02-21 16:38] robclancy commented on #674
The fact this isn't out of the box was incredible when installing this. I had to grab the styles from the demo site. Such a weird decision... weird enough to even think of it let alone do it.

[2019-02-22 11:11] atomiks commented on #708
@FezVrasta any idea what the problem here is?

[2019-02-22 17:14] FezVrasta commented on #708
You should set a `margin-top: 20px` to your poppers to take in account the arrow size. Once you fix that everything should look good.

[2019-02-22 21:07] atomiks commented on #708
I'm mainly talking about the left/right overflow in the example. Adding margins there seems to cause excessive padding

[2019-02-27 19:35] broyde commented on #670
@mirraj2 Seems I've found the solution.
Try
[code]

[2019-02-28 05:34] ko06 commented on #493
IS there any simple hack method is available for this issue?

[2019-02-28 07:43] AndreyGladkov opened #755 "Flip modifier `behavior` doesn't work correctly"
### CodePen demo

https://codepen.io/andreygladkov/pen/aMvZEG

### Steps to reproduce the problem

1.  Open CodePen template

### What is the expected behavior?

Should flip to the left or right.

### What went wrong?

Flip work only --start or --end current placement.
In the current example, the flip should change placement to the right or left and not overlap the ref element.

### Any other comm

[2019-02-28 20:26] #512 closed

[2019-03-01 03:04] atomiks commented on #708
As far as I'm aware it seems to be a side effect of the `keepTogether` modifier. It will keep the arrow together with the reference no matter what, but I think it should not cause the popper to overflow in order to keep the arrow with the reference.

[2019-03-04 14:28] marcohamersma commented on #571
Hey all, it would be great to see this issue fixed. I managed to fix it by creating a local copy of popper.js and using the fixes @whitecolor mentioned.

I wanted to make a pull request, but realised we should probably figure out why `styles[x]` and `styles[y]` need to be set to an empty string for this to work as expected. Anyone have an idea?

If anyone's interested, [here's the diff](https://gi

[2019-03-04 16:12] johnknoop opened #756 "Can this be done with Popper?"
I tried using the Spectrum chat, but got "internal server error" when I uploaded images, so I'll try my luck here instead.

Using the default modifiers, the vertical flipping works great, but if it doesn't fit in the viewport horizontally, it doesn't do any alignment at all.

Here's my default placement:

![bottom_start](https://user-images.githubusercontent.com/3394270/53745953-74fdf280-3ea0-11e9

[2019-03-05 18:24] johnknoop commented on #756
Looks like I managed to solve it using a customer shift function:

[code]
Is this the way to do it, or am I mutating the wrong properties or something? (I'm a Popper newbie)

[2019-03-05 18:39] FezVrasta commented on #756
Have you tried to use the `flipVariations` option of `flip`?

[2019-03-05 19:02] johnknoop commented on #756
Hi @FezVrasta

No, I wasn't even aware of those. That doesn't seem to be described in the documentation, nor in the TypeScript definitions.

[2019-03-07 06:09] nanmaniac opened #757 "No popover within swiper"
Hello,
I'm using bootstrap ans swiper (https://idangero.us/swiper/get-started/). No popover is working within the swiper. I click on the link and no window is showing up. If I right click on the link, then it shows!!
Can anyone give me a clue how to fix it? Thank you!!

### Steps to reproduce the problem

1.  Go to http://pf2.easytool.es/index.php?id=2745&advancement=0
2.  Click on telepathy (pink

[2019-03-07 11:17] FezVrasta commented on #757
I'm sorry you are facing this issue, but it doesn't seem to be an issue related with Popper.js. You may try to contract the Swiper developers.

[2019-03-07 11:17] #757 closed

[2019-03-13 19:02] ericsakmar commented on #52
Is this still the best way to handle this situation? Thanks!

[2019-03-13 19:11] ericsakmar commented on #52
I'm still seeing the popover after it scrolls outside of the boundaries. Is there anything I need to do to enable this feature?

[2019-03-13 20:21] FezVrasta commented on #52
You have to enable it, it's disabled by default

[2019-03-13 20:56] ericsakmar commented on #52
Cool. How would I enable it? I'm not quite sure I understand. Thanks!

[2019-03-13 22:15] FezVrasta commented on #52
[code]

[2019-03-13 22:19] atomiks commented on #52
@FezVrasta `hide` is enabled by default isn't it? 😆

https://popper.js.org/popper-documentation.html#modifiers..hide.enabled

@ericsakmar  you need to use something like

[code]

[2019-03-13 22:37] FezVrasta commented on #52
oh, right, thanks

[2019-03-15 10:52] TrueRushHunt3r commented on #455
@kjdion84 Do you know if the Issue with the scrollbar is still active? Because I am experiencing this behaviour, that my tooltips from Mui only are in the right place (bottom-center) when a scrollbar shows up. When no scrollbar is there, they are shifted by a few (maybe 20px) to the left. But this behaviour started at first when I started to make the root div 100% height.

[2019-03-15 10:56] kjjdion commented on #455
The issue is that popper does the calculations before the DOM is done loading, and does not factor in new DOM elements added via AJAX etc.

[2019-03-15 11:01] TrueRushHunt3r commented on #455
mhm... ok. I am now doing a workaround that i am always showing th scrollbar. Not the best solution but IMO better then misspositioned tooltips '^^

[2019-03-15 11:05] kjjdion commented on #455
The solution is to use html `title` attribute instead.

[2019-03-15 11:09] TrueRushHunt3r commented on #455
Can you explain this a bit more. I thought title is for representing the Title not for rearangement of some positions.

[2019-03-18 03:35] waltermaldonado commented on #169
Could you please take a look in it again? I am having the exact same issue with Tooltip.js 1.3.1.

[2019-03-19 11:11] mtugnoli opened #762 "with bootstrap.css seem not run"
Simply add     <link href='bootstrap.css' rel='stylesheet' /> on header page,
and popper semm not run

Any Idea ?

[2019-03-19 12:52] FezVrasta commented on #762
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-03-19 12:52] #762 closed

[2019-03-19 14:22] mtugnoli opened #763 "Seem not run with bootstrap"
### CodePen demo
https://codepen.io/mtugnoli/pen/jJpjjB?editors=0010

### Steps to reproduce the problem

1.  I use your https://fullcalendar.io/docs/event-tooltip-demo sample
2.   I insert bootstrap.css
3.  and than tooltip don't run !
4. If you remove bootstrap.css  reference all run ok

### What is the expected behavior?

I'm asking if popper run also with bootstrap

### What went wrong?

Is po

[2019-03-19 14:33] FezVrasta commented on #763
Please consider opening an issue on the Bootstrap repository, this same codepen should be helpful to them.

[2019-03-19 14:33] #763 closed

[2019-03-19 20:34] craigjennings11 commented on #636
I had the same issue, but was able to get around it by disabling `gpuAcceleration`.

[code]

[2019-03-20 01:41] caseyjhol commented on #636
@craigjennings11 Awesome - looks like that works!

[2019-03-21 01:47] tylercrocker commented on #686
OK, here am providing examples of tooltip.js not working in ShadowDOM. Note that I also pointed out it appears to not work properly in iFrames as well, so you may wish to take what I have here and dump it into a raw test page.

https://codepen.io/cardtable/pen/GeYxyY

@FezVrasta any thoughts?

I'm fine with writing my own workarounds for ShadowDOM, but I need a way of dealing with it going out of

[2019-03-21 18:12] jsmnbom commented on #676
@FezVrasta It looks like this has been merged?
If so, could you maybe release a new release on NPM with the fix?

[2019-03-22 01:39] shreeve opened #764 "Ideas for pixel-perfect, non-blurry display"
**Disclaimer:** The pixel-perfect / blurry issue has many other tickets describing a whole variety of possible workarounds and tweaks, but I'm adding this as a new ticket in the hopes that some of these ideas can help further improve or refine the positioning in popper.

First, popper calculates it's initial positioning using [`getOuterSizes.js`](https://github.com/FezVrasta/popper.js/blob/master/

[2019-03-22 07:33] atomiks commented on #764
Amazing post. Would be great if you converted it to JS

I mostly did it: https://codepen.io/anon/pen/LaMPbo?editors=0110, but I don't understand the `x` &  `y` variables in `computeStyle` (and probably the `gpu` variable is wrong too)

[2019-03-22 07:53] FezVrasta commented on #764
I don't think I fully understand. We already round the offsets to the closest integer

[2019-03-22 09:48] atomiks commented on #764
So I tried implementing this in core [but failed I think since the positions break when resizing] - what I noticed is that it can be 0.5px off using the fractional values compared to the current solution I made (using `getRoundedOffsets`). I tested using the playground from #715

[2019-03-22 10:46] toovy commented on #300
I can confirm that closeOnClickOutside does not work with touches on iOS/iPhone. The name of the parameter explicitly suggests, that it handles clicks only, but I think touches should also be handled.

It seems that here only a click listener ist registered: https://github.com/FezVrasta/popper.js/blob/b4aae4b6cffffd3f61458c384b999a86c27b16a7/packages/tooltip/src/index.js#L361

[2019-03-22 11:23] atomiks commented on #300
@toovy the problem is iOS doesn't fire click events unless it was initiated on a "clickable" element (one that can receive focus)

A fix is to use `document.body.style.cursor = 'pointer'` if detecting iOS. `touchend` doesn't have the same behavior as a regular click and I wouldn't recommend it, because unintentional touches outside the popper can accidentally close it. It should be an intentional

[2019-03-22 12:11] toovy commented on #300
@atomiks thanks for the tips, I'll try that out.

[2019-03-22 23:30] shreeve commented on #764
@FezVrasta - There are a few things that I learned over the past few days working on this issue on Chrome 72 on macOS Mojave.

It seems there are two main ways that browsers can position elements. The first is the "normal mode", in which the browser is in charge of all positioning, doesn't use the GPU, and aligns fractional pixels to it's own sub-pixel grid that is able to produce "not exact" posi

[2019-03-22 23:34] shreeve commented on #764
@atomiks - Sorry for leaving some extra sauce of mine in the code above. You are right that's not germane to the general solution.

What I'll work on now is a general solution in the form of a PR. I was just deep in the weeds and wanted to create an issue to track these concepts before they slipped my mind. :-)

[2019-03-22 23:48] shreeve commented on #764
@atomiks - I just saw your code updates. I will check them out in more detail.

FWIW, the reason _we_ are so interested in pixel-perfect display is because we have an existing element that contains several pieces of data, and when you hover on it, a new popper is displayed "on top of" the previous element but it contains a lot more information and details. So, if the new popper is even slightly of

[2019-03-24 20:01] lionpeloux commented on #670
Same problem here. Is this the right fix ?

[2019-03-25 11:20] akhilaudable commented on #112
Say, we have a parent component which has `overflow: hidden` and in one of the children component we should implement `Popper`. Now how can I go back to the parent and change the parent's style(remove  `overflow: hidden`) to get the Popper? How will this become expected behavior?

[2019-03-26 05:53] shreeve commented on #764
@atomiks - The `inner` and `outer` are based on our internal use case, not needed here. The `x` and `y` are basically just the `left` and `top`. The code referring to the `0.001` just tries to determine if the final coordinates are "close enough" to being able to use the GPU or not. If they are close enough, then `gpu` will `true`. If not, then it'll be `false` and things will fail over to the "no

[2019-03-27 04:29] brettz9 opened #765 "Ship tooltip.js with popper.js bundled"
### CodePen demo

This is a build bug rather than a code bug, so I can't demo it at Codepen.

### Steps to reproduce the problem

1.  Add the line `import Tooltip from './node_modules/tooltip.js/dist/esm/tooltip.js';` into one's code.
2.  See it fail to import the code in console.

### What is the expected behavior?

Per https://github.com/rollup/rollup/wiki/pkg.module#user-content-wait-it-just-me

[2019-03-27 07:11] FezVrasta commented on #765
imports without paths refer to node_modules dependencies. It's the standard way to import them

[2019-03-27 07:11] #765 closed

[2019-03-27 07:23] brettz9 commented on #765
I'm aware that they refer to `node_modules` dependencies, but it is not a "standard" way to import them as far as the browser; it *is* a common convention for bundlers or bundler plugins to recognize the Node resolution algorithm when building browser bundles, but my point is that you have no tooltips file which can be consumed directly by the browser.

[2019-03-27 07:28] FezVrasta commented on #765
You can use UMD and CJS builds. Please refer to the readme file

[2019-03-27 07:33] brettz9 commented on #765
I know, but I'd really rather not. I like using ESM as a format, thereby avoiding clutter in HTML (and avoiding my application's consumers needing to do so as well, e.g., for `import()`-driven plugins).

[2019-03-27 07:48] FezVrasta commented on #765
I understand. But there's not any convention to define how to import dependencies from a native ES module.

If I change the import to be a relative path it would break the usage with module bundlers such as webpack and rollup

[2019-03-27 08:04] brettz9 commented on #765
But why can't you just let Rollup bundle popper.js into the file? I also wouldn't expect it to break webpack/rollup, both of which seem to have no trouble importing relative paths when I have used them...

[2019-03-27 08:08] FezVrasta commented on #765
Because that's not how a modular dependency system works. The modules must be isolated and refer to their dependencies.

If everything was bundled inside the package you'd be forced to use the specific version I defined, you would have to ship it twice if you are using other modules that depend upon it and I would have to update the module every time I release a new Popper.js version

[2019-03-27 08:28] brettz9 commented on #765
ES Modules were not designed solely to be used by bundlers which could, as is indeed ideal, strip out redundancies, but to be usable in live code and not force the consumer to be aware of any dependencies--that's one of their big appeals. So, imo, it is better to accommodate consumers who just want things to work even if that ties them to a particular version. Those with complex set-ups requiring

[2019-03-31 20:06] blackdwarf commented on #493
I am runningn into the same issue, but I would like to show the popper and have it positioned under the reference element always, regardless if the popper would fit in the viewport or not. I cannot seem to find the solution, so any help would be appreciated.

[2019-03-31 20:24] atomicbrainman commented on #756
@FezVrasta It's not released yet.
https://github.com/FezVrasta/popper.js/releases
Can you please make fresh releases for `popper.js` and `react-popper`?

[2019-04-02 09:36] Simonwep opened #766 "Tooltip overflowing body"
### CodePen demo

Sorry, already got this in a JSFiddle:
https://jsfiddle.net/0x7cpavb/

### Steps to reproduce the problem

1.  Put element on the very right of the page
2.  Use element as reference element for tooltip.js

### What is the expected behavior?
Popper prevents this kind of clipping

### What went wrong?
The tooltip gets clipped by the body

### Any other comments?
Used the latest ver

[2019-04-04 18:22] johnknoop commented on #455
I'm seeing this issue as well, for every case where the reference element is float: right or right-aligned using flex.

[2019-04-04 18:56] johnknoop commented on #670
@lionpeloux

escapeWithReference for sure does something, but it doesn't solve the problem for me.

[2019-04-04 21:24] tylercrocker commented on #686
So I WAS able to fix this by setting the `boundariesElement` to the top-most element that is NOT the body. It cannot be set to `window`, `document` or the body itself, not sure why.

[code]

This loop that I use in all of my custom elements gets me to the proper place!

[2019-04-08 09:44] larsbo commented on #52
is this really working?
I use Popper.js 1.15.0 and my popper containers never gets the `x-out-of-boundaries` attribute when they are not inside the viewport.

[2019-04-08 13:00] oliver-dvorski commented on #766
That's a bug as far as I can tell.

Tried reproducing it with popper and it would seem that all is fine as long as your tooltip isn't a child of the reference element (https://codesandbox.io/embed/3v35klj546) so maybe you'd want to try using Popper for your tooltip positioning needs?

[2019-04-09 01:56] tang-love-1314 commented on #62
how to get js ？

[2019-04-09 13:28] rememberYou opened #769 "Error in index.d.ts"
Hello,

First of all, thank you for your work for `popper.js`. I'm using TypeScript and after installed your package, I had this issue when I compile with `tsc`:

[code]

After deleted the lines **107**, **108** and **137** in `popper.js/index.d.ts,` everything works fine. Should we keep these lines or can I do a pull request and delete them?

Thank you.

[2019-04-09 14:10] FezVrasta commented on #769
I'm sorry, I'm not a TypeScript user so I'm not really able to help. I know other people use these type definitions with TS with no issues tho.

[2019-04-11 10:04] #717 closed

[2019-04-11 17:46] cooney commented on #676
@FezVrasta we would also be interested in an updated release on NPM with this fix.

[2019-04-11 18:16] FezVrasta commented on #676
I already released the fix

[2019-04-11 18:16] #676 closed

[2019-04-11 21:58] cooney opened #771 "NPM for tooltip.js version 1.3.1 is not up to date"
### CodePen demo

https://codepen.io/anon/pen/WgRoZp?editors=1111

### Steps to reproduce the problem

1.  Notice that all 4 tooltips start out with "default title", as they should
2.  Hover over all 4 li elements
3.  Notice that only 1 tooltip has updated to "updated title"

### What is the expected behavior?

All 4 should have updated.

### What went wrong?

This has actually been fixed with #67

[2019-04-12 10:18] JvanderHeide commented on #771
+1 ran in to this after finding out my issue was supposedly fixed in #677

[2019-04-12 12:10] FezVrasta commented on #771
Sorry, I forgot to publish Tooltip.js, now you should see a 1.3.2 version on npm

[2019-04-12 12:10] #771 closed

[2019-04-12 15:47] golubvladimir opened #772 "How to make a transfer bottom, if there is not enough space on top, but there will be scrolling bottom ?"
How to make a transfer bottom, if there is not enough space on top, but there will be scrolling bottom ?

     popperPlacement='bottom-end'
     preventOverflow: {enabled: true, priority: ['bottom','left','right','top'],

The window pops up and has an overlapped area.

[2019-04-12 15:58] FezVrasta commented on #772
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-04-12 15:58] #772 closed

[2019-04-12 16:48] cooney commented on #771
@FezVrasta thank you for the quick turnaround, much appreciated!

[2019-04-12 18:12] JvanderHeide commented on #771
@FezVrasta thanks heaps!

[2019-04-14 08:17] namnm commented on #472
@FezVrasta I think I need this.
Imagine we have a table header with position fixed, but we need to scroll it horizontally. Then I use popper to reposition it, but I only need the horizontal axis.
The same case for vertical axis I think.

[2019-04-15 09:48] golubvladimir opened #773 "How to prevent flip in this case ?"
I use the plugin in context of react-datepicker.

By default, if there is not enough space at the top and bottom, a pop-up window is displayed at the top.

I want to fix it and display pop-up below.

After checking the height I want to prevent flip if it does not fit.

[code]

Error

[code]

How to make a modification ?

https://github.com/Hacker0x01/react-datepicker/issues/1710

[2019-04-15 10:37] golubvladimir commented on #773
Solution to the problem

[code]

[2019-04-15 10:37] #773 closed

[2019-04-15 12:03] pavlexander opened #774 "Library minification and bundling fails"
### CodePen demo

n/a (errors during minification&bundling)

### Steps to reproduce the problem

1. Create new MVC .Net Core 2.1 solution in Visual Studio 2017 (15.9.7).
2. Download `popper.js@1.15.0` library and put into "wwwroot/lib/popper.js/popper.js"
3. Install Nuget package: BuildBundlerMinifier
4. In project root create: `bundleconfig.json`
[code]
5. Try to build solution.

### What is the

[2019-04-15 15:04] FezVrasta commented on #774
Please make sure you are targeting the `umd` build, your minifier may not support ES6 features.

[2019-04-15 15:04] #774 closed

[2019-04-15 16:30] ehtonay opened #775 "Below-start and below-end placements bugged"
Using react-popper, the placement options "below-end" and "below-start" do not work correctly:

**Below** (Working correctly)
![Screen Shot 2019-04-15 at 1 18 53 PM](https://user-images.githubusercontent.com/33971189/56149263-87307d80-5f82-11e9-9f08-f57ea3a7123b.png)

**Below-end**
![Screen Shot 2019-04-15 at 1 19 38 PM](https://user-images.githubusercontent.com/33971189/56149297-98798a00-5f82-11e

[2019-04-15 16:36] ehtonay commented on #775
I looked at the resulting **transform: translate3d()** values, and hope these findings help:

**Below**
translate3d(-199px, 28px, 0px) _(correct)_

**Below-start: resulting CSS**
translate3d(-199px, 0px, 0px) _(incorrect)_

_It should be:_
translate3d(0, 28px, 0px)

**Below-end: resulting CSS**
translate3d(-199px, -264px, 0px)  _(incorrect)_

_It should be:_
translate3d(-398px, 28px, 0)

[2019-04-15 16:58] FezVrasta commented on #775
I have no idea what `below` is, the placement is called `bottom`.

[2019-04-15 16:58] #775 closed

[2019-04-15 17:01] ehtonay commented on #775
We may have aliased them differently, but the problem persists. I'd appreciate you not closing the issue prematurely.

[2019-04-15 17:10] ehtonay opened #776 "Bottom-start / Bottom-end does not work correctly"
Using **react-popper**, the placement options "bottom-end" and "bottom-start" do not work correctly:

**Bottom (Working correctly)**
![Screen Shot 2019-04-15 at 2 07 10 PM](https://user-images.githubusercontent.com/33971189/56151570-e644c100-5f87-11e9-8127-6e20e9b9365c.png)

**Bottom-start (bugged)**
![Screen Shot 2019-04-15 at 2 07 19 PM](https://user-images.githubusercontent.com/33971189/5615159

[2019-04-15 18:16] #776 closed

[2019-04-15 19:58] FezVrasta commented on #775
You haven't followed the issue template. I can't help you without that.

[2019-04-19 20:02] jensenbox opened #778 "https://unpkg.com/popper.js is redirecting to https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"
This is more or less a DevOps style issue.

The README.md is perfect the way it is but if you click the link it will take you to the minified version when you click the un-minified version.

You can manually take off the `min` and get the file you want, however.

In actuality, there are 2 redirects:

The first location: /popper.js@1.15.0
and then the second: location: /popper.js@1.15.0/dist/umd/po

[2019-04-20 03:12] atomiks commented on #778
Most people using a CDN just link to the minified version without changing it, so it's short and clean to write. To get the latest, minified v1 version:

[code]

Is there a reason to use the unminified version when sourcemaps are available? Also there were also 2 redirects before the `"unpkg"` field was added linking to `.min` in 1.15.0:

[2019-04-21 22:06] ExE-Boss commented on #575
Since you closed #671, does that mean that you managed to get this working?

[2019-04-22 10:32] FezVrasta commented on #575
No, I just closed some PRs that were outdated and with failing tests.

[2019-04-23 09:37] kaiserkiwi opened #779 "Blurry text on browser zoom"
Hi,
I just noticed that the text on any tooltip gets blurry if I use the integrated zoom in any browser. I first thought it was some mistake on my end, but even on your demo page you can see this problem on all tooltips. (See screenshot, Browserzoom 90%)

![image](https://user-images.githubusercontent.com/8428551/56570776-d77b9100-65bb-11e9-8461-37ddb9368c28.png)

I figured out that the reason is

[2019-04-23 10:27] FezVrasta commented on #779
If this is a problem for you the `gpuAcceleration` option can be set to `false` to avoid the issue

[2019-04-23 10:27] #779 closed

[2019-04-23 10:30] FezVrasta commented on #778
I updated the docs to reflect that

[2019-04-23 10:30] #778 closed

[2019-04-23 11:25] FezVrasta commented on #769
Closing for inactivity, nobody else seems to have this issue so I suppose it's a user configuration problem.

[2019-04-23 11:25] #769 closed

[2019-04-23 11:28] FezVrasta commented on #756
`flipVariations` is now released

[2019-04-23 11:28] #756 closed

[2019-04-23 11:34] FezVrasta commented on #736
It seems the same problem as #755 to me

[2019-04-23 11:34] #736 closed

[2019-04-23 11:37] #722 closed

[2019-04-23 11:48] FezVrasta commented on #632
v2 is going to be way more lightweight, you can read about it here https://github.com/FezVrasta/popper.js/issues/617#issuecomment-439630720

[2019-04-23 11:48] #632 closed

[2019-04-23 11:51] FezVrasta commented on #689
Dupe of #688

[2019-04-23 11:51] #689 closed

[2019-04-26 10:25] Balduin94 opened #780 "a is not a constructor at g.value"
Hello,
I have an issue using tooltip and popper js in a flask web page.
I use : python for backend, jinja2, html, js
this is my import:
[code]

[code]

its suppose to be a very basic function but i got a wierd bug:

the tooltip elem is created in the html when hovering on it but i got this error:

[code]
referencing

[code]

if someone as an idea

[2019-04-26 10:47] FezVrasta commented on #780
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-04-26 10:47] #780 closed

[2019-04-28 08:14] salemalem opened #782 "Wrong position at popper js at 1300 720 screen"
Wrong position.
https://i.imgur.com/qaN0WYc.png
![image](https://user-images.githubusercontent.com/42411937/56861145-13e62d00-69c0-11e9-85eb-7426bf32140b.png)

But when I zoom out my screen it's OK.
Despite of this I think It will be fixed.
![image](https://user-images.githubusercontent.com/42411937/56861092-98847b80-69bf-11e9-86d3-d18777f8a298.png)
https://i.imgur.com/Vx3ue3y.png

[2019-04-28 20:40] FezVrasta commented on #782
That's because the examples have the flip modifier enabled. If there's not enough space on a side that go on the opposite

[2019-04-28 20:40] #782 closed

[2019-05-03 00:17] jwilson114 opened #783 "Tooltip.js - closeOnClickOutside doesn't work on IOS - both Chrome & Safari"
closeOnClickOutside doesn't work on IOS as expected on both Chrome & Safari but works great on Android devices.

Meaning, when a user clicks anywhere outside the tooltip container it doesn't close except if the user clicks on the tooltip activator.

Is there a fix for this? Thanks

[2019-05-03 12:29] FezVrasta commented on #783
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-05-03 12:29] #783 closed

[2019-05-04 15:06] compsult commented on #730
What I would find helpful is a list of "if you want to do this, here is the code" For example, if you want to hide a popper, programmatically move a popper or change any popper attribute followed by a snippet

[2019-05-07 14:13] atomiks opened #784 "Arrow is positioned incorrectly on first flip update when it has a border"
It's strange because I don't remember seeing this before, but appears in versions from years ago as well. However, I do remember seeing this when the update was only a single one (i.e. programmatic update after a flip), but I thought it was a problem with my own lib and used a double-update hack to work around it.

Maybe browsers have slowed their resize events down so it's more obvious now?

###

[2019-05-07 14:20] FezVrasta commented on #784
I can't reproduce it, or I don't understand what's the issue. May you attach a gif?

[2019-05-07 14:22] atomiks commented on #784
Hm strange, here you go: https://gyazo.com/cc133950a5fea8ba4af409f7d8a662fb

[2019-05-07 14:36] FezVrasta commented on #784
Oh, ok I see... Yeah. It needs some investigation.

[2019-05-07 15:06] atomiks commented on #784
I think I found the issue in `arrow.js`

`getOuterSizes(arrowElement)` returns the `offset{Width,Height}` of the arrow element at the previous update (which previously was the opposite `isVertical`), but the placement has been changed before the new `offset` can be calculated (since the arrow element hasn't updated on the DOM yet)

[code]

[2019-05-07 15:41] atomiks commented on #784
Confirmed via this: reads the latest DOM update, rather than latest placement update:

[code]

Not sure how to write the code to fix this (without that terrible hack), hopefully this helps you write the solution though @FezVrasta

[2019-05-07 21:50] justingrant opened #785 "Harder debugging/troubleshooting because /src is excluded by .npmignore"
popper.js publishes sourcemaps to NPM but the `sources` list in popper's sourcemap files points to a `/src` folder that's missing from NPM installs, because that folder is excluded by `.npmignore`.

This causes a few problems:
* It's harder for users to navigate from source on GitHub to the corresponding source in their local dev environment, or vice-versa.
* The source that users see during a deb

[2019-05-08 07:08] #785 closed

[2019-05-11 16:29] Ezra-Siton-UIX commented on #730
You find pooper `methods` her:

[code]
https://popper.js.org/tooltip-documentation.html#Tooltip+show

The same idea for other methods.

About:
`Tooltip.TitleFunction ⇒ String`
Very hard to know what the idea behind.

[2019-05-13 09:23] diondiondion commented on #230
Am I correct in thinking that it's not currently possible to get the behaviour of `escapeWithReference: true` while still keeping `preventOverflow` enabled?

I'd like to get the scrolling behaviour shown in this pen: https://codepen.io/imkremen/pen/xdEdzv...

![tooltip-escape](https://user-images.githubusercontent.com/5636050/57610528-43289c80-7571-11e9-9135-407e5a7bdea7.gif)
(Popper escapes along

[2019-05-13 10:05] FezVrasta commented on #230
I think the codepen is not correct, I don't see the same situation as your GIFs show.

[2019-05-13 10:11] diondiondion commented on #230
Indeed, sorry, copied the wrong URL, here's the correct one: https://codepen.io/anon/pen/WBGpqV

[2019-05-13 10:15] FezVrasta commented on #230
Yes I fear there's no way to define on which axis enable the preventOverflow, I think we already have an issue opened to track this feature request but I can't find it at the moment

[2019-05-13 10:47] diondiondion commented on #230
I see. For now I'll make to without the "escapeWithReference" behaviour.

Just in case it helps define the scope of this: I suppose my request wouldn't be so much to be able to manually/statically define on which axis to prevent overflow. I'd _only_ want to disable overflow in the case when the reference element has been scrolled out of view, and it should only be disabled in that single direction

[2019-05-14 00:01] ahmadalfy commented on #709
This doesn't work. It's because subpixel caused on the container `transform: translate3d`

[2019-05-14 00:05] ahmadalfy commented on #682
@FezVrasta another solution would be to round or ceil the value of the `transform3d`. The issue is clearly caused by the subpixels calculated.

[2019-05-14 05:32] FezVrasta commented on #682
We already round/ceil the values

[2019-05-15 21:24] shamel67 commented on #766
I tried that sandbox you shared and the popper is cut-off/not positioned correctly. Running Chrome 74.

[2019-05-16 08:22] Misioka commented on #640
You should use Popper children like ```<React.Fragment>
          <div
            ref={ref}
            style={{ ...popperStyle, ...style }}
            data-placement={placement}

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem,
            incidunt dicta! Molestiae harum repellendus eligendi recusandae
            labore repellat necessitatibus ipsum omnis aliquid m

[2019-05-17 10:58] Simonwep commented on #766
Since this seams like a bug and is kinda an essential part of popper, could @FezVrasta take a look at it? :suspect:

[2019-05-17 21:48] nomoon commented on #376
I worked around this by modifying `getBoundingClientRect()` function to solve for the pre-scaled value`

https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/utils/getBoundingClientRect.js#L37-L42:
[code]

[2019-05-18 06:03] FezVrasta commented on #376
Cool! Would you mind to send a PR with your change?

[2019-05-18 15:34] itsAnuga commented on #749
Hmm, says in the project README.md that it can be installed via npm...

[2019-05-18 19:34] FezVrasta commented on #749
You can install the package with npm, you can't setup the repository for local developement without yarn

[2019-05-19 16:13] rezaee opened #786 "fatal error - cygheap base mismatch detected - 0x13A1410/0x13D1410"
I was trying to install `poppe` using this command `npm install popper --save` but I got a bunch of errors like this error message:

          3 [main] sh (28644) C:\Program Files\Git\usr\bin\sh.exe: *** fatal error - cygheap base mismatch detected - 0x13A1410/0x13D1410.
    This problem is probably due to using incompatible versions of the cygwin DLL.
    Search for cygwin1.dll using the Windows

[2019-05-19 17:11] FezVrasta commented on #786
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-05-19 17:11] #786 closed

[2019-05-20 05:34] rezaee opened #787 "atal error - cygheap base mismatch detected - 0x13A1410/0x13D1410"
I was trying to install `poppe` using this command `npm install popper --save` but I got a bunch of errors like this error message:

          3 [main] sh (28644) C:\Program Files\Git\usr\bin\sh.exe: *** fatal error - cygheap base mismatch detected - 0x13A1410/0x13D1410.
    This problem is probably due to using incompatible versions of the cygwin DLL.
    Search for cygwin1.dll using the Windows

[2019-05-20 06:21] jasmine-q commented on #566
I'm using [react-popper](https://github.com/FezVrasta/react-popper) and came across this issue.
What worked for me was to set `positionFixed: true` on the Popper component
https://popper.js.org/popper-documentation.html#Popper.Defaults.positionFixed

[2019-05-20 06:46] FezVrasta commented on #787
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-05-20 06:46] #787 closed

[2019-05-20 09:46] rezaee commented on #787
Hi,
Sorry but I don't know my problem is a bug or what? I also couldn't understand how should I use codepen for my problem? I only want to install popper as you can see above, with the `npm install popper --save` command, but I get that error message in the above.

[2019-05-20 09:49] FezVrasta commented on #787
Hi, I would start by **carefully** reading the "readme" file

[2019-05-20 20:29] nomoon commented on #376
@FezVrasta: Absolutely. I realize that scale can be different in X and Y so I should probably calculate those separately. Also, since getBoundingClientRect can return floats, I’m not entirely sure if I should round things at this point? I suspect rounding might prevent half-pixel issues for when top/left is used instead of translate.

[2019-05-21 18:17] hartey11 opened #788 "HTML form inside popper?"
Hi,
Is it possible to include a form inside a popper? I've included a CodePen with the HTML and js that I'm using. The popper shows but it's empty.

### CodePen demo
https://codepen.io/hartey11/pen/byYaxP

### Steps to reproduce the problem
1.  Use do_shortcode() to add a form to a popper data attribute
2.  popper is empty

### What is the expected behaviour?
To see the form within the popper

###

[2019-05-21 18:39] FezVrasta commented on #788
Hi, it seems like you are using Bootstrap, not Tooltip.js, you should ask on the Bootstrap issue tracker.

[2019-05-21 18:39] #788 closed

[2019-05-26 12:29] waspinator commented on #730
Following the example listed in the docs, when the 'popper' overlaps the reference in stead of being "right" of it.

[code]

[2019-05-26 19:17] Ezra-Siton-UIX commented on #730
@waspinator - please Open a seperate GitHub issue. Looks like a bug (If you change the reference to button - the code works fine).

`
<button class="my-button">reference</button >
`

[2019-05-29 15:27] civilizeddev commented on #769
@rememberYou
This library requires DOM library (browser environment)
You should add `dom` as well as 'es2017' to `compilerOptions.lib` in `tsconfig.json`.

[2019-05-29 15:30] rememberYou commented on #769
@civilizeddev thank you

[2019-05-31 12:03] kinesias commented on #674
The installing process of popper.js is very painful. No css included, very bad documentation with almost no examples. It took me 3 hours to get this plugin running.

[2019-05-31 12:06] FezVrasta commented on #674
I find it awesome this issue has stayed open for 9 months and nobody sent a PR to add this piece of documentation.

[2019-05-31 17:54] robclancy commented on #674
I find it awesome that this issue stayed open for 9 months and you only just comment now. And when you do you play victim.

[2019-05-31 18:07] FezVrasta commented on #674
I added labels to this issue 9 months ago, I don't need to comment, the labels explain everything 👌

[2019-06-01 01:10] atomiks commented on #617
Will you be getting some time to work on this or is it postponed indefinitely for now? 🥺

[2019-06-01 05:05] FezVrasta commented on #617
The prevent overflow modifier is yet to be written, it's the most important piece still missing.

For some reason I can't figure out how to write it ☹️

[2019-06-01 05:47] atomiks commented on #617
Maybe you can do a 2.0 release that fixes the common current API painpoints, and schedule a complete rewrite (considering it seems very difficult) for a minor release? Basically, try to restructure the code in a way that allows for a better/smaller architecture in the future without completely throwing out the existing code, assuming that is possible.

Dev + prod versions without the warning messa

[2019-06-01 06:22] FezVrasta commented on #617
I don't have bandwidth to work on the current code base, and it's so messy that I fear I'd break something. 😔

[2019-06-02 08:43] FezVrasta commented on #674
Fixed in 8f2469111dcc483623a5fcba99e34c661f9ea74d

[2019-06-02 08:43] #674 closed

[2019-06-02 08:43] FezVrasta commented on #730
Fixed in 8f2469111dcc483623a5fcba99e34c661f9ea74d

[2019-06-02 08:43] #730 closed

[2019-06-03 18:47] Xotic750 commented on #535
We seem to have the same or similar problem. I tried the `preventOverflow` suggestions, but no change.
<img width="1060" alt="Screenshot 2019-06-03 at 20 46 02" src="https://user-images.githubusercontent.com/216041/58826284-aa051700-8640-11e9-8c96-ee555ebc2bde.png">
<img width="1023" alt="Screenshot 2019-06-03 at 20 44 54" src="https://user-images.githubusercontent.com/216041/58826287-aec9cb00-864

[2019-06-04 08:44] alfechner commented on #231
@FezVrasta you're example is so helpful, thank you so much 🚀

[2019-06-05 22:08] snoozbuster opened #789 "getBoundingClientRect results in NaN width/height for elements with 0 clientHeight or clientWidth"
### CodePen demo

https://codepen.io/anon/pen/qGGqpa

In this codepen, the popper still shows up; it's unclear to me how or why this happens. That being said, I debugged via Chrome and still see the calculation resulting in `NaN` (however, it doesn't taint the results, as seen when debugging poppers created in my app via Bootstrap). See comments for more details.

### Steps to reproduce the proble

[2019-06-06 16:35] balajiram commented on #686
positioning also doesn't work properly, when using shadowDOM.the root cause here is `document.querySelector(options.container)` doesn't find anything if container is inside shadow-root. So can we provide the one more api(configurable option) to expilicitly priovide HTMLElement for the container element similarly like `arrowElement` and `boundariesElement`.

[2019-06-07 14:24] shamel67 commented on #766
I have a very similar issue - except my tooltip is pretty complex.
I'm attaching an example of a tooltip that works perfectly, and another one overflowing at right.

I tried a bunch of different things without success (specifying CSS dimensions, using boundariesElement, container, etc.).

My code is the simplest it can be - I would expect popper to calculate the tooltip dimension and find the best

[2019-06-11 12:22] maciejszpyra opened #791 "Popper element is not positioned correctly when reference elements is in an offset iframe"
### CodePen demo

https://codepen.io/maciejszpyra/pen/JjPRXrm

### Steps to reproduce the problem

1.  Have a reference element inside iframe
2. Iframe needs to be offset
3.  Create Popper alignment

### What is the expected behavior?

That popper element will be correctly positioned.

### What went wrong?

It appears that popper is ignoring the position of the iframe in the parent document when c

[2019-06-11 20:03] joshkel opened #792 "IE 11 support for 2.0.0 previews"
### CodePen demo

https://codepen.io/anon/pen/XLJXZd

### Steps to reproduce the problem

1.  Install version 2.0.0-next.4 off of NPM.
2.  Load in IE 11.
3.  Notice the syntax errors in the JavaScript console.

### What is the expected behavior?

Loads without errors - or version 2 documents IE 11 as unsupported.

### What went wrong?

The [2.0.0-next.4](https://www.npmjs.com/package/popper.js/v/2

[2019-06-11 20:59] FezVrasta commented on #792
Thanks for the report. I doubt I'll add support for IE on V2. I want to keep the library as lean as possible and IE and its quirks are not going to help with this 😔

But for sure I should at least transpile the code to work on a reasonable amount of browsers.

[2019-06-12 07:43] atomiks commented on #792
IE11 support is still kind of important for most projects (and will be for another 2+ years)

IE10 is dead and buried tho... and I know there are a few hacks in the codebase to fix that specific browser. IE11 is... less terrible at least

[2019-06-12 08:29] FezVrasta commented on #792
I'll see what I can do 👍

[2019-06-12 20:39] garygreen commented on #617
@FezVrasta out of interest will v2 be treeshakeable? I remember the humble days of old versions where Popper was more lightweight but now as you mention it's turned into almost a full blown framework. It would be awesome to be able to just import the basic functionality that you need if you just want the bare basics to position a tooltip around an element.

[2019-06-13 04:45] FezVrasta commented on #617
It will be treeshakeable 👌

[2019-06-15 04:30] josephrocca commented on #9
Current behaviour is definitely counter-intuitive: https://jsbin.com/kulefoduvo/2/edit?html,output That tooltipster approach looks neat!

[2019-06-15 05:17] atomiks commented on #9
Here's my current solution for this, using `.getClientRects()`. It requires a sufficient line-height, I think?

https://codepen.io/atomiks/pen/GeBoyW?editors=0010

How would you guys do it?

[2019-06-16 12:57] atomiks commented on #9
^ So that behavior is a bit different to the tooltipster one. But it's also useful in cases of interactivity, by making it appear at the rect where the cursor landed.

For the tooltipster case, here's what I came up with: based on the current placement, it will choose the correct rect(s) and "sums" the rects on a particular side.

https://codepen.io/atomiks/pen/jjqbjy

I think the summing behavior

[2019-06-16 15:06] FezVrasta commented on #617
If anyone is interested in helping me out with the prevent overflow logic, I created a PR to show the progress.

https://github.com/FezVrasta/popper.js/pull/793

Any help is very appreciated.

[2019-06-16 15:13] #789 closed

[2019-06-16 15:18] atomiks commented on #617
What would be amazingly helpful is a contributing guide (how to run/set it up) and maybe a basic walkthrough of how the `next` codebase works? 💙

[2019-06-16 15:29] FezVrasta commented on #617
Isn't this enough? If you think something is missing please let me know or feel free to send a PR to improve on it.

https://github.com/FezVrasta/popper.js/tree/next#hacking-the-library

[2019-06-16 15:32] atomiks commented on #617
Lol I literally already read that but didn't even comprehend it for some reason(?) 😬

I'll give it a go tomorrow maybe 😏

[2019-06-19 17:35] alexandernanberg opened #794 "Set popper width same as reference"
I'm wondering if there is any built-in way to sync the reference width with the popper element? Looked through the docs but didn't find anything helpful. Tried with `computeStyle` but with no luck.

If it doesn't exist I think it would be a nice feature addition unless it's super simple to implement yourself.

Note that I'm using Popper in a react environment so `applyStyle` is off

PS: Sorry that

[2019-06-19 18:37] atomiks commented on #794
Not sure about modifiers but you can apply it in onUpdate & onCreate;

[code]

[2019-06-19 18:44] FezVrasta commented on #794
The same can be done as a modifier, just put the same @atomiks logic inside it and run it before the `computeStyles` modifier

[2019-06-19 18:49] alexandernanberg commented on #794
Oh can you provide an example of that? I don't think fully understand 🤔

[2019-06-19 18:51] atomiks commented on #794
Like this @FezVrasta? The order number has always confused me
[code]

[2019-06-19 19:12] alexandernanberg commented on #794
Whoa! I had no idea that you could add custom modifers!

It sets the correct width now but the `placement` stopped working https://codesandbox.io/s/cool-rosalind-ss23s?fontsize=14

[2019-06-19 19:36] FezVrasta commented on #794
https://github.com/FezVrasta/popper.js#writing-modifiers-on-your-own

😔

[2019-06-19 19:44] alexandernanberg commented on #794
@atomiks What do you mean with a double update? There is no way to get around it without updating twice?

@FezVrasta Crap, I only read the website docs 😕

[2019-06-19 19:47] atomiks commented on #794
I think the problem is: modifiers are run **after** the size has been computed? No order number seems to work (0 or 1000) - but then it works when resizing (aka double update)

[code]

[2019-06-19 20:03] alexandernanberg commented on #794
I see, if that's the case it would be nice to have the modifier run before (maybe order of -1?)

I _think_ I managed to solve this without a double update, but it's not beautiful 😅 Since the width should be the same I figured it'd be "safe" to just use the reference left/right values.

[code]

[2019-06-20 02:32] anhhtz commented on #670
Sorry, but where to put the code above ? :o

[2019-06-20 06:25] alexandernanberg commented on #794
Closing as the solution above worked in all my use-cases!

[2019-06-20 06:25] #794 closed

[2019-06-20 06:27] atomiks commented on #794
I'm assuming it doesn't work for `left`/`right` placement?
I wonder if we need negative modifiers as you said, or just a `onBeforeUpdate` callback?

[2019-06-20 06:30] alexandernanberg commented on #794
No that's true, but I don't think that's a common scenario. In my case I wanted a dropdown listbox/menu to have the same width as the button.

But if we run it before how would we know the reference width?

[2019-06-20 06:32] atomiks commented on #794
I mean, its position will be incorrect for those placements rather than the width.

Not sure what you mean. The `onBeforeUpdate` will be called at the top of `update()` before the reference & popper size are calculated (where you'll apply the mutations). So it should work fine.

[2019-06-20 06:49] alexandernanberg commented on #794
Okay, but then you'd need to read the DOM yourself (`getBoundingClientRect`), because the `offsets` haven't been calculated by Popper yet? I just swiftly went through the source so I'm probably incorrect.

Another solution could be a util that calculates the new position with the existing `offsets` and `placement` values, I believe that should work too.

[2019-06-20 06:52] atomiks commented on #794
You're right though, it doesn't make sense for left/right anyway. If you wanted to add a safe-guard in case you are using left/right/auto placement somewhere else and have this modifier, you can just have an early return anyway to prevent the behavior.

[code]

I think your solution is fine 👍

[2019-06-24 12:45] PrestaShark commented on #690
Up!

[2019-06-24 16:28] jorenbroekema opened #796 "Popper element positions incorrectly initially"
Short description: If the viewport is pushing against the popper element prior to popper being instantiated (e.g. causing it to wrap content inside, changing its dimensions), upon first popper update, the positioning is off.

### CodePen demo
https://codepen.io/Falx/pen/ydXyXG

Sorry for not using the template, I had already made the pen before seeing this template

Here's a gif of my own implemen

[2019-06-24 18:41] taltrui commented on #515
@FezVrasta Sorry for bringing up such an old issue, but I've found that `contains` is present in `HTMLDivElement`, so I think it is safer and maybe faster to use a that one instead:
[code]

[2019-06-26 18:23] pgraci commented on #796
I can confirm this issue is happening to me as well!  In my case it's when I have a popper that gets too close to the bottom of the page.  Initial render is too low, but if I trigger a different popper on same page it works correctly.  If I go back and trigger my first popper, that one is positioned correctly as well.

[2019-06-28 18:28] amillward commented on #578
I am getting this issue on my site using popper.js 1.15.0. I'm able to pause it in dev tools, this is in the stack trace so I'm fairly certain it's an issue with popper

<img width="553" alt="Screenshot 2019-06-28 at 19 27 06" src="https://user-images.githubusercontent.com/1857493/60363232-db23fd80-99da-11e9-9102-72caefdd1b31.png">

[2019-06-28 18:51] amillward commented on #578
I can replicate this reliably on my site in Chrome by;
1. Visit https://chart-minder.com/demo
2. In dev tools, use the device toolbar to set it to iPad or something - It will scale it down to 50%
3. In dev tools and have 'Source' tab ready to pause
4. In the app, click the last colour block in the toolbar at the bottom

See that the modal pops up, but then it locks into the infinite loop

[2019-06-29 04:54] atomiks commented on #578
It's not a popper.js issue, `@tippy.js/react` doesn't have this problem 🙂

[2019-06-30 13:25] smth commented on #766
Anyone know if there is a version without this bug?

[2019-06-30 13:34] atomiks commented on #766
It's because the arrow has no size. Give it `width: 1px` and problem is gone

https://jsfiddle.net/3jafz07e/

[2019-06-30 14:01] smth commented on #766
That doesn't seem to fix the [original jsfiddle](https://jsfiddle.net/0x7cpavb/) @atomiks (nor my local version). Is this issue specific to tooltip.js? I'm using popper.js, and not aware of `.tooltip-arrow` existing.

[2019-06-30 14:05] atomiks commented on #766
Remove the `boundariesElement` / `container` options and it is fixed in that version as well.

[2019-07-01 10:03] smth opened #797 "Inaccurate position inside flex layout"
I've been getting a few instances where popper element is positioned partially outside the viewport. One common factor has been `display: flex`. I've been able to reproduce this by putting the popper elements inside a nested flex layout (see [codepen](https://codepen.io/anon/pen/JQLjdP)).

### CodePen demo

https://codepen.io/anon/pen/JQLjdP

### Steps to reproduce the problem

1.  Put popper elem

[2019-07-01 10:35] FezVrasta commented on #797
Could this be a dupe of https://github.com/FezVrasta/popper.js/issues/455?

[2019-07-01 10:50] smth commented on #797
Doesn't look like it to me. Giving the containers in my example (even) height values doesn't make any difference.

[2019-07-02 05:52] Simonwep commented on #766
@atomiks Using `document.body` cuts of the tooltip completely: https://jsfiddle.net/9nL3hje0/ (Even stranger it behaves differently than using a string which should be the same). And according to the [tooltip.js](https://popper.js.org/tooltip-documentation.html#new_Tooltip_new) doc it's also possible to use a String e.g. Query Selector.

[2019-07-02 06:05] atomiks commented on #766
You didn't add the `.tooltip-arrow` CSS width. It's fixed w/ that

[2019-07-02 06:09] Simonwep commented on #766
This seems more like a hack and not an expected user experience when using this. Shouldn't this be optional? :suspect:

[2019-07-02 06:15] atomiks commented on #766
I think it's because the default tooltip template includes the arrow. And Popper's calculations require the arrow to have width if it exists as a child with the modifier enabled.

I think I'm wrong on the querySelector thing looking at the source so that's weird.

tbh, maybe @FezVrasta can deprecate Tooltip.js and recommend Tippy.js instead? Especially v5 coming which will be much closer in total

[2019-07-02 08:42] FezVrasta commented on #766
@atomiks yes that's a good plan, Tooltip.js was meant as a way to show how to implement Popper.js into your own libraries, but I see a lot of people want to use it as-is.

[2019-07-02 18:09] timgivois commented on #354
setting flip to false fixed my issue, thanks

[2019-07-03 18:59] bitonic opened #798 "Tooltips incorrectly placed on divs with `overflow: auto`"
### CodePen demo

I used JSfiddle to narrow this down from my website: https://jsfiddle.net/2hcn1t8x/1/ . Here is a video: https://mazzo.li/dump/popperjs-tooltip-edge.mp4 .

You can also see this live at https://benaco.com/view/a354cd2d-9e3b-41c2-a09d-8099f2a548db (hover on the toolbox on the right). I will deploy a fix soon though. _Edit_: I've now deployed a workaround to the website, please see

[2019-07-03 19:12] bitonic commented on #798
Actually I just noticed that on the JSfiddle it fails on Firefox and Chrome too. On the website it only fails on Edge because the `overflow: auto` is only applied to Edge, for unrelated reasons.

[2019-07-05 08:41] superchangme opened #799 "One advice about params of boundariesElement and appendToBody"
The popover plugin has two params:

1.boundariesElement  : means the popver element's boundaries rely on which elment ( default is scrollParent) //**In the old verion this param is viewport** (means the window)
2.appendTobody : means the popver elment should append to body or not (default is true)

Now i want say that when we append an element  to body ,generally it means  we want the element **do

[2019-07-09 12:07] Benjamin-Dobell opened #800 "Reference object poppers positioned incorrectly when not added to document root"
### CodePen demo

https://codepen.io/anon/pen/MMZwLx

### Steps to reproduce the problem

1.  Add a popper element to the DOM in any element whose local coordinate space is not the same as client coordinate i.e. Add a popper element somewhere other than the document root.
2.  Create a popper positioned using a _reference object_, as opposed to a reference _element_.

### What is the expected behav

[2019-07-09 12:30] Benjamin-Dobell commented on #800
_Sigh!_ IE11. Will boot up a VM and take a look.

[2019-07-09 15:09] #800 closed

[2019-07-09 18:04] mjackson commented on #738
You probably want to use https://unpkg.com/popper.js@1.14.6/dist/popper.js

unpkg doesn't magically find files in the `dist` directory for you unless you specify them in the `main` field in `package.json`

[2019-07-09 18:47] jaydlawrence commented on #796
I have had this issue when I use the popper around a pin that I give to a Bing maps implementation.
It doesn't work initially, but if I move the sidebar or re-render the popper, it works.

Maybe mine is a bit different, but the initial render has the following back from the transform part of the popper styles:
`translate3d(${left}px, ${top}px, 0)`
becomes:
`translate3d(NaNpx, NaNpx, 0)`

But mine

[2019-07-09 19:13] jaydlawrence commented on #796
Actually, in my case, I made the map wait until it is finished loading to render the pins (and popper) and that fixed the problem.
So it is most likely not the same issue.

[2019-07-09 19:33] jquense commented on #546
hey @FezVrasta newer versions of `lerna` will do this automatically. Would you mind pushing a new/next version with the latest `lerna` we'd very much appreciate it 🙏

[2019-07-09 19:45] pgraci commented on #796
Thank you all.  It just made me realize the issue with mine.  I have an image rendering inside of my popper, and on initial render the image has not loaded yet.  Once it does, it pushes it out of the viewport.  Then on subsequent renders since the image has height already, it is able to calculate its position properly.  Maybe this will help someone else!

[2019-07-09 20:17] jorenbroekema commented on #796
To more succinctly summarize what I think happens:
1) Content is rendered but viewport pushes on it making the bounding box different than it would otherwise be (due to content wrapping, native responsiveness stuff that the browser provides)
2) Popper instance is created
3) Popper initially positions the popper element based its current bounding box dimensions
4) Due to change of position, viewpor

[2019-07-10 08:02] FezVrasta commented on #738
@mjackson the dist bundle is defined in the `main` field:
https://github.com/FezVrasta/popper.js/blob/master/packages/popper/package.json#L27

[2019-07-10 12:01] FezVrasta commented on #546
Do you mean Lerna will prepend the license to each file?

[2019-07-10 12:39] jquense commented on #546
It will copy your top level license into the sub packages when publishing so it ends up in the npm package yeah

[2019-07-10 13:21] jquense commented on #546
There isn't anything to PR I don't think. You would need to do a publish with the latest lerna, something I can't do. It's not pressing either, so no rush, but I wanted to let you know that lerna now supports what folks are asking for here without any additional work on your part 👍

[2019-07-10 13:50] FezVrasta commented on #546
I guess Lerna needs to be updated first, that will need a PR

[2019-07-10 14:01] jquense commented on #546
https://github.com/FezVrasta/popper.js/pull/803

[2019-07-11 09:15] wscourge commented on #642
Little improvement on @rwwagner90 answer if you don't want your tooltip to be half window width horizontally:

[code]

[2019-07-12 18:12] jordonedavidson commented on #478
After following the suggestion of adding the mock file for popper, I receive the following error after every one of my test suites runs:

`console.error node_modules/prop-types/factoryWithTypeCheckers.js:21
Warning: Invalid argument supplied to oneOf, expected an instance of array.`

Ideas?

Im using:
 "@testing-library/jest-dom": "^4.0.0",
 "@testing-library/react": "^8.0.4",

[2019-07-13 20:07] Wyzix33 commented on #688
Not a solution for dynamic content, usualy onClick does some other operations, not just displaing the tooltip...

[2019-07-13 20:17] Wyzix33 commented on #766
Tooltip.js is perfect for simple projects and way more easy to debug than Tippy.js

[2019-07-14 06:04] atomiks commented on #766
@Wyzix33 may you make an issue on tippy repo about the debugging difficulties? What makes it harder? Would be helpful to understand in case it requires a large API change before v5 comes out

[2019-07-17 07:35] PedroBorracho opened #805 "Positioning not correct on iOs when keyboard is open"
I'm using popper to render validation errors on Inputs, and I'm facing a wrong positioning when on iOs the keyboard is open:

when keyboard opens due to the focus on the Input:
* the viewport is resized
* the body scrolls automatically to the input
* popper is initialized but is not placed in the correct place. Scrolling the body, the popper position changes each time (is not following the target

[2019-07-17 13:37] qurben commented on #798
Example using only Popper: https://codepen.io/anon/pen/rXBpQo

[2019-07-18 20:24] renspoesse opened #806 "Preventing overflow fails when using arrow margin"
### CodePen demo

https://jsfiddle.net/xp7syfw5/9/

### Steps to reproduce the problem

1.  Create a tooltip with an arrow element (similar to the examples on popper.js.org), and give the tooltip rounded corners. It has been suggested (https://github.com/FezVrasta/popper.js/issues/343) to apply a margin to the arrow to prevent it from reaching the rounded corners.
2.  Create a fairly small referen

[2019-07-19 13:38] fabswt commented on #730
I agree with the OP. The website feels like it was written for someone who already knows what it's all about, not someone getting started – it's lacking a *Getting started* page.

This is my second time trying to get into tooltip.js, this time I pulled through.

Some things that got in the way:

- Popper.js or Tooltip.js? Which one am I supposed to use? It's not obvious from the homepage. (It gets

[2019-07-19 16:08] FezVrasta commented on #730
@fabswt I see your point, unfortunately I don't have enough free time to allocate to the docs, I'm focusing all my time on the work needed to ship Popper.js v2.

If anyone wants to send PRs to improve the docs I'll be happy to merge them.

About the CDNJS issue, I'm not sure why that's happening, the default file should be the `umd` one, as pointed out in the `package.json` `main` field.

[2019-07-20 09:40] taburetkin opened #807 "why popper element must be in the DOM before creating the popper"
### CodePen demo

https://codepen.io/dimatabu/pen/PMqZyo

### Steps to reproduce the problem

1.  create popper element with javascript
2.  DON'T append it to the dom
3.  create the popper

### What is the expected behavior?

I expect that popper place the popper element to the right place in the dom whether or not it is already in the tree.

### What went wrong?

popper element don't added to the

[2019-07-22 13:20] miguelyoobic95 commented on #686
Are there any updates on this ? Happy to help look into an implementation that fixes the issue for all - ShadowDOM is starting to be used by a lot of people and would be a great addition to this library :)

[2019-07-23 15:44] WebKieth commented on #107
Issue didnt solved.
This plugin has got the most terrible API which I ever seen. God damn those idiots who install it on my current project.
I try to update offsets by merging options of my wrapper class and this plugin like @lukebatchelor and doesnt work

[code]
ModifyOffsets function just dont execute

[2019-07-23 15:59] WebKieth commented on #107
Working version:
[code]

[2019-07-24 08:19] FezVrasta commented on #107
@WebKieth I'm not even sure why I'm replying to you, considering how rude are you, but here I am.

The reason why the offset modifier doesn't allow you to do `{ top: 10, right: 20, bottom: -20, whatever}` is because 99% of the times, you don't want to work with absolute coordinates, but with ones relative to the current popper placement.

So, you want to say "offset the popper from the reference e

[2019-07-24 09:57] jorenbroekema commented on #807
In order for Popper to be able to position the popper element properly relative to the reference elements, both elements must exist and have a bounding box. The bounding boxes are necessary for calculating the position.

A work-around for your issue could be to do this:
[code]

[2019-07-24 10:01] taburetkin commented on #807
Ok. i can take it.

[2019-07-24 10:01] #807 closed

[2019-07-24 18:47] peda opened #808 "Tooltip doesn't get hidden (not always, but often)"
### CodePen demo

https://codepen.io/anon/pen/rXLNXP

### Steps to reproduce the problem

1.  open the CodePen
2.  move the mouse cursor over the red trigger element and what at least a second for the tooltip to show up
3.  move the mouse into the tooltip wait a moment and then move the mouse (fast) further to the right and of the tooltip
4. in approximately 1 on out of 5 cases the tooltip doesn't

[2019-07-25 19:29] mreinstein commented on #805
@PedroBorracho you might be better off using native form validation. This is built in since ios 10.3:

https://caniuse.com/#feat=form-validation

[2019-07-27 16:12] David263 opened #809 "Cannot get the simplest example to work (problem with documentation?)"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  Please visit https://codepen.io/david263/pen/MNbQjR
2.
3.

### What is the expected behavior?

The output doesn't look like the first example on page https://popper.js.org/index.html .

### What went wrong?
The output doesn't look like the first example on page https://popper.js.org/index.html .

###

[2019-07-28 19:16] FezVrasta commented on #809
Please read the README

[2019-07-28 19:16] #809 closed

[2019-07-31 13:36] gregkopp opened #811 "boundariesElement for non-scrolling header"
I have a situation that I am not sure how to fix. I have a pages that has a fixed header and footer, and the body, when scrolls, falls under them. If I have a tooltip popped open to the top of an object, if I scroll the page, the tooltip doesn't flip until AFTER the object has scrolled under the header.

Is there a way to dynamically set the margins of the boundariesElement area, so that, when I s

[2019-07-31 13:42] FezVrasta commented on #811
I think you could define a custom `padding` to `preventOverflow`:
https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.padding

But this will apply it to all 4 sides.

Alternatively you may set a `margin-top` equal to your header size to your popper elements, just make sure to apply it only when `[data-placement*="top"]`

[2019-07-31 13:43] #811 closed

[2019-07-31 13:58] luxferresum opened #812 "offset on offset modifier is overwritten"
### CodePen demo

https://codepen.io/anon/pen/eqWwPY

### Steps to reproduce the problem

1.  create a tooltip and give `popperOptions` with an `offset` modifiert with an `offset` property but no `offset`.

### What is the expected behavior?

The offset of the offset modifier should be used.

### What went wrong?

The offset of the offset modifier gets replaced by `undefined`

### Any other commen

[2019-07-31 14:50] FezVrasta commented on #812
Thanks for the report, creating a PR to fix this should be fairly simple, would you like to give it a try?

[2019-08-02 08:46] AlexanderSergan commented on #808
### Gif of reproduced bug
@peda, thanks for creating the issue. I reproduced the problem and recorded it for better visualisation.
The bug is catched on at 5th try.
![tooltip](https://user-images.githubusercontent.com/6415224/62357006-e4911000-b51a-11e9-8583-fd00a2fc7345.gif)

[2019-08-02 13:34] gregkopp commented on #811
Thanks for the reply. Pardon my questions. The design I have is also responsive, where the floating header can change sizes and I would need to dynamically adjust that style. I am looking into if onUpdate() could be something I could use, but I am not really sure how I can update the style of the popper instance to change the margin top. I tried this as a test:

[code]

The results were less than

[2019-08-02 13:42] FezVrasta commented on #811
You are not supposed to modify the `data` object in `onUpdate`, at that point the data has already been used.

If you use media queries you could define the margin and adjust it using the same media query?

[2019-08-02 13:48] gregkopp commented on #811
Unfortunately, my skills in this area are very limited. I will have to seek some help from some colleagues. I was hoping to find a solution within my skill set. CSS is still something that I need to work on. Thanks for taking the time.

[2019-08-02 14:11] FezVrasta commented on #811
If you have a media query that changes the height of the navbar:

[code]

You can use the same media-query, or at least the same breakpoint, to adjust the tooltips margin:

[code]

[2019-08-02 19:17] luxferresum opened #813 "allow committing on nixos"
### Steps to reproduce the problem

1.  use nixos
2.  change any file
3.  run `git commit`

### What is the expected behavior?
it creates a commit

### What went wrong?
it assumes there is `/bin/bash`. This is actually a problem of the dependency [pre-commit](https://www.npmjs.com/package/pre-commit).
While it was fixed [two years ago](https://github.com/observing/pre-commit/commit/f25888ffc67d21b

[2019-08-02 20:43] FezVrasta commented on #813
What's Nixos?

[2019-08-02 21:53] gregkopp commented on #811
This put me on the right path. THANK YOU!

[2019-08-02 22:12] luxferresum commented on #813
[A linux distribution](https://nixos.org/).
The problem is that nixos, like some distros, does not has bash at `/bin/bash`.

[`#!/bin/bash` is *not* the correct shebang for `bash`, but `#!/usr/bin/env bash` is.](https://stackoverflow.com/questions/21612980/why-is-usr-bin-env-bash-superior-to-bin-bash/21613044)

While this is a problem of `pre-commit` that is fixed on master branch, the problem for

[2019-08-03 10:20] FezVrasta commented on #813
I opened an issue here https://github.com/pre-commit/pre-commit/issues/1106

[2019-08-03 21:33] johnknoop commented on #756
`flipVariationsByContent` seems to be the one I want. However it doesn't seem to work under all conditions.

These options:
[code]
work for one of my top-menu fly-outs:
![image](https://user-images.githubusercontent.com/3394270/62417036-531ebc80-b646-11e9-88d9-16bdd7196753.png)

...but not the other:
![image](https://user-images.githubusercontent.com/3394270/62417057-de984d80-b646-11e9-82f3-440ffa

[2019-08-05 17:21] ryanswanson commented on #496
We recently addressed this issue for our own library and now only have it when using Popper.js in a few components.  To contribute to a fix here, I have created a code pen that includes two utility methods that address the issue and a simple example (target practice) to illustrate the issue and fix.

https://codepen.io/ryanswanson/pen/XveKww

In places where you would typically use `element.getBou

[2019-08-05 19:14] mcandre opened #815 "Don't async tooltips"
Please offer a way to hide and show tooltips synchronously, so that more complex pages, such as tooltips on modal toggle buttons, fully disappear. Right now, popper tooltips continue to display on top of raised modals for several seconds.

[2019-08-05 19:40] Johann-S commented on #815
Hi @mcandre you just have to pass `animation` at false on Bootstrap's tooltip see: https://getbootstrap.com/docs/4.3/components/tooltips/#options

[2019-08-06 07:59] #815 closed

[2019-08-06 08:08] FezVrasta commented on #496
Thanks for the reply. From what I see, your solution needs to traverse the whole DOM any time you need to measure the element. I wonder how will it affect performance?

[2019-08-06 22:45] ryanswanson commented on #496
Glad to pitch in!

tl;dr - It seems to perform quite well from my limited testing.

The getAncestralZoom algorithm does call window.getComputedStyle() for each of the target node's direct ancestor elements (within a document - doesn't go outside iframes), the cost of which may matter depending on how it is used (how frequently called).

We primarily have used this utility for initial positioning o

[2019-08-07 02:11] atomiks commented on #496
@ryanswanson what are the reasons for using zoom over transform: scale?

[2019-08-07 11:54] KnottA opened #816 "Grunt uglify cannot process popper.js anymore because of const use"
My packing script doesn't work with popper.js anymore with version v1.15.0 ..
My uglify setup in gruntfile.js:
`    uglify: {
      options: {
        banner: "<%= meta.banner %>",
        manage: false,
        //preserveComments: 'all' //preserve all comments on JS files
      },
      main: {
        files: [
          {
            expand: true,
            cwd: DIST_DIR + '/',
            src

[2019-08-07 11:58] FezVrasta commented on #816
You are using the wrong dist target, you most likely want to use `dist/umd` or `dist/cjs` depending by your setup.

[2019-08-07 11:58] #816 closed

[2019-08-07 17:12] ryanswanson commented on #496
@atomiks Fair question.  I've found they actually work quite differently and that transform: scale() can only be a suitable replacement for some use cases, particularly when the scaled content is not interactive.

Transform: scale() affects only the rendered appearance of the targeted content and is applicable for image scaling, drag/drop effects, etc.

Zoom will cause dimensions of the targeted c

[2019-08-07 17:40] FezVrasta commented on #496
@ryanswanson I hope you understand me if I'm being a bit reluctant to add support for this, there are a ton of things that could go wrong, and a very limited set of users that would benefit from it.

I would say I'd be willing to merge a PR if it doesn't add too much complexity to the codebase and ships with a good set of functional tests, but it will really have to convince me completely to get m

[2019-08-07 18:39] whitecolor commented on #496
@FezVrasta what I would think of is generic extensible API for custom positioning calculations -)

[2019-08-07 21:42] FezVrasta commented on #496
If you have ideas to make this possible feel free to open an explorative PR targeting the `next` branch. I don't expect a working solution, but just some code to show what you have in mind.

[2019-08-09 09:37] flaviusmatis commented on #755
I've noticed the same issue. Following.

[2019-08-11 06:13] NishealJ opened #817 "Error: TOOLTIP: Option "template" provided type "object" but expected type "string"."
Hello,

I'm getting this error :

`Error: TOOLTIP: Option "template" provided type "object" but expected type "string".`

while I tried migrating this library https://github.com/abhikmitra/ng-joyride to bootstrap4.

[2019-08-11 06:20] NishealJ commented on #817
<img width="1155" alt="Screenshot 2019-08-11 at 11 49 19 AM" src="https://user-images.githubusercontent.com/41017303/62830531-19dde200-bc2e-11e9-8dd1-852d98fa7c8c.png">
@AndreaScn @FezVrasta  PTAL Thanks!

[2019-08-11 17:35] FezVrasta commented on #817
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-08-11 17:35] #817 closed

[2019-08-13 10:01] Prideth commented on #575
In which Release will xhtml work? In our project we use JavaEE with JSF and are stuck at the moment.
Without xhtml support we can not use popper

[2019-08-13 11:07] FezVrasta commented on #575
@Prideth support for XML is not planned at the moment, if someone wants to send a PR to add it I'm okay with it, but the PR must be of good quality

[2019-08-13 15:23] melanie-wilson opened #818 "README.md"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  Go to README.md
2.  Look for <img src="http://img.badgesize.io/https://unpkg.com/popper.js/dist/popper.min.js?compression=gzip" alt="Stable Release Size"/>
http://img.badgesize.io/https://unpkg.com/popper.js/dist/popper.min.js?compression=gzip
3.  'http' needs to be 'https'

### What is the expected b

[2019-08-13 15:51] FezVrasta commented on #818
Fixed, thanks!

[2019-08-13 15:51] #818 closed

[2019-08-13 18:09] mcandre opened #819 "Documentation: Clarify which URLs to use for <script> loading"
Hi, I am working over some stumbling blocks with integrating popper into my application. For example, I wasn't sure which of the many URLs listed on CDNJS to use in my `<script>` tags:

https://cdnjs.com/libraries/popper.js

Could the popper documentation include a mention of which of these to use? I think it's

[code]

But I'm not entirely sure.

[2019-08-13 18:19] FezVrasta commented on #819
Hey, CloudFlare is not even an officially supported CDN.

If you click on the Unpkg URL you are directed to the correct URL/file already.

Also, please, read the [dist targets](https://github.com/FezVrasta/popper.js#dist-targets) chapter, since it answers your exact question.

To be honest, I doubt any amount of documentation could help if I then get questions with people trying to use a CDN not e

[2019-08-13 18:19] #819 closed

[2019-08-14 23:21] ConneXNL commented on #475
@timhunt  / @FezVrasta / @nashtechdev01

Is there any solution to this nowadays?
For example a setting that could be used to keep the arrow at least X away from the sides?

[2019-08-15 08:04] MBing commented on #808
https://popper.js.org/popper-documentation.html#Popper.Defaults.removeOnDestroy

There's a typo that might cause this `removeOnDestroay` iso `removeOnDestroy`:
<img width="260" alt="Screenshot 2019-08-15 at 09 56 29" src="https://user-images.githubusercontent.com/2140223/63081081-fc1cbf80-bf42-11e9-914f-16fe936d80bc.png">

I tried to reproduce it before and it was as shown on the nice video. After

[2019-08-15 08:46] FezVrasta commented on #808
@MBing even wit the typo fixed I can still reproduce it.

[2019-08-16 05:07] bohdan-didukh commented on #783
@FezVrasta,

this issue is reproducible for me. I see that tooltip.js using the `mousedown` event, which is not firing on mobile devices. You may try to change it to `click`.

[code]

Thank you!

[2019-08-19 10:28] IGreatlyDislikeJavascript commented on #791
@FezVrasta +1 for this issue, I've had this reported for Bootstrap Tourist (tour step in iframe not aligned to element), and the underlying cause is popper.js not obeying iframe offset.

I think this needs to be fixed in popper.js. Although we can manually shift the popover by getting the element in the iframe and setting an offset initially, if the content in the iframe is responsive and the layo

[2019-08-19 13:49] maciejszpyra commented on #791
I linked better codepen example

[2019-08-19 14:46] nishantgiri opened #821 "CUSTOM FLIP BEHAVIOR with drag functionality does not work as documented"
### CodePen demo

https://codepen.io/girinishant/pen/abomZLo?#anon-signup

### Steps to reproduce the problem

1.  try to drag the the 'drag me' text as per documentation 'https://popper.js.org/index.html#example10'-->CUSTOM FLIP BEHAVIOR
2.  it does not work as explained in the documentation.
3.  unable to drag the 'drag me' text

### What is the expected behaviour?

1. Ideally I should able to d

[2019-08-19 15:18] FezVrasta commented on #821
I see there's an error in your code, `interact` is not defined.

Note that the drag-n-drop behavior is not provided by Popper.js, it's just used for demo purposes.

[2019-08-19 15:18] #821 closed

[2019-08-21 16:23] Mesoptier commented on #806
I have run into the same issue. The main problem is that `flip` only checks whether the left side of the popper overflows if the placement is also `left` (and similar for the other directions).

Locally, I have removed the `placement === ?` checks, making `flip` also flip when the popper is out of bounds on the other edges.

https://github.com/FezVrasta/popper.js/blob/9e94c9814250e6ca6db0bd7d6f3bd

[2019-08-22 09:14] Mesoptier commented on #720
Popper.js starts its modifier chain with the given `placement` (e.g. `top`), but measures the size of the popper element as is. That is, the popper element may still have `x-placement="left"` making the dimensions slightly different than if it were `x-placement="top"`. This makes Popper.js think it actually fits with `top` placement. On the next "tick", the `x-placement` matches the initial value

[2019-08-22 10:27] FezVrasta commented on #720
Feel free to send a PR with a proposed solution, thank you!

[2019-08-22 10:45] diondiondion commented on #571
@FezVrasta Any chance this might be added to popper.js before v2 if a PR was made for it? It seems like a relatively simple fix that has the potential to remove the need to run `scheduleUpdate` in many cases where it's currently necessary.

[2019-08-22 10:59] FezVrasta commented on #571
Of course, go for it 🚀

[2019-08-22 12:32] Mesoptier commented on #720
@FezVrasta It's fine by me to create a PR. But before I head off on that, what do you think of the proposed solutions below? If they're completely off track I'd rather not spend too much time on them, after all :slightly_smiling_face:.

---

The `onLoad` of the `applyStyle` modifier should run before measuring the Popper dimensions, because it directly affects the dimensions. However, it is only r

[2019-08-22 13:43] FezVrasta commented on #720
It may be better to wait for the v2 release

[2019-08-24 13:39] davidferguson commented on #783
@bohdan-didukh `click` doesn't work either, for reasons best explained in [this article](https://www.quirksmode.org/blog/archives/2014/02/mouse_event_bub.html). This also explains why `mousedown` isn't working - it's mobile Safari being a bit odd.

I think the solution is therefore to use one of the `touch` events. `touchstart` does *work*, but means that if you just scroll the page on mobile, the

[2019-08-26 16:48] onassar opened #822 "How do I include Tooltip class?"
I know I'm gonna get yelled at, but that's partially why I'm asking the question:
Why isn't the `Tooltip` class included in the `/dist` directory?

Seems like an oversight to not have it there, and force developers to download it from the CDN.

[2019-08-26 19:19] broyde commented on #670
@anhhtz

In Popper's `options`. [See documentation](https://github.com/FezVrasta/popper.js/blob/master/docs/_includes/popper-documentation.md#new-popperreference-popper-options)

[2019-08-26 19:24] FezVrasta commented on #822
On git you find source code. Not build artifacts.

Handling build artifacts on git is difficult and time consuming.

You should use a package manager such as npm to handle your dependencies.

Cheers

[2019-08-26 19:24] #822 closed

[2019-08-26 19:28] FezVrasta commented on #822
I keep Popper.js build artifacts on github because of historical reasons (Bower) but I can't keep both projects builds on the same repository because Bower doesn't support it.

The plan is to get rid of Bower eventually once we reach the v2 release

[2019-08-27 11:07] wimleers opened #823 "A few policy questions"
Hi there! And thanks for all your excellent work, this library has been super helpful :)

The Drupal project is considering adding this library as one of our dependencies and so we're performing a standard stability review. We're looking into adopting this in https://www.drupal.org/project/drupal/issues/3074267.

I'm curious if you have any official policies documented somewhere WRT to:

- Securit

[2019-08-27 15:18] FezVrasta commented on #823
Hi! Thanks for the kind words. Let me try to address your points.

1. Security releases: I can't think of any attacking surface to be honest, but in case a security vulnerability is found I plan to support at least the current version and the previous major one. (v0 + v1, v1 + v2 etc)
2. This is a side project, so I can't provide any guarantees on the amount of hours I can dedicate to it. I may wo

[2019-08-27 15:56] wimleers commented on #823
1. 👍(I agree that there is a super super low probability of security issues in this JS library!)
2. The release window/cadence question isn't about how fast you're responding. Sorry for not having been more clear! I should've asked it like this: are you willing to coordinate with the Drupal Security Team (https://security.drupal.org/team-members, https://www.drupal.org/drupal-security-team/securit

[2019-08-27 16:12] FezVrasta commented on #823
About 2, in all honesty, I cant guarantee I'll always be available to cut a release when required by the Drupal Security Team.

I'm not sure I completely understand the implications, but whenever a security issue is discovered I'm going to fix and release the fix as soon as possible.

[2019-08-27 17:00] wimleers commented on #823
This is the thing that we're asking about: _releasing the fix as soon as possible_ would be problematic for us. We'd need that release to be coordinated with the Drupal Security Team. That's important to avoid that Drupal will potentially be shipping an insecure release for a long time.

Do you think you could do that? I'm happy to facilitate.

I know the probability of `popper.js` ever having a s

[2019-08-27 17:04] FezVrasta commented on #823
I'm not sure I understand... Would you rather have a library wait to ship a security fix (given it is already undisclosed) and have it release it only when you are also able to update, rather than have the library ship the security patch, and maybe have Drupal release a few versions with an outdated version?

[2019-08-29 15:46] semyonc opened #824 "Popper.js is not working with XHTML pages"
The function attachToScrollParents() in the module packages\popper\src\utils\setupEventListeners.js is throws "Uncaught RangeError: Maximum call stack size exceeded" in a case of loading XHTML files in Chrome.

It's happening because in the case of XHTML the property nodeName preserve lowercase
body tag name. So the condition scrollParent.nodeName === 'BODY' is never reached.

Please change code t

[2019-08-29 17:44] xjm commented on #823
Thanks @FezVrasta for the quick replies!

Drupal practices [coordinated disclosure](https://en.wikipedia.org/wiki/Responsible_disclosure), which means that (whenever possible) details of the security issue are not disclosed until a fix is ready for release, and maintainers of the affected project collaborate privately to schedule when the vulnerability will be disclosed and fixed. The goal of coor

[2019-08-29 21:01] FezVrasta commented on #823
Hey. Yeah that makes sense. I'm okay with it

[2019-08-29 21:04] FezVrasta commented on #824
There's already an issue tracking this. I'm not able to link you to it but a quick search will get you there.

[2019-08-29 21:04] #824 closed

[2019-08-30 19:08] cihad commented on #686
@balajiram you can give dom object to options.container

[2019-09-02 07:48] Miriam-diva-e opened #825 "Tooltip.js 'closeOnClickOutside' not working on iOS"
### CodePen demo

https://codepen.io/MeowMeowMeowMeow/pen/RwbLNxm

### Steps to reproduce the problem

1.  Open CodePen on iOS
2.  Click reference => the tooltip is shown
3.  Click somewhere else

### What is the expected behavior?

As ```closeOnClickOutside``` is set to true, the tooltip is supposed to be closed as soon as you click somewhere.

### What went wrong?

If ```closeOnClickOutside``` i

[2019-09-03 15:56] chidev commented on #825
There needs to be a `touchend` in addition to `mousedown` on the document. I manually added this to tooltip.js and it seems to be working.

[2019-09-04 18:57] empty-space commented on #798
**Possible solution:**
Setup `preventOverflow` option for your needs.
This worked for me:
[code]

[2019-09-05 20:12] robclancy commented on #808
We have lots of tooltips and it completely randomly doesn't hide them sometimes. I gave up trying to find out why and just added a ticket to migrate to something else.

[2019-09-05 20:25] FezVrasta commented on #808
Thanks for the support @robclancy! I'm sure you will find a whole lot of open source maintainers willing to give your for free their time to fix your own problems with this attitude 👍

[2019-09-05 20:32] robclancy commented on #808
No worries. I don't plan to support a tooltip library that can't consistently hide a tooltip anyway :) And has open issues from over a year ago where things are tagged as "low difficulty". Oh and doesn't even provide CSS for arrows to the point we had to use view source to find something usable.

There are lots of people with a "good attitude" without this maintainer fixing their issues.

It's nic

[2019-09-06 08:32] DanielRuf commented on #729
This would be very helpful, for example as property on a Popper instance like jQuery does it with `jQuery.fn.jquery`.

[2019-09-09 01:14] claviska commented on #468
Giving this a little bump. @FezVrasta — I'm still willing to post a bounty for this modifier if you have the bandwidth.

[2019-09-09 05:40] FezVrasta commented on #468
Hey. Thanks for the interest but I don't think I will be able to work on it in the foreseeable future 😕

[2019-09-10 22:53] mreinstein opened #827 "any suggestions on how to animate the popper element?"
I'm hoping to avoid having all the extra stuff that comes with tippy, and just have a built-in animation of my popper elements (probably the default tippy animation, which is called shift-away, which basically just shifts the popper 20px and fades it in.)

My current implementation, which _kinda_ works but is quite hack-ish:

[code]

can anyone offer some suggestions/ideas/guidance on how to do th

[2019-09-11 06:51] imageslr commented on #798
@empty-space  Thank you! That solved my problem!

[2019-09-11 08:22] FezVrasta commented on #798
The `overflow: auto` container creates a new boundary for the tooltip, and since it has the same size of the button you experience this issue.

See @empty-space's code for a possible solution.

[2019-09-11 08:22] #798 closed

[2019-09-11 18:30] katemenkhaus commented on #421
The website still states:
"We automatically detect when your popper should be absolutely positioned or fixed. Don't worry about that!"

This is causing confusion. My team and I have to keep linking people to this issue.
Could you remove it from the website?

[2019-09-11 18:53] FezVrasta commented on #421
Please feel free to send a PR to update the text, I'll merge it

[2019-09-13 13:53] robrez opened #828 "Basic viewport flipping (bottom to top) not working"
### CodePen demo

https://codepen.io/robrez/pen/GRKGOGV

### Steps to reproduce the problem

_note: Everything works correctly in the codepen, however when serving that exact html file locally things do not work (as outlined below)_

1.  import popper
2.  create instance w/ `placement: bottom`
3.  use scrolling to test viewport boundaries

### What is the expected behavior?

Popper w/ placement `b

[2019-09-23 15:51] NicolasPerl commented on #780
I was experiencing this same issue. Make sure both scripts are fully loaded before trying to create a new popper instance.

Hope this helps!

[2019-09-24 12:25] hyvyys commented on #734
Any updates on this? I think this issue affects a lot of frameworks that use Popper. Example:
https://recordit.co/FJ1w2xYoFm

[2019-09-24 13:07] petermonte commented on #734
@hyvyys

I've been under a lot of work and have not yet found the time to draw the entire [perspective](https://github.com/FezVrasta/popper.js/issues/734#issuecomment-450209728) of how should the behavior be in terms of Tooltip.js.

[2019-09-24 13:14] atomiks commented on #734
@hyvyys I think that is this issue: https://github.com/FezVrasta/popper.js/issues/550

[2019-09-26 19:50] Tucsky opened #831 "Prevent popup to be placed ABOVE reference"
### CodePen demo

https://jsfiddle.net/9xgmqnfb/

### Steps to reproduce the problem

1.  Setup the simplest popper ever (no options needed)
2.  Resize the window so the popup can't fit below / above popup
3.  Popup is above reference

### What is the expected behavior?

Since I setup a page with lot of vertical scrolling, and since viewport couldn't contain the full reference and popup i expected

[2019-09-26 20:44] FezVrasta commented on #831
You can define a custom flip behavior and omit the   "top" placement from the list. You can find docs about it in the website.

[2019-09-26 20:44] #831 closed

[2019-09-27 09:49] Tucsky commented on #831
@FezVrasta Thanks, but what if I need the popup to be placed **above** when there is enough space ? and force it to be **below** when not enough space above (and scroll is enough to make it fit in the body height)

[2019-09-27 10:32] FezVrasta commented on #831
I guess you want to change [this option](https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.boundariesElement), try them all and see if one works for you.

[2019-09-27 11:02] atomiks commented on #831
@Tucsky isn't that #550? Saw another issue that seemed to be that one as well a couple days ago 🤔

You only want to use the "flipped" placement if it has enough space, otherwise use the default placement (even if it doesn't either)?

[2019-09-27 14:32] Tucsky commented on #831
@atomiks Thanks man its doing exactly what I wanted!! 👍
Sorry about the duplicate...

[2019-10-01 08:36] designbyadrian commented on #704
@FezVrasta But why is it offset 5 pixels and not 5/2? This means that you'll get a right margin, but the popper element is flush with the left edge of its container.

[2019-10-11 05:10] #827 closed

[2019-10-13 16:09] odobdober commented on #238
ReferenceError: navigator is not defined
at eval (webpack:///./node_modules/popper.js/dist/esm/popper.js?:31:20)
at Module../node_modules/popper.js/dist/esm/popper.js (angular-universal-starter/prerender.js:11499:1)
at webpack_require (angular-universal-starter/prerender.js:20:30)
at eval (webpack:///./node_modules/tooltip.js/dist/esm/tooltip.js?:2:67)
at Module../node_modules/tooltip.js/dist/esm/

[2019-10-14 18:04] IGreatlyDislikeJavascript opened #832 "Offset modifier ignores second axis based on placement"
# CodePen demo

https://codepen.io/IGreatlyDislikeJavascript/pen/bGGNgOj

### Steps to reproduce the problem

Popper won't reliably adjust X/Y positioning on both axis, only the primary axis depending on popper placement.

1.  Simply try to adjust popper position on both axis

### What is the expected behavior?

Ability to adjust in both axis as per docs!

### What went wrong?

Popover doesn't adj

[2019-10-15 20:32] jRichardeau opened #833 "Flip to left when overflow right with default placement to top"
When creating a popper element placed on top but that overflows on the right I would have expected that it will be flipped on the left.

### CodePen demo

https://codepen.io/jrichardeau/pen/YzzWPQz

### Steps to reproduce the problem

1.  Create a popper element with top placement and flip behavior  ['top', 'bottom', 'left', 'right']
2.  Make it overflow on the right
3.  The element remains on the

[2019-10-15 21:50] henrypenny commented on #730
It's frustrating hunting around the website looking for an example with css. At the least you could add one line early on that says: CSS not included. That will stop people hunting for something that's not there.

[2019-10-16 10:30] FezVrasta commented on #730
@henrypenny I'm still accepting PRs! Thanks!

[2019-10-16 10:47] FezVrasta commented on #833
I fear this use case is not supported, we do have the `preventOverflow` modifier that can shift the element to make it stay within the viewport, but the `flip` modifier only supports to flip the element if the latter is overflowing from the side opposite to its reference element.

[2019-10-16 10:48] FezVrasta commented on #828
I'm sorry but I'm not sure how to reproduce your issue if it's happening only on your machine. Consider to publish a repository on GitHub I can clone and run locally to see the issue.

[2019-10-16 10:48] #828 closed

[2019-10-16 10:49] FezVrasta commented on #823
I'm gonna close this since it looks like no more questions are coming.

[2019-10-16 10:49] #823 closed

[2019-10-16 11:05] Ezra-Siton-UIX commented on #730
@henrypenny the most basic example her:
https://codepen.io/ezra_siton/pen/QzLdYW

[2019-10-16 19:46] henrypenny commented on #730
Thanks @Ezra-Siton-UIX

For those who come after me here's the example CSS:

[code]

[2019-10-17 11:44] zanderwar commented on #459
(Google brought me here)

**Bootstrap 4:**

I had to wrap it in `.navbar` to prevent this behavior within a table row

[code]

[2019-10-17 22:45] janus007 commented on #405
Also mine :)
You should do a PR.

Sometimes I'm having a hard time understanding why the majority of developers still uses plain JS, instead of TS ;)

[2019-10-20 16:59] carlosthehyena commented on #430
I have this issue too. I don't understand why this is still a problem. It does not make sense to me that we need to use an older, less secure, version of bootstrap in order to make this work.

[2019-10-20 17:22] secondstoryman commented on #430
I have this issue too. It's hard to understand why this is still a problem, and why the solution is to use a previous, less secure, version of bootstrap (3.3.7) instead of the current (3.4.1). Surely typescript should be dumped.

[2019-10-21 08:05] fidelman opened #834 "Displacing for odd sizes"
### CodePen demo

https://codesandbox.io/s/naughty-robinson-bfbln

### Steps to reproduce the problem

1.  Set an odd number width for a wrapper of <Refernce/> and <Popper/>
2.  Popper container is displaced

### What is the expected behavior?

Popper container is not displaced and matches the border of the container

### What went wrong?
Suppose there is a wrong rounding for odd numbers

### Any

[2019-10-21 08:06] #834 closed

[2019-10-21 08:07] fidelman commented on #834
Setting placement `*-start` solves issue

[2019-10-21 11:11] ernestp commented on #344
@FezVrasta Have any improvement since?
I tried preventOverflow priority: ['bottom', 'top'], but still got placement at right

[2019-10-22 10:07] NemoDima opened #835 "Popper doesn't flip"
### CodePen demo
https://codepen.io/vovaltus/pen/rNNjONg

### Steps to reproduce the problem
1.  Move "Drag me" popper left
2.  "Flipping popper" doesn't flip

### What is the expected behavior?
"Flipping popper" flip

### What went wrong?
"Flipping popper" doesn't flip
Please, check zipped .flv file
[2019-10-21 17-39-30.zip](https://github.com/FezVrasta/popper.js/files/3754807/2019-10-21.17-39-30

[2019-10-22 11:38] nmanikumar5 commented on #52
Its not working properly @FezVrasta

[2019-10-24 14:14] ssylvia opened #836 "TooltipJS - Hidden tooltip takes up space in layout"
### Description

The tooltip hide/show methods only toggles the visibility of the tooltip by toggling the `_tooltipNode` visibility style to `hidden` or `visible`: https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/src/index.js#L266. However, because the tooltip node is not actually removed from the DOM, it still takes up space in the layout and can cause unintended consequences:

[2019-10-24 14:17] FezVrasta commented on #836
Take a look at Tippy.js for a more complete tooltip library, Tooltip.js is simple on purpose, removing and adding DOM nodes would add a lot of complexities.

[2019-10-24 14:17] #836 closed

[2019-10-30 12:40] NemoDima commented on #835
@FezVrasta please look at this issue.
I'll be very appreciated.
Regards, Dmytro

[2019-10-30 12:51] FezVrasta commented on #835
It looks like it works even if you define `['left', 'right-start']`. It could be a valid workaround for you.

I'm not sure why this is happening, it looks like a bug.

[2019-10-30 13:15] NemoDima commented on #835
Thank you a lot!

[2019-11-05 20:59] adilyalcin opened #837 "Firefox bug in getOffsetParent computation with "fixed" position element as firstElementChild"
Hey all,

There's a very specific bug I encountered with Firefox where the offset element is computed inside popper.js.

Based on [MDN spec page for DOM offsetParent property](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/offsetParent):

I have a fixed element somewhere along the shared DOM as first child, which gets picked for input to the getOffsetParent method. Chrome initializes

[2019-11-11 12:10] Korthoutrody opened #838 "What's the yellow flicker when opening a dropdown or popover?"
It also happens on the documentation website. https://getbootstrap.com/docs/4.1/components/popovers/ - When clicking the popover, the header of the popover has a minisecond of a yellow colored background flicker. Can't find anything on Google.

[2019-11-11 12:30] FezVrasta commented on #838
Hi, I don't see any yellow flicker. Also, this is the Popper.js repository, not the Bootstrap one. You are in the wrong place.

[2019-11-11 12:30] #838 closed

[2019-11-11 19:26] codylawson commented on #695
@FezVrasta Is there any reason your snippet wouldn't work for swapping "left" and "right" placement?

[code]
Resulting UI when placement is set to "right" but modifier sets to "left" for RTL:
<img width="296" alt="Screen Shot 2019-11-11 at 12 07 18 PM" src="https://user-images.githubusercontent.com/5149922/68613471-0d129980-047c-11ea-8699-86732b9ba367.png">
It appears the `data-placement` attribut

[2019-11-12 10:49] tecneider commented on #478
@jordonedavidson https://github.com/atomiks/tippy.js-react/blob/master/test/setup.js

[2019-11-12 16:46] mreinstein commented on #764
@shreeve this is really cool! I think this logic could be generalized and useful in cases outside of popper. (e.g., I'm building a web game that has a pannable/zoomable map built on transform/translate/scale and my maps get blurry if I don't snap the positioning on correct increments, depending on the dpr.)

Maybe this could be exposed as a function in an npm module? The inputs and outputs are pre

[2019-11-13 15:40] namjul commented on #797
If you add `left: 0;` to `#pop` it works.

[2019-11-20 00:13] driskull opened #839 "TS typing is incorrect for `flip.behavior` modifier. It should be `Placement[]`"
See the following line of code [here](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/index.d.ts#L72). `index.d.ts` line 72.

### Bug

`behavior?: Behavior | Position[],`

### Correct

`behavior?: Behavior | Placement[],`

### What is the expected behavior?

As you can see in the [code here](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/modifiers/flip.js

[2019-11-20 09:39] alessandro-newzoo commented on #808
oh my God did you just thumb up your own comment? Hilarious.

[2019-11-20 16:21] robclancy commented on #808
@alessandro-newzoo ;)

[2019-11-21 05:53] atomiks opened #841 "[next] Implement DEV-only messaging"
[code]

https://www.npmjs.com/package/babel-plugin-dev-expression

This way warnings don't end up in production bundles.

[2019-11-21 06:55] atomiks commented on #841
@FezVrasta if you want, I can work on a PR for this

[2019-11-21 08:20] FezVrasta commented on #841
I think Rollup/Microbundle supports the variable substitution already, we don’t need the babel plugin.

But yep the overall idea is good 👌

[2019-11-21 08:23] atomiks commented on #841
How does `concurrently 'yarn dev:serve' 'yarn dev:bundles --watch` work? Using Rollup? I know `rollup-plugin-replace` will work for us if that's the case

[2019-11-21 09:48] PerttyZhan opened #843 "Tooltip: 路由切换，存在内存泄露"
tooltip在路由切换是，由于内部的foucs事件无法清除，导致组件无法清除，存在内存泄露。
最主要是由于监听foucs事件用的是匿名函数，导致无法清除。

![image](https://user-images.githubusercontent.com/10022074/69326583-014a8280-0c87-11ea-8119-13ac1e425019.png)

![image](https://user-images.githubusercontent.com/10022074/69326558-f5f75700-0c86-11ea-9a94-ee265a7bb437.png)

[2019-11-21 11:38] #843 closed

[2019-11-21 12:57] FezVrasta opened #844 "GitHub Organization and package names"
I just created a new GitHub Organization: github.com/popperjs

I'd like to transfer there both github.com/FezVrasta/popper.js and github.com/FezVrasta/react-popper
I suppose this will make it easier for new contributors to join and better manage the project without waiting for me to take actions.

I'd also like to rename the npm packages to make it easier to consume and recognize them. A lot of pe

[2019-11-22 00:31] atomiks opened #846 "[next] ES version, Babel loose mode, ponyfills"
## ES versions

Looks like this may be a technique we can use for this package: https://twitter.com/_developit/status/1197548723523477505

## Babel transpilation

I noticed the spread ponyfill created by Babel is big, we should use `@babel/env` preset with `loose` mode enabled to make Babel's ponyfills as small as possible

## Method ponyfills

Currently we are using `.find()`, `.findIndex()`, `.i

[2019-11-22 09:49] FezVrasta commented on #617
I just published a new version at `@popperjs/core@2.0.0-next.5`.

This version includes:

- flip modifier
- placement variations (start/end)

[2019-11-22 09:56] oliviertassinari commented on #617
Awesome, I will try it.

[2019-11-22 10:03] FezVrasta commented on #844
I just finished moving react-popper and popper.js under the new popperjs organization.

Now I wonder if it would make sense to rename the repositories to:

- github.com/popperjs/core
- github.com/popperjs/react

I'm not quite sure about this because having a repository called `react` may make people think that's a fork of `facebook/react` 🤷‍♂

[2019-11-22 10:05] atomiks commented on #844
What about a monorepo with this current repo name you have? So packages are `/core` and `/react`

[2019-11-22 10:06] FezVrasta commented on #844
I don't think I would find any benefit in putting under the same repo the two projects, they use completely different technologies, build pipelines, etc...

[2019-11-22 10:10] FezVrasta opened #847 "Setup new documentation website"
I would like to use Gatsby for the new documentation website, so that we can easily show examples, and write documentation manually.

I don't want to use JSDocs anymore, since the project now uses Flow, it should be trivial to read the type annotations for people that want to know more.

Also, I received a lot of feedbacks from people that couldn't understand how to use the library from the auto-g

[2019-11-22 10:16] atomiks commented on #847
Willing to work on this if you want!

[2019-11-22 10:22] FezVrasta commented on #847
That would be great, thanks!

[2019-11-22 10:27] FezVrasta commented on #846
I don't plan to support Internet Explorer for the new version, all the other browsers support `.find`, `.findIndex` and `.includes`. So that means we don't need any polyfill/ponyfill.

If people need to support older browser versions I'd ask them to polyfill the missing methods, I think it's the most reasonable solution.

[2019-11-22 10:31] FezVrasta commented on #825
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:31] #825 closed

[2019-11-22 10:31] atomiks commented on #846
Not supporting IE11 might be controversial. I mean not supporting it at all, rather than needing to add polyfills (which is fine)

[2019-11-22 10:31] FezVrasta commented on #812
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:31] #812 closed

[2019-11-22 10:31] FezVrasta commented on #808
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:31] #808 closed

[2019-11-22 10:32] FezVrasta commented on #799
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #799 closed

[2019-11-22 10:32] FezVrasta commented on #751
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #751 closed

[2019-11-22 10:32] FezVrasta commented on #727
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #727 closed

[2019-11-22 10:32] FezVrasta commented on #694
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #694 closed

[2019-11-22 10:32] FezVrasta commented on #691
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #691 closed

[2019-11-22 10:32] FezVrasta commented on #690
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:32] #690 closed

[2019-11-22 10:33] FezVrasta commented on #688
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:33] #688 closed

[2019-11-22 10:33] FezVrasta commented on #687
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:33] #687 closed

[2019-11-22 10:33] FezVrasta commented on #669
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:33] #669 closed

[2019-11-22 10:33] FezVrasta commented on #592
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:33] #592 closed

[2019-11-22 10:35] FezVrasta commented on #846
Let's see how it goes, I don't want to bloat the library with hacks just to support that terrible piece of software. IE11 wasn't that bad compared to older versions, so everything may work as is.

[2019-11-22 10:36] #542 closed

[2019-11-22 10:38] atomiks commented on #846
From what I see IE10 is the main problem in v1 (which is irrelevant now). IE11 has almost no quirks to fix from what I see, so it should be relatively easy

[2019-11-22 10:39] FezVrasta commented on #766
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 10:39] #766 closed

[2019-11-22 10:42] #813 closed

[2019-11-22 10:48] FezVrasta commented on #575
This is now supported in v2

[2019-11-22 12:00] BrandonWeber opened #848 "Arrow Position (Right)"
Firstly, thanks for the great position engine.

I read all the documentation and found the `data.offsets.arrow.left` value. But it seems that this does not solve my problem, by default the position of the arrow is central (`left` is automatically calculated). I need to move it to the right under the referring element. Perhaps there is still some way to change the positioning of the arrow?

[2019-11-22 12:08] FezVrasta commented on #848
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2019-11-22 12:08] #848 closed

[2019-11-22 13:25] FezVrasta commented on #637
Your custom modifier is running before the `flip` modifier, that's why you see this behavior. You can change that by defining the `order` property to a value higher than the one assigned to `flip`.

Sorry for the 1 year delay 🤦‍♂️

[2019-11-22 13:25] #637 closed

[2019-11-22 13:25] FezVrasta commented on #645
Hi, I'm interrupting the development of the `tooltip.js` library to focus on the development of `@popperjs/core` (Popper.js v2).

Please consider switching to [Tippy.js](https://github.com/atomiks/tippyjs), which is a way better alternative to Tooltip.js and is well maintained. Tippy.js still uses Popper.js under the hood, so you will find all your favourite features.

I'll close this issue.

[2019-11-22 13:25] #645 closed

[2019-11-22 13:27] FezVrasta commented on #764
If anyone would like to try out these ideas on the `next` branch I think it would be great. The code base is way cleaner so it should be easier to experiment with these ideas.

[2019-11-22 18:48] FezVrasta commented on #617
I published `@popperjs/core@2.0.0-next.6`, it includes:

- `preventOverflow` modifier
- several fixes
- docs for the other modifiers

It would be great if you guys tried it and let me know how it feels.

There is a small quirk that requires the popper element to have `position: absolute; top: 0; left: 0;` applied _before_ Popper.js runs, so keep that in mind while testing it.

[2019-11-22 18:50] oliviertassinari commented on #617
We have noticed the same with v1. Using position fixed helped to fix a scroll focus issue: https://github.com/mui-org/material-ui/blob/b9a983f431d168d6b34726976199ce676455eed5/packages/material-ui/src/Popper/Popper.js#L208-L212

[2019-11-22 19:50] oliviertassinari commented on #617
A couple of notes:
- `ReferenceError: __DEV__ is not defined`
- `Object doesn't support property or method 'find'` in IE 11
- `.destroy() is not a function`
- Crash if no modifiers is provided
- Warn `PopperJS: "detectOverflow" can accept as `boundaryElement` only a parent node of the provided popper.` when an empty array modifiers is provided

I couldn't go further without the destroy method.

[2019-11-22 20:17] FezVrasta commented on #617
I may need to implement the destroy method 😅

[2019-11-22 21:29] ilyes-ferchiou opened #850 "Popper misaligned if it has initially a display value of none."
### CodePen demo

https://codepen.io/ilyesfer/pen/QWWPxap

### Steps to reproduce the problem

1.  Click the #ref div (red).

### What is the expected behavior?

Popper should be horizontally centered to its reference

### What went wrong?

Popper is misaligned

### Any other comments?

If you remove the "display:none" property from the popper CSS. It is aligned correctly.

Tested on Firefox and C

[2019-11-22 21:34] FezVrasta commented on #850
Popper.js can’t compute the popper position if the  element is not rendered in the document, there’s no way to avoid this limitation unfortunately.

You should call sheduleUpdate once the element is visible

[2019-11-22 21:34] #850 closed

[2019-11-23 00:48] atomiks commented on #617
I guess this is due to Babel being used, not Rollup to generate the `"module"` files. So we might need the expression plugin after all

[2019-11-23 12:42] FezVrasta commented on #617
`@popperjs/core@2.0.0-next.7` includes the `destroy` method, and the fix for the `__DEV__` error.

[2019-11-23 12:49] FezVrasta commented on #617
I'm unable to reproduce the point 5 with next.7, may you verify it's still an issue? If so, I may need a repro case.

About point 2, I'm considering asking the consumers to polyfill the unsupported methods, rather than ponyfilling it in the library. It looks like a clean approach that keeps focus on the modern browsers, while allowing dated ones to still work. What's your thoughts?

[2019-11-23 13:07] atomiks commented on #617
IIRC just a note, `instanceof` checks don't work for iframes. You're using that all over the codebase so might need to be refactored into something else.

[2019-11-23 22:20] mreinstein commented on #764
I'm wondering, rather than go through the complexity of detecting gpu and non-gpu cases, would it be easier to simply snap the value to one of the allowed fractions?

e.g., you are on a screen with dpr 4, and you want to display at x=45.312, y=100.88. Snapping the values to x=45.25, y=101 would enable always using gpu for positioning, while always eliminating blurriness.

[2019-11-23 22:23] mreinstein commented on #764
another consideration `Math.round(n)` is asymmetric for negative values. An example:

[code]

[2019-11-23 22:35] mreinstein commented on #764
Have we considered non-integer device pixel ratios?
For example if you're on a non-hdpi screen, your normal dpr would be 1. If you zoom out to 80%, the dpr will be set to 0.8, or possibly even a crazy decimal value (on my screen I see `0.800000011920929`)

How would we handle this?

[2019-11-24 09:14] #847 closed

[2019-11-24 14:13] atomiks commented on #617
## Bugs

### Weird flipping loop behavior

This one requires a super specific scroll config in the test so it's hard to repro

https://i.imgur.com/NO9Uo4z.mp4

I'm not sure if the modifier is necessary

[code]

### Popper flips and gets cut off

http://localhost:5000/scrolling/nested

Resize window to the right so it flips

[code]

### Popper cut off on load

[code]

[2019-11-24 21:10] fastindian84 opened #854 "Transform parent element with translate3d(300px, 0, 0) moves popper by 300px of reference element"
### CodePen demo
https://codepen.io/Yaroslav84/pen/dyyEWYj

### Steps to reproduce the problem
Transform the parent container with css: transform: translate3d(300px, 0, 0);

### What is the expected behavior?
Popper has a correct position within a selected text.

### What went wrong?
Popper is moved by 300px from the reference element.

### Any other comments?
I am using left sidebar menu, that mo

[2019-11-25 10:58] FezVrasta commented on #617
There was a bug with the flip modifier, I pushed a fix for it.

There was also a bug in the `getClippingParent` function used by `detectOverflow` (bug 1) and now it should be fixed too.

@atomiks may you try again?

[2019-11-25 11:02] atomiks commented on #617
1. fixed
2. not sure too hard to repro atm
3. not fixed
4. not fixed

[2019-11-25 13:48] atomiks commented on #617
## 5. Variation placement logic is not correct

http://localhost:5000/basic

Make popper dimensions 200x200 instead of 100x100, and the position will be incorrect, it only coincidentally works with 100x100

[2019-11-26 13:33] FezVrasta commented on #377
Just to bring this conversation to a conclusion, @atomiks prepared one that I absolutely **love**.

![image](https://user-images.githubusercontent.com/5382443/69637814-b4392880-1059-11ea-9541-18b810fb82ca.png)

Issue resolved!

[2019-11-26 13:33] #377 closed

[2019-11-26 13:37] #518 closed

[2019-11-26 13:43] #841 closed

[2019-11-26 13:43] #846 closed

[2019-11-26 13:44] FezVrasta commented on #854
This seems a dupe of #686

[2019-11-26 13:44] #854 closed

[2019-11-26 21:48] atomiks commented on #617
Should we add a `ResizeObserver` (_optional_) to watch for size changes of the popper, along with the scroll and resize listeners? Currently you need a loop if the popper's size changes in an animation or something.

[2019-11-27 15:59] ggoodfrd opened #860 "Bootstrap 4.4.0 requires popper.js >= 1.16.0 which is not yet published to nuget.org"
### Steps to reproduce the problem

1.  Use Visual Studio (2019) to install the latest version of Bootstrap (version 4.4.0) via nuget and get an error message that it depends on popper.js version greater than or equal to 1.16.0
2.  Uninstall local popper.js and Boostrap installations via nuget manager
3.  Try to reinstall the latest version of popper.js via nuget manager and discover that the late

[2019-11-27 16:49] iCptHook commented on #860
Same issue, up!

[2019-11-27 16:53] supergibbs commented on #860
In the meantime, ignore dependencies and manually setup popper:
![image](https://user-images.githubusercontent.com/1106331/69743446-4b9e8a00-10f3-11ea-9c5f-fbb76b02d9aa.png)

[2019-11-27 17:33] ggoodfrd commented on #860
Good suggestion and I wasn't aware of that option until you pointed it out! In this case I'm working on a team template in which we'd prefer to use the standard dependency settings and not have to configure custom bundles to work around the issue. Will await the new nuget packages before completing my new template, but good to know this is a possible work-around. Thanks!

[2019-11-28 10:35] wnr commented on #627
@rpokrovskij I'm experiencing similar problems. Did you find a workaround for this?

[2019-11-28 11:58] FezVrasta commented on #617
ResizeObserver would be neat, it shouldn't add too much overhead.

[2019-11-28 12:00] FezVrasta commented on #617
I just finished to setup some functional tests on the new code base, they run with Puppeteer and do a screenshot comparison to make sure nothing breaks.

I will try to add support for Firefox also, but I won't be able to support Internet Explorer or Edge since they don't provide Puppeteer APIs.

Once Edge migrates to Chromium I guess we'll be able to add tests for it.

[2019-11-28 12:09] FezVrasta commented on #617
Added Firefox tests.

[2019-11-28 12:49] EgilNextron commented on #860
FezVrasta are you no longer using NuGet to distribute Popper.js? Last updated 4/4/2018  Latest version: 1.14.3 is pretty far behind :O

[2019-11-28 13:57] rpokrovskij commented on #627
@wnr no, just leave with it.

[2019-11-29 03:59] atomiks commented on #617
### 6. `getElementClientRect` rect doesn't take into account `transform`s

`offset` properties are being used, but these don't take into account transforms. However, it looks like they were chosen because they greatly simplify logic regarding `offsetParent` and scrolling containers, right? 😕

How do we get it to handle transforms? I'm guessing there is no other option but to use `getElementClientR

[2019-11-29 12:32] yijuneasy commented on #860
nuget

[2019-11-29 12:50] FezVrasta commented on #860
Published! https://www.nuget.org/packages/popper.js/1.16.0

Just be careful, Popper v2 will not support NuGet or Bower, just npm and unpkg CDN.

![tenor](https://user-images.githubusercontent.com/5382443/69870096-1a6ab900-12af-11ea-8788-30448aac82cd.gif)

[2019-11-29 12:50] #860 closed

[2019-11-29 14:37] ggoodfrd commented on #860
Thanks for getting this updated so quickly. It's all working for me now and was able to complete my task.

[2019-11-30 04:59] luxferresum commented on #813
Has this been fixed?

[2019-11-30 06:24] FezVrasta commented on #813
It’s an issue with a dependency, I can’t do anything unfortunately

[2019-11-30 19:23] embeddedt commented on #844
I think, to avoid confusion, you need `popper` in the React package's name as well. Maybe stick with `@popperjs/react-popper`?

[2019-12-01 08:22] atomiks commented on #764
In v2, we're now forcing `top/left` properties for <`@2x` displays. This should effectively prevent blurry problems (when zooming or when the popper sits on a subpixel, or due to layer acceleration), since those properties round internally and use whole pixels.

There should now also be perfect positioning since we're using `getBoundingClientRect` and don't do any rounding. There will sometimes be

[2019-12-01 14:30] atomiks commented on #617
### 7. Change flip `Options#behavior` to `Options#fallbackPlacements`

The word "behavior" isn't self-descriptive, `fallbackPlacements` makes much more sense. Thoughts?

[2019-12-01 14:33] FezVrasta commented on #617
I like it! I'm sorry but my english is pretty limited so I often can't find good names for the lib functionalities 😩

[2019-12-01 14:38] atomiks commented on #617
I don't think `fallbackPlacements` made sense in v1, because you had to specify the original placement as well inside the array.

In v2, you can do something like this, right?

[code]

[2019-12-01 14:39] FezVrasta commented on #617
Yes it should be correct

[2019-12-01 14:50] atomiks commented on #617
Also I think we discussed, but I think the flipping default should be smarter than `fallbackPlacements: [oppositePlacement]`

[code]

e.g. most common use case is a left/right placement that won't fit on small screens like mobile, so it needs to use vertical space. The alternative is overlapping or overflowing, both of which aren't good options.

[2019-12-01 17:11] FezVrasta commented on #400
The v2 offset modifier will allow you to define your own logic to accomplish the `inner + offset`.

[code]

I'm marking this issue as "Fixed in v2" then.

[2019-12-02 04:09] atomiks commented on #617
### 8. `flip` boundary should be based on the viewport not document

The docs read:

Currently, while using the flip test, the popper doesn't flip when it goes beyond the bottom of the viewport (but not the bottom of the whole page). This is unexpected.

While both should use `clippingParent` first (I think?), `preventOverflow` should fallback to the document rect by default, while `flip` should f

[2019-12-02 09:51] AJB99 commented on #730
I agree with all the other confused devs in this thread.

Why can't I find where I'm supposed to declare the `trigger` property on the `options` Object? How is it so difficult for me to figure this out that I'm thinking of just rolling my own popover comp?

Your docs are especially confusing because you've used a syntax that is overly-decorative, and seems to be missing 80% of the options that can

[2019-12-02 11:05] FezVrasta commented on #730
Tooltip.js is deprecated, please use Tippy.js, it has great docs.

[2019-12-03 05:54] kumarharsh commented on #617
Just dropping by to say I'm really loving the progress here. Keep it up :)

[2019-12-03 13:47] FezVrasta commented on #617
I just added a bundle visualizer to the Rollup config. Hopefully it will help us to understand where can we focus our efforts when we need to simplify parts of the library.

The popper-base is still very light (1.96 kB gzip), popper-lite is at 2.85 kB gzip, which is great. But the full library is at 4.25 kB gzip, we may want to keep an eye on it.

![image](https://user-images.githubusercontent.com

[2019-12-03 14:08] atomiks commented on #617
31.88 KB for `popper.min.js` seems wrong, is it using unminified sourcemap sizes?

It looks really cool tho 🚀

[2019-12-03 14:10] FezVrasta commented on #617
You are right, it's unminified. I need to fix that 🧐

[2019-12-03 14:23] FezVrasta commented on #617
Here's the minified visualization.

![image](https://user-images.githubusercontent.com/5382443/70059173-97b06980-15e0-11ea-9f50-4d3aecce7f86.png)

[2019-12-03 14:36] atomiks commented on #617
I bet `index.js` could be around 1.5 kB if we used a closure instead of a class:

`new Popper` => `createPopper`. Is there a reason for keeping the class syntax?

[2019-12-03 14:40] FezVrasta commented on #617
no, actually I did a little poll on Twitter and people preferred the non-class approach, so we may change it.

I'll send a PR in a few minutes.

[2019-12-03 15:00] FezVrasta commented on #617
https://github.com/popperjs/popper.js/pull/867

[2019-12-04 08:47] atomiks commented on #617
I wonder if we could release Popper v2 alpha soon or around Christmas time? 🚀 🎄
Would be a nice little gift for everyone 🎁

There are `next` versions already but too unstable and undocumented to use. I feel like we've covered most features already that were in v1 now. There are just a few behavior tweaks to do in the next few weeks and it should be ready to make an article about to get people to t

[2019-12-04 18:09] FezVrasta commented on #617
I was planning to go from `next` to `beta`, any reason to use `alpha` as well?

[2019-12-04 18:10] FezVrasta commented on #710
@atomiks is this fixed in v2?

[2019-12-04 18:10] FezVrasta commented on #784
@atomiks is this fixed in v2?

[2019-12-05 00:29] atomiks commented on #784
Since we're using `getBoundingClientRect` probably but I'll test it to see

[2019-12-05 00:30] atomiks commented on #710
Since we're using `getBoundingClientRect` probably but I'll test it to see

[2019-12-05 00:31] atomiks commented on #784
This is the same problem that this will fix IIRC: https://github.com/popperjs/popper.js/pull/859

[2019-12-05 00:39] atomiks commented on #617
I don't really know what the difference between them is regarding breaking changes 🤷‍♂

`beta` makes more sense with an article, but can you continue to make breaking changes during them?

[2019-12-05 10:27] atomiks commented on #710
It's fixed 👍

[2019-12-05 14:49] FezVrasta commented on #617
The one below is the pseudo-thermal view of the gzipped `popper.min.js` file, red parts are the one that can't be compressed, blue the ones that get compressed more.

Posting just because it's kinda cool 😄 It looks like the library is already pretty well compressed.

![gzthermal-result](https://user-images.githubusercontent.com/5382443/70245618-adf02e00-1776-11ea-971e-fdd993c8fb75.png)

[2019-12-05 18:11] IGreatlyDislikeJavascript commented on #832
@FezVrasta thanks for confirming v2 fix, will await your release.

[2019-12-06 12:13] iamvijaydev commented on #832
I went ahead and fixed by passing a modified `anchorEl`. I hope this will be a solutions to those who are stuck with version 1:

[code]

As you see the `left` value is altered from the original value. Please note that (with React) we also need to set `anchorEl` to null when not required. So do wrap the above code in something like this:

[code]

[2019-12-06 16:42] JLiu1272 commented on #52
Hi, @FezVrasta, I tried using the modifier you suggested, and like @nmanikumar5, I am not able to get it to work either.

[2019-12-08 16:12] atomiks commented on #617
For custom modifiers, how do we allow adding to `compute/applyStyles`?

e.g. if `hide` won't have built-in support, they need to add an `data-popper-out-of-bounds` attribute in a separate write modifier?

[2019-12-08 16:25] FezVrasta commented on #617
Maybe we could move the `styles` and `attributes` out of the modifier namespace, leave them in `state.*`

[2019-12-09 11:07] FezVrasta commented on #617
I just published 2.0.0-next.14 with support for TypeScript, if anyone could try it out and report if there are any problems it would be great.

[2019-12-10 11:09] NemoDima commented on #617
@FezVrasta please, excuse me for the dummy question? I'm a bit nooby with GitHub and current project workflow.

#835 was it solved in 2.0.0-next.15 or should I wait for the new corresponding status of my bugreport?

Bets wishes, Dmytro

[2019-12-10 11:11] FezVrasta commented on #617
The fix is available in 2.0.0-next.15, but we are not there yet for a stable release. You can start playing with it and see if everything works as you expect though.

[2019-12-10 21:54] nicolas-cherel commented on #578
This is likely to be a `react-popper` issue, due to a fragile usage of async scheduling in react lifecycles https://github.com/popperjs/react-popper/pull/320

[2019-12-12 01:45] cytrowski commented on #791
Have you considered using the modifiers? https://github.com/popperjs/popper.js/blob/master/docs/_includes/popper-documentation.md#modifiers--object

[2019-12-12 06:27] FezVrasta commented on #791
May someone test this bug with @popperjs/core@next?

[2019-12-12 10:17] cytrowski commented on #791
I can do it Today :) stay tuned

[2019-12-12 10:35] cytrowski commented on #791
Sadly it's even worse: https://codepen.io/cytrowski/pen/MWYepgL

Right now to see the popper element you have to resize the window. With 1.16 it's at least visible.

[2019-12-12 10:44] atomiks commented on #791
Hi @cytrowski you need to be trying the latest `@next`. I did and the bug is there, but it's positioned where the button would "originally" be if the iframe was not offset. So we need to take into account iframes' position on the document as well? 🤔

[2019-12-12 10:45] FezVrasta commented on #791
https://codepen.io/FezVrasta/pen/dyPXvMp

[2019-12-12 10:48] atomiks commented on #791
That doesn't work @FezVrasta

This one works: https://codepen.io/atomiks/pen/qBENrNZ

[2019-12-12 10:49] FezVrasta commented on #791
Thanks, so it looks like v2 is not worse, but not better, than v1

[2019-12-12 11:50] cytrowski commented on #791
Yes, that's the issue we experience :) Thank you for looking into that

[2019-12-12 12:58] cytrowski commented on #791
Just a quick question @FezVrasta - are you going to fixing this in the next week or so? If not I can try doing the PR with a fix. Also I think it's worth fixing in 1.17 as well as in the latest version

[2019-12-12 13:52] FezVrasta commented on #791
Right now I'm working in preparation of the release of Popper 2, so I doubt I'll have time to look at this issue. If you'd like to send a PR that'd be great.

I don't plan to continue the development of the 1.x branch if not for security vulnerabilities.

[2019-12-15 16:57] FezVrasta commented on #496
So, in v2 the popper offsets calculation is in a dedicated modifier, that means anyone can extend or completely replace it to address their own use cases when they are not covered by the default one.

I'll mark this as "Fixed in v2"

[2019-12-16 12:37] FezVrasta commented on #572
in v2 we now have the `scrollingParents` option, I think that should cover this use case.

[2019-12-16 13:23] FezVrasta commented on #670
It seems fixed in v2

https://codepen.io/FezVrasta/pen/eYmBZGJ

[2019-12-16 13:25] FezVrasta commented on #535
It seems fixed in v2

https://codepen.io/FezVrasta/pen/ZEYBWab

[2019-12-16 13:27] FezVrasta commented on #628
This is still broken on v2
https://codepen.io/FezVrasta/pen/yLyVOpy

[2019-12-16 13:28] FezVrasta commented on #526
This is fixed in v2
https://codepen.io/FezVrasta/pen/wvBoGpN

[2019-12-16 13:32] FezVrasta commented on #455
This seems to be fixed in v2
https://codepen.io/FezVrasta/pen/mdyOPxj

[2019-12-16 13:38] FezVrasta commented on #276
These issues should be fixed in v2, I don't have any codepen to test it (since the recent examples rely on Bootstrap), but similar table-related issues are fixed so I'm pretty confident.

[2019-12-16 13:44] FezVrasta commented on #617
Just a heads up, `@popperjs/core@2.0.0-alpha.1` is now available on npm, it should be quite stable.

Report any feedback here if you have a chance to try it.

[2019-12-16 14:59] atomiks commented on #617
As far as I can tell, these features are still yet to be implemented that are in v1:

- `auto` placement
- `flipVariations` / `flipVariationsByContent` ([that a PR recently introduced?](https://github.com/popperjs/popper.js/pull/754))

What else?

[2019-12-16 15:05] FezVrasta commented on #617
There's the `clockwise` and `counter-clockwise` flip behavior, but I don't think it's something I want to see in v2, it can be easily achieved in user-space, and hopefully, once `auto` is ready, we'll be able to set `auto` as fallback placement, to cover the majority of the use cases.

[2019-12-16 16:53] FezVrasta commented on #673
This is still broken in v2 (even worse, the workaround doesn't work)

https://codepen.io/FezVrasta/pen/LYEbxrM

[2019-12-16 16:55] FezVrasta commented on #708
This seems to be even more broken in v2

[2019-12-16 16:58] FezVrasta commented on #686
As of today, positioning seems to work in both the codepens provided [here](https://github.com/popperjs/popper.js/issues/686#issuecomment-423044114).

Tooltip.js is deprecated, so the mouseleave issue is irrelevant.

[2019-12-16 16:58] #686 closed

[2019-12-16 17:01] FezVrasta commented on #721
Sorry, I never answered to this one.

This is expected, reference margins are not considered when positioning the popper.

[2019-12-16 17:01] #721 closed

[2019-12-16 17:17] atomiks commented on #673
Our `tether` option in preventOverflow is causing  these problems - mainly `center` and `surfaces`. `edges` and false work properly.

[2019-12-17 12:08] FezVrasta commented on #673
Fixed with alpha 2

https://codepen.io/FezVrasta/pen/LYEbxrM

[2019-12-17 12:11] FezVrasta commented on #797
As pointed out, you need to set some initial CSS to the popper element to make sure it doesn't mess the layout _before_ Popper has a chance to run its logic.

The example works correctly on v2
https://codepen.io/FezVrasta/pen/OJPbrJX

[2019-12-17 12:31] FezVrasta commented on #708
@atomiks does everything look good here? https://codepen.io/FezVrasta/pen/gObLZWw

[2019-12-17 12:34] atomiks commented on #708
Looks like it's fixed yeah

[2019-12-17 13:31] FezVrasta commented on #792
Right now, in order to run Popper 2 on Internet Explorer 11, the following polyfills are required:

- `Object.assign`;
- `Object.entries';
- `Array.prototype.includes`;
- `Array.prototype.find`;
- `Promise`;

You can import all the above polyfills with these scripts:

[code]

Thought, this isn't enough to make Popper 2 work, for some reason, the popper position is always set to `top: 0; left: 0;`.

[2019-12-17 14:03] FezVrasta commented on #617
Is there some Windows user willing to help us figure out why Popper 2 is not working on Edge and Internet Explorer 11?

On both of the browsers no errors are displayed (after the required polyfills are included #792)

[2019-12-17 20:18] grumbaut commented on #575
The company I work for uses Popper.js for glossary definitions in its ebooks. While Popper.js works on our own proprietary ebook platform, it does not work on other online readers that display the pages as XHTML.

Would it be possible to have the solution for supporting XHTML released with a `1.x.x` tag? We're hoping to have this fix on a stable version, just so that it doesn't need to be updated

[2019-12-17 21:09] FezVrasta commented on #575
I’m sorry, there are several places where things should be changed to properly fix it. Unless a clean fix is provided (following what I did in v2) I don’t plan to merge PRs to fix this issue on v1.

Code stability is more important than fixing this bug at the moment.

[2019-12-18 02:27] atomiks commented on #708
Nevermind it's not fixed 😆

I looked at it more closely – the CodePen is using `[x-arrow]` but we use `[data-popper-arrow]` now. Changing to that causes it to overflow again.

I am guessing it's due to the `tether` option including the arrow in the calculation (which is larger than the reference), but we need to make an exception if the reference is smaller than it.

[2019-12-18 05:44] atomiks commented on #468
Can our new composable `detectOverflow` modifier solve this? e.g. you'd set the `area` to another popper element?

[2019-12-18 06:15] FezVrasta commented on #468
I’m not sure, I think it works only for parent elements

[2019-12-18 19:34] #129 closed

[2019-12-18 19:34] #276 closed

[2019-12-18 19:34] #392 closed