[2017-11-01 15:49] #478 closed

[2017-11-01 16:09] loftyduck commented on #476
You're right, thank you!

[2017-11-02 08:35] #399 closed

[2017-11-02 09:13] frontsideair commented on #478
This turned out to be trickier than I imagined. I polyfilled `document.createRange` but now I get `NaN` for some computed styles, the reason is `jsdom` returns `0` for every property of the bounding client rect.

I imagine this will never be the case in a real browser, but if there's a possibility if it can be, then guarding against NaN (or more generally non-finite values) could be an improvement

[2017-11-02 10:23] FezVrasta commented on #478
Yes as I said, Popper.js is probably never going to work in JSDOM, it relies on real browser DOM APIs to work.

[2017-11-02 10:32] frontsideair commented on #478
Of course, I don't expect it to work in a simulated environment. I just want it to not cause errors in snapshot tests. `jsdom` is a big and old project with high barrier of entry for me, but I'm willing to work on Popper.js to fix this issue. 😺

[2017-11-02 10:38] FezVrasta commented on #478
Wouldn't make sense to simply mock Popper.js?

[2017-11-02 10:51] #331 closed

[2017-11-02 12:28] #431 closed

[2017-11-02 12:47] miracle2k commented on #459
@FezVrasta I am struggling with this; Any suggestion as to how step 3  should be done? Is there some event I can listen to? I also found this commit:

https://github.com/FezVrasta/popper.js/commit/660849a3e6d73d0b6d502b2db0ed1d6cd330be9d

which seems to suggest that popper will take care of this for me.

[2017-11-02 12:54] FezVrasta commented on #459
The commit you refer to is very old, that part of code wasn't reliable and has been removed.

Probably it's enough to use a `requestAnimationFrame` to delay the Popper.js initialization.

[code]
https://codepen.io/FezVrasta/pen/YEwzrN

[2017-11-02 16:05] brentertz commented on #478
@frontsideair I am dealing with the exact same thing.  If you come up with a solution, please share, and I'll do the same.

[2017-11-02 16:08] FezVrasta commented on #478
Since on JSDom the only thing that Popper.js will do is to add some wrong inline style to the popper element, why not mock it away?

[code]

or something like that?

[2017-11-02 16:32] brentertz commented on #478
Thanks @FezVrasta The following works for me.

[code]

[2017-11-02 16:33] FezVrasta commented on #478
You can also use `static placements = Popper.placements` I think, or anyway there's a way to access the original module so that you don't have to copy the placements.

[2017-11-02 16:34] brentertz commented on #478
Yeah, I am experimenting with that now, but currently Jest is complaining about it.

[2017-11-02 16:42] FezVrasta commented on #478
I remember there was a syntax that looked like:

[code]

but I can't find it now

[2017-11-02 17:18] brentertz commented on #478
Boom 💥

[code]

[2017-11-02 17:31] FezVrasta commented on #478
That's it! Thanks :-)

[2017-11-02 17:53] brentertz commented on #478
Just to close the loop on this...

I also discovered that following works and may be more desirable for some folks.

Create a folder/file called `__mocks__/popper.js.js` adjacent to your `node_modules` directory containing the following code.  Jest will pick it up automatically.

[code]

[2017-11-02 18:19] moyarich commented on #300
@FezVrasta bootstrap uses focusin to show the popper and and focusout to  hide it.
when you click the button it creates a tooltip, when the button loses focus the tooltip disappears. it doesn't work very well because when you try to click inside the tooltip, it disappears

[2017-11-02 18:56] djibarian opened #481 "Wrong positioning in Safari"
### Steps to reproduce the problem

1.  In Safari the vertical position is wrongly calculated on rubber scrolling past top. See https://codepen.io/anon/pen/zPrZZK

### What is the expected behavior?

Popper and reference should stay together.

### What went wrong?

Popper stays together with the reference element only when scrolling a few pixels top. Afterwards the popper scrolls with the backgrou

[2017-11-02 18:58] FezVrasta commented on #481
What version of Safari?

[2017-11-02 19:08] djibarian commented on #481
11

[2017-11-02 19:10] FezVrasta commented on #481
May you share a video recording of the problem? I don't seem to reproduce it.

You may use QuickTime or [LiceCAP](https://www.cockos.com/licecap/)

[2017-11-02 19:13] docdawning commented on #429
I ran aground in to this too. Thanks @fishen. I was using `dist/popper.js`, now with `dist/umd/popper.min.js` in its place, I'm no longer having issues.

I suspect from a kind of HCI vantage point, this may come up for folks routinely. I know... I know.. _GTFO || RTFM(mf)_.

[2017-11-02 19:30] djibarian commented on #481
There it is: https://www.dropbox.com/s/cdpejt4zxdiqabz/popper.mov?dl=0

[2017-11-02 19:36] FezVrasta commented on #481
I see, I don't think I can do anything for it. It's something handled at OS level and there aren't JS APIs for it. Sorry.

[2017-11-02 19:36] #481 closed

[2017-11-02 19:42] sontek opened #482 "How to manage z-index issues?"
### CodePen demo
https://codepen.io/sontek/pen/OOMmvN

### Steps to reproduce the problem

The popper is below both the content and the absolute positioned footer.  How can I make sure it is above them?

### What is the expected behavior?

The popper to be above the absolute positioned footer.

### What went wrong?

The popper is below it.

[2017-11-02 19:45] FezVrasta commented on #482
https://codepen.io/FezVrasta/pen/QOyvVg ?

The thing is, any `z-index` higher than 3 denotes a lack of understanding of how it works.

[2017-11-02 19:49] sontek commented on #482
@FezVrasta Sorry, we have z-index higher than 3 because we use a react component that has set their z-index higher than that and we have to pop above it.

Your pen gets it above the content but not the absolute positioned footer, which is my problem.   Shrink your window so the gray box is closer to the popper

[2017-11-02 19:57] FezVrasta commented on #482
`isolation: isolate` is your best friend.

z-index is thought to be used in "stack contexts", you just create small stacks with few elements (and then, few layers)

[2017-11-02 19:59] sontek commented on #482
@FezVrasta Yeah, but `isolation` isn't supported in any IE (even modern ones), correct?

[2017-11-02 20:02] sontek commented on #482
So what would be the best way to handle a thing like what I'm doing here?    In the codepen you posted its just `z-index: 1` and `z-index: 2` but the popper doesn't go above the absolute positioned element that has the lower z-index.

[2017-11-02 20:03] FezVrasta commented on #482
You want to have a stacking context for the page layout, and then on top of it you put a other elements (like the popper) that with just a `z-index: 1` will stay above the rest

[2017-11-02 21:17] djibarian commented on #481
Well getBoundingClientRect() for the reference element is returning correct values always at top-left corner. How is the popper position then calculated in this case to give incorrect values?

[2017-11-03 08:58] #482 closed

[2017-11-03 15:11] FezVrasta commented on #478
@brentertz would you mind to send a PR to add your last mock somewhere in the docs?

[2017-11-04 14:25] Aoyue-Design opened #483 "attribute naming suggestion ( x-placement, x-arrow )"
### What went wrong?

Have you considered in accordance with the standard HTML5 to name the property?
I think the best name for "popper.js" should be `data-popper- *`

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-*

[2017-11-04 15:42] FezVrasta commented on #483
Yes we should change it in a new major version.

[2017-11-05 16:33] FezVrasta commented on #328
Fixed in https://github.com/FezVrasta/popper.js/commit/728adc902adcdcf48d9b5cbac81efbd3b19a64f2

[2017-11-05 16:33] #328 closed

[2017-11-05 16:43] #340 closed

[2017-11-05 22:10] Aoyue-Design opened #484 "enhance arrow positioning way"
### What went wrong?

In the current versions,
The arrow position is using css "top" or "left" to positioning and transitioning.

I suggest using "transform" like that you positioning popper.
"transform" is the best way to transitioning and positioning smoothly.

It's still not smooth even though you use "will-change" to tell browser in advance. I have experimented that using "top" & "will-change:

[2017-11-06 05:52] atomiks commented on #251
Have you gotten any closer to solving this (without breaking 302)?

[2017-11-06 08:28] FezVrasta commented on #251
Nope sorry. It's very tricky

[2017-11-06 11:38] FezVrasta commented on #484
Thanks for the suggestion, may you provide a codepen to show the slowness? I never encountered any problem with the arrow positioning.

[2017-11-06 11:41] FezVrasta commented on #346
Going to close this for lack of interest from the community. If anyone wants this just open a PR to implement the feature please.

[2017-11-06 11:41] #346 closed

[2017-11-06 17:00] Aoyue-Design commented on #484
left & top ( 30fps ) : https://codepen.io/chriscoyier/pen/pBCax
transform ( 60fps ) : https://codepen.io/chriscoyier/pen/kyctm

The current popper arrow doesn't set css transition, so positioning through top and left is no problem.
You can observe the different performance from both when setting transition for arrow.

[2017-11-06 17:50] FezVrasta commented on #484
Yeah ok but, as you said, we don't have any transition, we are just moving a super small element on a single axis.

That's why I say that I never encountered this slowness.

[2017-11-06 20:01] atomiks commented on #251
Which functions are relevant to this problem?

I can try and see if I can work it out.

[2017-11-07 12:22] G-J opened #486 "Modify offset position"
### CodePen demo

https://codepen.io/gjk/pen/OOXQZe

### Steps to reproduce the problem

1.  initialize a new Popper
2.  Set the modifiers offset to 0%

### What is the expected behavior?

I expect the popper to be positioned at the absolute bottom left of the reference.

### What went wrong?

The popper is gets the offset left value of the reference container. Placing it x px along the axis. I wo

[2017-11-07 12:31] Johann-S commented on #486
Yep you can do that on Bootstrap dropdown by using `data-offset` see : https://getbootstrap.com/docs/4.0/components/dropdowns/#options

[2017-11-08 12:50] SaraVieira commented on #377
Small idea I made quickly:
![group 3](https://user-images.githubusercontent.com/1051509/32550005-695251c6-c483-11e7-89bc-88d3fa1b8795.png)

[2017-11-08 12:56] FezVrasta commented on #377
@SaraViera that's a cool idea! I'd love it to better describe the main usage of the library (tooltips/popovers) and that's something that your current sketch lacks, but it's very funny and original!

[2017-11-08 13:12] rmanenti commented on #377
Hey Federico,

   Here's a quick sketch of an idea.

![popper](https://user-images.githubusercontent.com/8531754/32550836-b2cd22da-c475-11e7-8e37-67fa67a5ae94.jpg)

[2017-11-08 13:35] SaraVieira commented on #377
Do you think that changing the thing from toasts to a tooltip with the name would help?

[2017-11-08 13:36] FezVrasta commented on #377
Probably! Maybe an hybrid? 🤯

[2017-11-08 13:47] SaraVieira commented on #377
![group 2](https://user-images.githubusercontent.com/1051509/32552281-5261d13c-c48b-11e7-9ae4-dcec8b32475f.png)

[2017-11-08 13:48] SaraVieira commented on #377
![group 2 1](https://user-images.githubusercontent.com/1051509/32552328-85fe9eee-c48b-11e7-9984-e2d82a003677.png)

[2017-11-08 13:49] FezVrasta commented on #377
Now is a bit sad ☹️ (sorry!)

I liked the face on the bread slice

[2017-11-08 13:50] SaraVieira commented on #377
OHHH

2M

[2017-11-08 13:53] xtuc commented on #377
What about just the tooltip?

[2017-11-08 13:57] SaraVieira commented on #377
![group 5](https://user-images.githubusercontent.com/1051509/32552714-c497ae7e-c48c-11e7-93a3-9d609ee9c247.png)

[2017-11-08 13:59] SaraVieira commented on #377
@xtuc @FezVrasta How do you feel about
![group 6](https://user-images.githubusercontent.com/1051509/32552798-ffe1e148-c48c-11e7-8960-b922b3a86688.png)

[2017-11-08 14:00] xtuc commented on #377
It looks amazing!

I just wondering why do you have a tooltip spawning out of a toaster :thinking: :smile:

[2017-11-08 14:01] SaraVieira commented on #377
![tooltip _ 1 line 1 1](https://user-images.githubusercontent.com/1051509/32552907-4c2b4300-c48d-11e7-96a1-3341233eae95.png)

[2017-11-08 14:03] FezVrasta commented on #377
So, the idea is cool in my opinion, it just needs to be realized/concretized/drawn in a more "professional" (?) way. Not sure you get what I mean.

[2017-11-08 14:03] SaraVieira commented on #377
![tooltip _ 1 line 1 1 1](https://user-images.githubusercontent.com/1051509/32553016-99f8eac4-c48d-11e7-9bff-676801ed4c92.png)

[2017-11-08 14:03] souporserious commented on #377
Had a little time this morning to try and get something. Figured we could riff off of tooltips :)

![image](https://user-images.githubusercontent.com/2762082/32553011-860389a4-c44a-11e7-8a65-dac1181d5bd3.png)

![image](https://user-images.githubusercontent.com/2762082/32553037-9945ada8-c44a-11e7-93c9-16f5408ea051.png)

[2017-11-08 14:04] xtuc commented on #377
This https://github.com/FezVrasta/popper.js/issues/377#issuecomment-342826459  one :100:

[2017-11-08 14:05] SaraVieira commented on #377
@FezVrasta I get what you mean , but I honestly don't know how to make professional stuff :(

[2017-11-08 14:11] carolevy commented on #377
Hi :)
Just tried this little one out... Using the colors from your website :)
No smiley faces on toasts, sorry!

<img width="650" alt="capture d ecran 2017-11-08 a 15 10 10" src="https://user-images.githubusercontent.com/33489027/32553348-f3ea8836-c496-11e7-92d4-e20ef384d0e6.png">

[2017-11-08 15:23] xtuc commented on #377
@carolevy that looks amazing!

My votes goes to both:
- https://github.com/FezVrasta/popper.js/issues/377#issuecomment-342828772
- https://github.com/FezVrasta/popper.js/issues/377#issuecomment-342826459

[2017-11-08 15:41] yuvikakoul commented on #377
Here is a suggestion for the logo.
Have tried to have the same feel as the website and tried to keep it clean and professional.
**Thought behind the creation:**
Have connected a tooltip with the ruler to show the combination of what is provided with how it is provided.
Cheers!
Yuvi :)
![popper](https://user-images.githubusercontent.com/9837123/32557840-4fa5d3d8-c4c9-11e7-9327-9b9ae820ee92.jpg)

[2017-11-08 15:47] FezVrasta commented on #377
Oh damn that's actually pretty awesome!

[2017-11-08 15:52] yuvikakoul commented on #377
Thanks  @FezVrasta  :)
Would really love to work on this with you to bring it to perfection for the project :)

[2017-11-08 16:01] carolevy commented on #377
@yuvikakoul Hey! Really nice!! Just wondering what it would look like with a regular line instead of the dotted line around the popper?

[2017-11-08 16:02] FezVrasta commented on #377
Can't ask more 🤩

I posted some pictures on Spectrum but I'm going to post them here as well:
![image](https://user-images.githubusercontent.com/5382443/32558842-0aa7516c-c4a6-11e7-9c9a-11831573ce37.png)
![image](https://user-images.githubusercontent.com/5382443/32558846-0dfac998-c4a6-11e7-840f-fd2dcf002024.png)

I really like the way those logos are colored, with all those gradients that creates

[2017-11-08 16:05] yuvikakoul commented on #377
Hey @carolevy Thanks for the suggestion.
This is a great add and gives better sense of depth to the overall flat design.
![popper_v2](https://user-images.githubusercontent.com/9837123/32559244-b73a51ce-c4cc-11e7-86f6-9fa077c59d55.jpg)

[2017-11-08 16:10] carolevy commented on #377
@yuvikakoul @FezVrasta Yay! Prefer this version :) great work! very professional.
also agree with @FezVrasta  regarding the use of colour, even though I also like that they were the same as on the website!

[2017-11-08 16:11] FezVrasta commented on #377
I think the colors may remain the same, we could just introduce some gradients using variations of them

[2017-11-08 16:29] yuvikakoul commented on #377
@FezVrasta @carolevy how about something like this, a subtle gradient?
![popper_v3](https://user-images.githubusercontent.com/9837123/32560599-0e92cd5e-c4d0-11e7-96c0-a5a3fe58e72a.jpg)

[2017-11-08 16:32] FezVrasta commented on #377
me like it! 😀

Just some random notes:

- is it me or the bottom left corner is sharp and the others are rounded?
- Maybe a nicer typeset for the whole logo?
- I'm not sure about the color of the border, also, do we actually need one?

[2017-11-08 16:36] schiehll commented on #377
I'm not a designer, but I had an idea while reading the issue. Maybe you can use the negative space on the "R" to create an arrow.

Something like this, but made by someone with some design skills:

![popper](https://user-images.githubusercontent.com/5200983/32560793-aadbe1ee-c491-11e7-89ef-c4ac00ba33fe.png)

[2017-11-08 16:52] yuvikakoul commented on #377
Hey @FezVrasta
I've got two variations of the typeset, which I feel go with the overall theme.
What do you suggest?
![popper_v4](https://user-images.githubusercontent.com/9837123/32561844-433b8098-c4d3-11e7-9bc3-5e6f4634de27.jpg)
![popper_v5](https://user-images.githubusercontent.com/9837123/32561845-43f1f5bc-c4d3-11e7-99ec-79ffe80dc3cf.jpg)

[2017-11-08 16:54] FezVrasta commented on #377
I like more the second

[2017-11-08 16:57] yuvikakoul commented on #377
Yeah, it gives an edge yet keeps it professional :)

[2017-11-09 07:10] yuvikakoul commented on #377
Hey @FezVrasta
Here are the icon versions of the logo.
1 can be used for stickers, icons and the one with only can be used for small placements like favicon.
Cheers!
![popper_for-small-units-](https://user-images.githubusercontent.com/9837123/32592746-2e584094-c54b-11e7-894d-6393a82b987f.jpg)
![popper_icon](https://user-images.githubusercontent.com/9837123/32592747-2e93a012-c54b-11e7-9447-c83557dc

[2017-11-09 09:11] fbring commented on #371
Would you be so nice and release the newest version to npm?

I´m running into this (#450) and the latest npm release was published 3 weeks ago to v1.1.6.

[2017-11-09 12:23] FezVrasta commented on #377
Thanks! I'm not sure about the "P.js" idea, I wonder if people will remember the name of the library if they just see that...

[2017-11-09 16:58] FezVrasta commented on #371
Releases 1.1.7 with the fix, sorry for the delay

[2017-11-10 07:10] yuvikakoul commented on #377
Hi @FezVrasta
My initial choice was to use the icon with just .JS written so that it looks exactly similar to the logo that people would see on the webpage and would be able to relate to easily.
Also, the whole idea is to slowly bring it only to the illustration without any text so that the people will recognize it just by looking at the logo :)

![popper_icon_small](https://user-images.githubuser

[2017-11-10 09:14] fbring commented on #371
No problem!
I'm the one who's grateful

[2017-11-10 16:25] Javix opened #488 "Uncaught SyntaxError: Unexpected token export"
Why when using a `popper.js` version (`1.12.6`) downloaded with `yarn` in a simple HTML page  as follows:
[code]

 this generates this error pointing to the `line 4`:
[code]
If I use a CDN way to get popper.js:
[code]
it works as needed.

[2017-11-10 16:29] FezVrasta commented on #488
I think you are having this problem because the way the Yarn package is decoded, and thus, later, encrypted, during the transition between the two network points could have been corrupted by a nondeterministic AST parser that then served to your client data structure obviously incompatible with the target environment.

Or in other words, read the README 😊

[2017-11-10 16:29] #488 closed

[2017-11-10 17:28] FezVrasta commented on #377
I think we need more opinions from other people, but definitely what you have done so far is awesome. I'm not even going to compare it with the old logo because it would be an insult to your work 😂

Anyway, I still think the yellow ruler could use some love 🤔

[2017-11-11 10:47] Javix commented on #488
So what's the point ? I tried to install it both with `nom` and `yarn`on OSX without any restrictions (no proxy, no special firewall settings) and it still fails (no matter in which browser) with the same error.

[2017-11-11 10:48] FezVrasta commented on #488
I'm very sorry man, but please, read the README and the link I left you, I can't do more than this.

[2017-11-11 11:34] FezVrasta commented on #411
I just found out that enabling an option in the minifier I managed to reduce the minified size by 3KB and the compressed size by .3KB (out of the initial 6.3).

A little win at least 😊

[2017-11-12 12:31] FezVrasta commented on #377
I tried to play a bit with the tooltip-logo idea to experiment something a little different, ideas?
<img width="800" alt="tavola disegno 1" src="https://user-images.githubusercontent.com/5382443/32698933-bc060df4-c7ad-11e7-9471-a553b5a4c28c.png">

[2017-11-12 13:49] divyenduz commented on #377
I like the one with `.JS` the most, it fits well with the full logo (completing pooper + .js) and will give users of the site a nice recall of the logo if they see it in other places.

[2017-11-12 14:04] yuvikakoul commented on #377
I like the usage of grid in the first one.
Few suggestions:
the black could be toned-down a bit and add a hint of blue to match the overall theme of the website and be integrated seamlessly in the website.
I feel .JS in the popper makes it complete (Popper.JS) and would help users understand and relate to the icon more. This way the icon can be used standalone as well.
Would like to hear your sugg

[2017-11-12 16:52] FezVrasta commented on #377
@yuvikakoul I see two problems with the current design:

1. The big ".JS" in my opinion is going to look anonymous, there are thousands of libraries out there called <something>.js, I don't think that focusing on the ".js" part is going to pay.
2. I still think the ruler could use some love, I'd like it to stand out from the rest of the logo, maybe using different orientation for the shades/gradie

[2017-11-13 08:35] FezVrasta commented on #468
Just leaving here some idea.

The modifier API could look like this:

[code]

[2017-11-14 07:26] JosephusPaye commented on #331
Hi,

I can still reproduce the bug using the provided Codepen (https://codepen.io/anon/pen/EXQeKp). Same results in Chrome beta 63, Firefox 56, and Edge 40 (all on Windows 10).

After the page loads, the text is added which pushes the reference element down, but the popper stays in the old location. The location is not changed after scroll or resize.

Here's a gif showing the issue: https://i.imgu

[2017-11-14 07:46] atomiks commented on #331
@JosephusPaye  that is 1.12.4 which has that problem. Change the package in the CodePen settings to 1.12.7, and it's fixed

[2017-11-14 09:20] JosephusPaye commented on #331
Cool, thanks!

[2017-11-14 10:07] atomiks commented on #331
Unfortunately the latest Popper (1.12.5+) has a bug when updating a popper's position usually when it's near the viewport edges. If the bug is not an issue for you, you can use `tippy.standalone.js` + the latest Popper.js instead.

Currently, Tippy uses 1.12.4 because of that issue. I'm hoping he is able to fix it soon so it can be updated...

[2017-11-14 10:31] FezVrasta commented on #331
For reference, we are talking about #251

[2017-11-14 10:33] FezVrasta commented on #251
I think it's just the `getWindowSizes`. It should be able to detect the document width/height excluding the potential overflow caused by the popper element.

[2017-11-14 12:04] #417 closed

[2017-11-14 15:22] lflserg opened #490 "No obvious way to set absolute position to popper with reference object."
### CodePen demo

https://codepen.io/lflserg/pen/wPdmEN

### Steps to reproduce the problem

1.  Create custom reference object
2.  Attach a popper to it
3.  Scroll

### What is the expected behavior?

There is an obvious way to make the object attached to the absolute position and not to the viewport.

### What went wrong?

Object is attached to the viewport.
The way to set absolute position is t

[2017-11-14 15:24] FezVrasta commented on #490
I don't think I understand what the demo should show, may you elaborate a bit please?

[2017-11-14 15:27] FezVrasta commented on #490
If you mean that the tooltip will not scroll together with the page, this happens because the reference object doesn't actually have any DOM context, thus Popper.js is not able to understand which scroll events it have to listen to.

You can manually define the scroll handlers like I did in this demo:
https://codepen.io/FezVrasta/pen/vWXQdq

Or make the reference object provide the needed informat

[2017-11-14 15:32] #490 closed

[2017-11-14 15:38] lflserg commented on #490
@FezVrasta thank you for your prompt response! I considered similar solution, but dont you think this will make a performance drop compared to binding to hidden DOMelement?

[2017-11-14 15:41] FezVrasta commented on #490
I don't think it's going to be a performance bottleneck, you are simply defining your event listeners manually instead of letting Popper.js do it for you.

The fact that you don't have a DOM node as reference element has some advantages, such the fact that reading its informations will be faster than if you wanted to read a real DOM node.

[2017-11-14 16:06] Trainmaster opened #491 "Double "dist" dir"
### Steps to reproduce the problem

1. Install `popper.js@1.12.8` with `bower`

### What is the expected behavior?

The file `popper.js` should be located in `dist/popper.js`.

### What went wrong?

The file `popper.js` is located in `dist/dist/popper.js`.

[2017-11-14 16:29] FezVrasta commented on #491
What are you using to install the library? With npm everything seems right:
https://unpkg.com/popper.js@1.12.8/

[2017-11-14 16:42] thlbaut commented on #491
I have the same problem with bower.

[2017-11-14 16:43] FezVrasta commented on #491
Thanks for the heads up, I'll see what I can do ASAP

[2017-11-14 16:48] Trainmaster commented on #491
@FezVrasta I installed it using `bower`.

[2017-11-14 20:05] getsomecoke commented on #491
@FezVrasta  does this has to do something with [copy command](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/bower-publish.sh#L8) in `bower-publish.sh`

`cp -R dist ../../dist`

This will copy the dist folder inside the other dist folder.

[2017-11-14 21:05] FezVrasta commented on #491
Yes that's prob it

[2017-11-15 04:12] pzuraq commented on #453
I feel like this should have been a breaking change to be honest, not a patch. We were relying on the  behavior for our app since we position popovers outside of scroll parents so they don't get hidden by overflow.

[2017-11-15 08:25] FezVrasta commented on #453
May you please provide an example to better understand how did you use it please?

[2017-11-15 12:23] FezVrasta commented on #491
Please try 1.12.9, it should be okay

[2017-11-15 12:23] #491 closed

[2017-11-15 13:05] FezVrasta opened #492 "Would you consider this a breaking change?"
I'm considering to change the structure of the `/dist` folder to help people unfamiliar with the different bundle options.

Right now we have:

[code]

I would like to make it:

[code]

So that `umd` becomes the top level library.

This would prevent the annoying problem of the `export is not defined` error when people erroneously import the `esnext` build instead of the `umd`.

For people that re

[2017-11-15 13:22] thlbaut commented on #491
Thank you :)

[2017-11-15 16:48] yuvikakoul commented on #377
Hi @FezVrasta  Something like this?
![popper_icon](https://user-images.githubusercontent.com/9837123/32848543-c76aa180-ca52-11e7-9317-b50004fd8c6c.jpg)
![popper](https://user-images.githubusercontent.com/9837123/32848547-c8bd8d40-ca52-11e7-9117-ef1d2e896be0.jpg)

[2017-11-15 16:52] FezVrasta commented on #377
I really like how it looks, I think we should have some kind of glyph or symbol to put in the black area to make the logo unique, something subtle, maybe just of a lighter shade of gray then the rest 🤔

What do you think?

[2017-11-15 17:26] yuvikakoul commented on #377
How about a crosshair to represent its precision and to say its right on target.
![popper_icon](https://user-images.githubusercontent.com/9837123/32850402-0a0cbcf8-ca58-11e7-804d-c6b5d2ddd740.jpg)
what do you think?

[2017-11-15 18:29] pzuraq commented on #453
We have a dropdown which may contain subdropdowns in our component library:

<img width="412" alt="screen shot 2017-11-15 at 10 25 48 am" src="https://user-images.githubusercontent.com/685518/32853238-7d793dd8-c9ef-11e7-9f4b-114ff4fb5324.png">

The first dropdown is a scroll container, in case the dropdown is too large in general (wouldn't ever want it being larger than the height of the viewport,

[2017-11-15 18:34] FezVrasta commented on #377
good idea! I was thinking about something larger tho 🤔

[2017-11-15 22:09] oliviertassinari commented on #478
@frontsideair It might explain why I have got some flaky red build on Material-UI.

For instance [this one](https://circleci.com/gh/callemall/material-ui/14871?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link). I'm using mocha, jest mocking isn't an option for me on this project.
I have been adding some polyfill to make popper.js testing possible. It sounds like I

[2017-11-15 23:59] brentertz commented on #478
@oliviertassinari I ran into the same things as you. Same polyfill, same NaN, etc.  Even though you are not using Jest, you do have Sinon, which could be used to stub Popper in a similar fashion.

[2017-11-16 14:53] ConneXNL opened #493 "When the popper doesn't fit in the viewport..."
It seems that when the popper doesn't fit in the viewport the popper can get on top of the target.

I got a usecase with a tooltip where I simply don't want to show the popper at all if it doesn't fit the viewport. I couldn't find any modifier that handles this usecase. Something that looks like `data-x-out-of-boundaries` added by the hide modifier (maybe `data-x-overlaps`) could really help.

As

[2017-11-16 14:54] FezVrasta commented on #493
https://popper.js.org/popper-documentation.html#modifiers..hide

[2017-11-16 14:58] ConneXNL commented on #493
@FezVrasta I am ware of data-x-out-of-boundaries. This seems to be added when target is not in the viewport. I don't think this is related to my question as `data-x-out-of-boundaries` is not added when the target is visible and the popper doesn't fit.

[2017-11-16 15:02] FezVrasta commented on #493
Oh sorry, now it's clearer. I don't think there's anything in place to handle this situation.

I like the idea of the `null` placement, maybe we could add some tests and document it so that we make sure it keeps working when the code changes.

[2017-11-16 15:47] michalduda commented on #457
Hey.

I'm also experiencing this problem.

At first I was pretty confused cause the problem appeared only on the external monitor, not on my laptop’s screen. I could drag the same browser window from one to another and the behaviour of the tooltips changed. On the bigger screen tooltip is always shifted to the left – just about 17px.

So I’ve checked if it is somehow connected with the vertical sc

[2017-11-16 19:50] FezVrasta commented on #457
Are you on Windows?

[2017-11-17 08:15] atomiks commented on #251
Hmm... given that the majority of sites don't have a horizontally-scrolling documentElement, why not just use `window.innerWidth` instead of the document width?

[2017-11-17 09:42] FezVrasta commented on #251
I'd like to make the library work in all the edge cases, without any manual setting.

[2017-11-17 09:47] atomiks commented on #251
Yeah that's the ideal, but if an option fixes the issue for the majority of cases (at least temporarily until you can work out a full solution), I'd say it's worthwhile to add in.

[2017-11-17 09:48] FezVrasta commented on #251
That would break the API, I would have to release a major version just to get rid of an hack we introduced. Not ideal at all.

[2017-11-17 09:54] FezVrasta commented on #251
Also, I think the problem can be reproduced on both axis, so that would be a fix only for one of them

[2017-11-17 09:58] atomiks commented on #251
How about calculating the document width and height before the popper is added to the DOM?

[2017-11-17 10:15] FezVrasta commented on #251
What if the document width changes for a reason unrelated to popper?

[2017-11-17 10:19] atomiks commented on #251
Then you'd need to listen to height/width changes of the document/body elements, so that whenever it's updated, Popper can know the new sizes.

[2017-11-17 10:20] FezVrasta commented on #251
But if the document width changes because some content is added to the page we don't have any event to know it, and even if we did, we couldn't know what's the size of the document excluded the popper

[2017-11-17 10:45] atomiks commented on #251
How about very briefly removing the popper from the document, calculating the document width/height, then appending it back?

[2017-11-17 10:58] FezVrasta commented on #251
We should do that for each update loop.. That would be terrible

[2017-11-17 11:07] atomiks commented on #251
It does sound quite terrible on paper, but I wonder how severe it would be in general use. And you could have an option to turn it on only when necessary... (so keep the behavior off by default), or maybe there's a way to "batch"/optimize it somehow, who knows.

[2017-11-17 11:08] FezVrasta commented on #251
Feel free to experiment with it, if you end up with a good solution I'll be happy to merge it. I just don't want any extra option.

[2017-11-17 12:06] michalduda commented on #457
Yes, Windows 10 x64.
I've tested it on Chrome 62, Firefox 56 and Edge 15.

Also tested on 3 other PCs (Windows 7 and 10, Chrome, from my colleagues at work) and the bug shows in every case.
Are there any more details that I can share?

[2017-11-17 12:07] FezVrasta commented on #457
If you could record a little clip to show me how you reproduce it and how you don't it would be awesome.

You may use https://www.cockos.com/licecap/

[2017-11-17 12:33] michalduda commented on #457
Sure, here it is:

![nov-17-2017-1_23-pm](https://user-images.githubusercontent.com/8058615/32947256-50b827de-cb9b-11e7-970b-8c54b7845d91.gif)

Also, as davcpas1234 mentioned in the first post, when you resize the window when the tooltip is displayed - the position gets fixed and the tooltip is centered as it should.

[2017-11-18 09:37] FezVrasta opened #494 "Remove popper-utils"

[2017-11-18 09:42] FezVrasta commented on #264
I think this will be closed once the current `popper.js@next` release moves to stable. The related PR is https://github.com/FezVrasta/popper.js/pull/487

It's not an automatic way to fix the problem but you can just set the flag to get it stop lag.

Can you guys confirm?

[2017-11-18 18:37] silvenon commented on #377
I would make the target symbol stronger and put it directly at the center, to symbolize precision. These logos are looking awesome, by the way. 🌟

[2017-11-18 20:33] silvenon commented on #377
While @yuvikakoul's logo will be a clear winner, I wanted to play with tones a bit and this is what I came up with:

![popper](https://user-images.githubusercontent.com/471278/32984467-7336fcce-cca7-11e7-8395-73f112632174.png)

Not sure what I'm going to do with it yet, just wanted to share this draft in the meantime.

Losing the golden look would probably be a good way to proceed. 😄

[2017-11-19 12:49] FezVrasta commented on #377
This remembers me one of the first sketches I did prepared
![tavola disegno 1](https://user-images.githubusercontent.com/5382443/32990822-72bd2db6-cd30-11e7-8fa8-74d128db9d86.png)

[2017-11-20 23:09] osasseville opened #496 "Does not take in consideration zoom CSS property"
The popper does no take in consideration the zoom css property of it's parents.

If you put a zoom on the parent and resize the window, you can clearly see that the popper will behave as it was not zoomed.

https://codepen.io/osasseville/pen/bYLmEj

### Steps to reproduce the problem

1. Open the code pen
2. Resize the height of the window
3. Note that the greenbox move "up" then there's still spa

[2017-11-21 17:27] greg-a-smith opened #498 "Is there a way to disable/revert "flip" when no space exists on the flip side?"
### CodePen demo

https://codepen.io/anon/pen/pdLwPg

### Steps to reproduce the problem

1.  Open CodePen
2.  Begin scrolling in the container (gold region) until the reference element (red) scrolls into view

### What is the expected behavior?

The `preventOverflow` and `flip` modifiers are acting as expected, however, I'm wondering if there is a way to disable or revert the flip when there is a

[2017-11-21 17:45] FezVrasta commented on #498
You may define the `flip: { behavior: ['top-start', 'bottom-start', 'top-start'] } }` so that if there's not space on the second placement it falls back to the first one.

Does it help?

[2017-11-21 17:57] jonhue opened #499 "popper.setAttribute is not a function"
### CodePen demo

https://codepen.io/anon/pen/PORKbZ

### What is the expected behavior?

Adding a popper to ref as done in [this pen](https://codepen.io/anon/pen/zPWdNJ)

### What went wrong?

[code]

[2017-11-21 18:02] FezVrasta commented on #499
This was a v0 API, please refer to the migration instructions:
https://github.com/FezVrasta/popper.js#migration-from-popperjs-v0

[2017-11-21 18:02] #499 closed

[2017-11-21 18:43] greg-a-smith commented on #498
@FezVrasta Thanks for the response.  That did not help.  It _kinda_ worked in that it prevented the flip to the top, but then it never flipped to the top even when there was space for it.

[2017-11-23 15:52] frzsombor commented on #300
@moyarich Thanks man, this function is awesome!
I've started using it in my projects with tooltip.js

However just a few notes about that code:

I've replaced
`$('body').on('click', function (e) {`
with:
`$('body').on('click touchend', function (e) {`
for better mobile user experience, and

about the long _if_, when you broke it to three lines:
[code]
That "tooltip interaction" line is also really

[2017-11-25 08:17] atomiks opened #500 "Specify which event to listen to with .enableEventListeners() / .disableEventListeners()"
Sometimes you want to only keep the resize listener but disable the scroll listener. Perhaps you could pass a string in to specify which one to enable or disable (default behavior is both):

[code]

[2017-11-25 11:29] FezVrasta commented on #500
What's the use case?

[2017-11-25 12:07] atomiks commented on #500
You want to allow a popper to flip on initial update (i.e. on initial show) but with a disabled scroll listener so that it doesn't flip around while scrolling (can be jarring esp. with hover event), but still allow it to be correctly placed when the window is resized.

[2017-11-25 13:55] FezVrasta commented on #500
I'd say the best way would be to disable the flip modifier after the first update, or am I missing something?

[2017-11-25 17:35] atomiks commented on #500
That would be enough, but setting the `enabled` property of the flip modifier to false doesn't disable it, how do you do it?

[2017-11-25 19:04] atomiks commented on #500
...Actually it seems disabling the flip modifier will make it flip back to its original position. The behavior I want is to keep it at its flipped position, just prevent it from updating the placement.

[2017-11-25 19:15] FezVrasta commented on #500
Can't you read the flipped placement and set it as default placement?

[2017-11-25 19:22] myorangeca opened #501 "Popper is not defined for bootstrap.bundle.js"
I was trying the popper.js that comes with bootstrap.bundle.js (v2). The code to turn off gpu acceleration no longer works. `Popper.Defaults.modifiers.computeStyle.gpuAcceleration = false; `

When I link popper.js separately it works, but when in bootstrap.bundle.js - it throws an error: Uncaught Reference Error: Popper is not defined

[2017-11-26 05:53] atomiks commented on #500
That makes things a little too complicated, it would be easier just to disable the scroll listener

[2017-11-26 17:52] Johann-S commented on #501
Yep that's because Popper.js is bundled in Bootstrap, if you want to twick Popper.js config you should include it separately

[2017-11-26 18:02] myorangeca commented on #501
@Johann-S I tried to include it separately and used gulp concat. It threw a bunch of errors and did not concatenate the files. :\

[2017-11-26 18:06] Johann-S commented on #501
which version of Popper.js did you chose ? UMD ?

[2017-11-26 18:08] myorangeca commented on #501
v 1.12.5, I believe that's the latest.

[2017-11-26 18:13] Johann-S commented on #501
So I express myself very bad 😟 BTW the latest release is `1.13.0` but you have to choose the UMD version of your release of Popper.js for example :
- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.js
- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js

[2017-11-26 20:26] jmax91 commented on #300
@Kikketer Is it possible for you to share that code? I think that is the functionality I need for me site. I have some images popup in a lighbox from my popper, but interacting with the images causes the popper to close with the current code.

[2017-11-27 07:45] clark-pan opened #502 "Possible enhancement: bind the scroll listener with `useCapture` instead of binding a different listener to every scrolling parent"
Unsure if this has been tried already, but instead of [attaching a `scroll` listener to all scrollParents](https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/utils/setupEventListeners.js), would it not be simpler to just attach a `useCapture` scroll event on window?

The only down side I can see to this is the lack of ShadowDOM support, but then again I don't think if the eleme

[2017-11-27 16:57] FezVrasta commented on #502
I admit I'm having an hard time to understand how the `useCapture` is supposed to work, but if you can create a PR that makes all the tests pass and reduces the amount of code I'll be happy to merge it.

[2017-11-28 08:54] DaleMckeown opened #503 "NPM - 1.13.0 not available"
Hi,

Just letting you know that the latest version of popper.js isn't available on NPM. There is only up to 1.12.9.

https://www.npmjs.com/package/popper.js

Thanks,

Dale

[2017-11-28 11:29] FezVrasta commented on #503
it's available as popper.js@next

[2017-11-28 11:29] #503 closed

[2017-11-29 16:08] john-griffin commented on #264
Tried with `1.13.0-next` and set the `positionFixed` to `true`, still seeing lag in all browsers.

[2017-11-30 19:47] ConneXNL commented on #455
Also ran into this issue.

[2017-12-01 22:08] kybishop commented on #251
@atomiks here is how I'm getting around this in my own tooltip library: https://github.com/kybishop/ember-attacher/blob/master/addon/components/attach-popover.js#L252

The above line positions the popper in the top left of the screen on creation. We then manually call `update()` when the tooltip will be shown, which correctly positions the element.

[2017-12-01 22:18] FezVrasta commented on #251
But how do you handle the window resize?

[2017-12-01 22:22] kybishop commented on #251
Assuming the popover is not larger than the window itself, positioning it in the top left of the screen means the window shrinks to fit its content. Since the popper is all the way to the left, the window shouldn't grow any larger than the popper.

[2017-12-02 06:30] atomiks commented on #251
The window resize isn't a big a deal as the initial update positioning, so I'll see if that solution works well. Thanks!

[2017-12-02 10:03] MrFrankel commented on #264
I think this latests version fixes id,
heres a plunker demo, try is with positionFixed true & false and see the difference.
https://plnkr.co/edit/Ui8fhDhkdVgWAs4YSDha?p=preview

[2017-12-04 14:03] DanielRuf opened #504 "duplicate options.placement in docs"
The `options.placement` settings is twice in the docs.

[2017-12-04 15:39] DanielRuf opened #505 "real working examples with fadein / fadeout needed"
So far I could not find any real examples or documentation about working fadein / fadeout and animate implementations.

It would be great to have some as it is quite hard to get this working.

[2017-12-04 15:41] FezVrasta commented on #505
Check out the Tooltip.js page, that's a complete library built with Popper.js you can use to understand how to use Popper.js in your own code.

Popper.js is not a tooltip library, it only provides positioning logic

[2017-12-04 15:41] #505 closed

[2017-12-04 16:01] DanielRuf commented on #505
Right. But applying any jQuery.animate / trasition / animation conflicts with the code and produces weird behaviors of the tooltip. Also the delay prevents the usage of jQuery.fadeIn/fadeOut and jQuery.stop did not solve the issues on my side even when I removed all other scripts.

Can you maybe lead me to some examples that work?
So far I have not found any animation example in the issues and the

[2017-12-04 16:02] FezVrasta commented on #505
Take a look at Tippy.js, it makes use of Popper.js and adds a lot of animations.

[2017-12-04 16:10] DanielRuf commented on #505
That is exactly what I've needed. Thanks. Is this linked in the docs?

[2017-12-04 16:52] FezVrasta commented on #505
It's listed here https://github.com/FezVrasta/popper.js/blob/master/MENTIONS.md

[2017-12-04 16:59] DanielRuf commented on #505
Okay thanks. I thought I would find this information on the website in the docs. Was not quite clear to me that it is there.

Thanks for your time.

[2017-12-06 11:08] phoebebright opened #506 "CDN Unexpected token export - yes again - for tooltip.js"
So I have read the README up and down and back and forth and after searching through all the issues, I did find the solution to using the popper.js from the CDN but before that I tried:

"https://cdnjs.com/libraries/popper.js" - well that's what it says in the README
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.min.js" - it's the first one in the list
"https://cdnjs.cloudfla

[2017-12-06 11:11] FezVrasta commented on #506
You have to use the UMD version if you environment does support UMD, or ESM if your environment supports ESM. There's not much to add actually.

Obviously if you import Popper.js, Tooltip.js will not be defined, because you have to import both Popper.js and Tooltip.js

[2017-12-06 11:11] #506 closed

[2017-12-07 03:05] liquidvisual opened #507 "npm install is failing"
I'm trying to grab popper through npm but getting an error which halts the installation:

    npm install popper.js --save

returns error:

    npm ERR! Cannot read property '0' of undefined

I'm running npm version 5.5.1. What can I try to fix this? Cheers,

[2017-12-07 03:25] liquidvisual commented on #507
Nevermind sorry, I deleted my node_modules and it seemed to work after.

[2017-12-07 03:25] #507 closed

[2017-12-07 10:43] phoebebright commented on #506
Under the heading CDN,  Tooltip.js as well,  it has the row:

cdnjs | https://cdnjs.com/libraries/popper.js

Is that correct when all the other links point to a tooltip.js ?

[2017-12-08 15:19] atomiks opened #508 "make Popper#update sync + make scheduleUpdate return promise"
### CodePen Demo

https://codepen.io/anon/pen/NwZQwK

### What is the expected behavior?

In the CodePen, the popper should incorrectly be positioned if the update was sync. But because it's not, the last transform line is what Popper knows about, not the first one.

### Any other comments?

The asynchronous `popper.update()` can cause some issues if the next line of code assumes the popper's posi

[2017-12-08 15:21] FezVrasta commented on #508
I don't think `Popper#update` can become synchronous, it relies on DOM read/write that is by nature asynchronous.

[2017-12-08 15:23] atomiks commented on #508
Really? I thought that was sync behavior..

I thought it was because you debounce update():

[code]

[2017-12-08 15:25] FezVrasta commented on #508
Good catch, still I'm not sure that's the only non-sync code we have 🤔

[2017-12-08 15:36] atomiks commented on #508
Well I got rid of the `debounce()` wrap and the async behavior disappears and becomes fully sync! So I don't think there is.

[2017-12-08 15:38] FezVrasta commented on #508
Wow cool, good to know.

I think we can plan this change in the next major version, along with a promise-based API for `scheduleUpdate`.

[2017-12-12 17:07] #501 closed

[2017-12-13 00:36] atomiks commented on #264
@MrFrankel

In the previous CodePen posted above, Chrome 65 is 100% smooth while FF 57 experiences minor stutters and Safari 11 is very glitchy

In the new version (your plnkr link), it's 100% smooth in all browsers for me, so it seems fixed.

[2017-12-14 04:58] UrsaForce opened #509 "Incompatible with adblocker addons"
I don´t know if this is the correct way to point this, but when I have Adblock Plus addon activated on Chrome it bugs the library, disabling it works fine. I think this issue is directly related to Adblock technology but its worth mentioning if someone thinks this library is broken at first. Adguard adblocking engine doesn´t seem to crash it though.

[2017-12-14 08:52] FezVrasta commented on #509
Please follow the issue template. You haven't provided enough information

[2017-12-15 05:58] UrsaForce commented on #509
I'm sorry could you point me where is it so I can properly edit my post?

[2017-12-15 06:35] atomiks commented on #508
Unfortunately I came across a pretty huge issue. On Samsung Internet and UC Browser, for whatever reason the defer call doesn't work and the tooltip ends up transitioning from the top of the document each update because the popper update is async. I didn't know this was happening since I couldn't test on these browsers..

I've also tried doing this (and also wrapping it in `requestAnimationFrame`

[2017-12-15 08:46] FezVrasta commented on #508
That looks like a browser bug, I'm not sure how am I supposed to avoid it..

[2017-12-15 08:46] FezVrasta commented on #509
It was the issue template you deleted when you created this issue.

[2017-12-15 09:12] atomiks commented on #508
It seems like using a timeout of `50-60ms` fixes it... Not ideal, but eh.. Will have to detect those browser user agents I guess?

[2017-12-15 09:26] FezVrasta commented on #508
Probably we need to add them here:
https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/utils/debounce.js#L2

They don't support `Promise` right?

[2017-12-15 09:39] atomiks commented on #508
They do. https://caniuse.com/#feat=promises

Also, they need at least `50ms`, `40ms` doesn't work, so `1ms` with your code wouldn't work?

Also I thought browsers enforced a minimum of `4ms` anyway?

[2017-12-15 09:41] FezVrasta commented on #508
the `setTimeout` is used just to schedule the update to the next tick, most browsers will do it with 0, some need at least 1.

But if UC supports Promises then it's not using `setTimeout` at all

[2017-12-15 09:43] atomiks commented on #508
That's what I was thinking... maybe the code needs to be deferred after the "microtask"(?) finishes? I'm not actually sure what a microtask is, or how that piece of code works.

[2017-12-15 10:20] FezVrasta commented on #508
You can't do:

[code]

This is not how Popper.js works, you have to run the code in the `onUpdate` callback.

[2017-12-15 10:25] FezVrasta opened #510 "scrollbar size not properly computed"
https://github.com/twbs/bootstrap/issues/25013

[2017-12-15 10:28] FezVrasta commented on #510
I think in this specific case the scrollbar appears for a microsecond and then disappears, and Popper.js caches the size of the scrollbar and doesn't update it once it disappears.

[2017-12-15 10:45] atomiks commented on #508
Yes, which is why deferring it appears to work for most browsers bar a few

I had the idea of modifying `onUpdate()` before the call, then setting it back to its original configuration. That's why a few months ago I suggested adding a callback which you can supply as the argument to `.update()` which runs after the update (overriding `onUpdate()`). Or the sync method as mentioned here.

[2017-12-15 16:44] tones31 commented on #274
The amount of time I've wasted getting popper dist and now the map that I have to compile myself (because Chrome is trying to grab it) is unreal, but not at all unexpected for today's developers.

Make things pretty, not functional, is the new mantra these days.

[2017-12-15 16:47] FezVrasta commented on #274
Hey @tones31, what problems are you encountering? Didn't the [dist targets](https://github.com/FezVrasta/popper.js#dist-targets) instruction help you?

What's the problem with the source maps? I provide source maps of every file and you don't have to perform any additional step to make them work.

[2017-12-15 16:52] jtara commented on #274
Actually, the dist targets instructions DON'T help, since they don't say where the dist directory is, and I haven't been able to find it. Can you please point it out, and then update the documentation?

Maybe it's just I haven't had my morning covfefe, and my eyes aren't quite working yet. ;)

As far as Bootstrap 4, they now provide a dist option with popper built-in, BTW.

[2017-12-15 16:55] FezVrasta commented on #274
The directory is always at the root of the project, if you install it through npm it will be `/dist`, if you install it with Bower it will still be `/dist`.

If you are looking for the `/dist` folder in the GitHub files list, you will not find it, because we don't host the dist files in our source code, you can checkout any release tag and find the `/dist` folder there anyway.

[2017-12-15 17:04] tones31 commented on #274
@FezVrasta I appreciate your library, but to be honest, I just want to use Bootstrap 4, which is what most people are coming here for. I think if you pointed people who are just looking for the /dist files towards the /tags section, and mentioned that all dist files are included in the **Source Code** .zip you won't have to answer questions by impatient people such as myself :)

@jtara Is it the o

[2017-12-15 17:05] FezVrasta commented on #274
@tones31 why don't you use a package manager? That's the suggested way (even by Bootstrap)

[2017-12-15 17:07] tones31 commented on #274
@FezVrasta Sometimes you need to create a simple webpage and host your files statically without worrying about installing packages and package managers and so on.

[2017-12-15 17:08] FezVrasta commented on #274
You should still use a package manager

[2017-12-15 17:15] jtara commented on #274
@tones31, yes, with latest Bootstrap 4, it is the one with bundle in the name.

If you just want a simple download, you can get it easily from unpkg.com. The symbol file is there too.

[2017-12-15 19:10] john-griffin commented on #264
Still seeing lag in all browsers with `1.13.0-next.1`.

[2017-12-15 19:42] FezVrasta commented on #264
@john-griffin are you able to provide a codepen that reproduces the problem with next.1?

[2017-12-15 19:56] MrFrankel commented on #264
@john-griffin is this with positionFixed option set to true?

[2017-12-15 19:58] john-griffin commented on #264
Yeah with positionFixed. I'm testing it on our production app (which uses ember + liquid-fire) so its tricky to reproduce.

[2017-12-15 20:02] MrFrankel commented on #264
including chrome? cause the original issue is only FF and Safari

[2017-12-15 20:04] john-griffin commented on #264
Yeah always happened in Chrome for us too.

[2017-12-15 20:13] MrFrankel commented on #264
im using it in production with our app and its smooth, I think we will need some more information on you use case, perhaps you are using transform somewhere? that tends to change the way fixed is calculated in bowsers.

[2017-12-15 21:12] kjdion84 commented on #510
I think you're 100% correct.

[2017-12-15 23:16] DawnWright commented on #498
This is our biggest need with popper at the moment. 👍

[2017-12-16 08:07] atomiks commented on #508
Alright, so I was able to solve the issue without any timeouts, but it's somewhat hackish. This is what I mean.

[code]

As you can see, I want to run the callback (which sets the class to begin the transition) `onUpdate()`... but I have some default stuff that happens there specifically for the event listeners. So I need to save it as a reference then set it back once finished.

This is why:

- I

[2017-12-16 08:19] sschueller commented on #274
Off Topic, but I would strongly advise against placing `node_modules` in a web root as it will include all kinds of files including tests. Most packages are probably fine but I have found some that had php etc. code in them which would most likely then be executable on the web server resulting in a possible security risk.

[2017-12-18 09:05] Justineo opened #512 "Is there a way to apply `flip` before `preventOverflow`?"
### CodePen demo

https://codepen.io/Justineo/pen/QaypBM

### Steps to reproduce the problem

1. with `placement` set to `bottom-start`
2. when the reference is on the right side of the container
3. the popper is shifted (`#pop`)

### What is the expected behavior?

Provide a way to apply `flip` when the popper is placed outside the container rather than shift it. (Like `#pop2` in the CodePen demo

[2017-12-21 19:10] fatfisz commented on #277
Ha! It turns out that changing `Math.round` to `Math.floor` is the cause of an off-by-1px problem for me 😉

Would a good solution be to add a built-in "fixer" modifier or would that be too much? The only job of that modifier would be to round `data.offsets.popper` values before `computeStyle`, and it would be disabled by default. Right now I had to implement it on my own, but this might be a probl

[2017-12-21 19:30] FezVrasta commented on #277
Wouldn't make sense to just fix the logic that rounds the value we already have?

[2017-12-21 19:33] fatfisz commented on #277
I'm not sure, since apparently `Math.floor` works better in some cases and `Math.round` in others and it would make sense to have the choice. Or are you referring to something else?

[2017-12-21 19:35] FezVrasta commented on #277
I don't think the rounding strategy should be left to the user, there must be a magic recipe to have it always work correctly

[2017-12-21 19:41] fatfisz commented on #277
That would be nice, indeed. I don't have time to take care of this now, but maybe I'd look into this in more detail after some time. My exact case is a select-style component that needs to have the options popup which is perfectly aligned with the value display. Unfortunately, the offset for the display is `488.5px`, which is displayed by the browser as `489px`, and the popper is at `488px`.

[2017-12-21 23:50] atomiks commented on #277
@fatfisz have you tried using hardcoded even-numbered `px` values? I found that odd numbers and using `rem` caused it to be off sometimes because popper uses `px`, but generally the current one works better than previously.

[2017-12-26 21:53] Overv opened #514 "Improve arrow modifier docs"
### CodePen demo

https://codepen.io/anon/pen/BJpmjz

### Steps to reproduce the problem

1.  `arrowElement` set to div where I will place the arrow
2.  Print value of `data.arrowElement` in `onUpdate` callback

### What is the expected behavior?

Arrow div is printed to the console and placed between the reference and popper div.

### What went wrong?

The arrow div is not positioned and not retu

[2017-12-26 22:25] FezVrasta commented on #514
arrow element must be child of its popper element.

https://codepen.io/FezVrasta/pen/opBoEv

I'll try to make the docs clearer

[2017-12-28 13:31] arechsteiner commented on #512
I'm facing this same problem when trying to implement a navigation menu.

I've tried setting the flip behavior but it doesn't work as expected when the popper element overflows on the right side:

[code]

In this shot the "Dropdown" in the top bar is the reference, and the expanded drop down menu is the popper element.

![image](https://user-images.githubusercontent.com/1199486/34412137-ad0d2038-e

[2018-01-01 01:16] illepic commented on #478
A quick modification to avoid having to support ES7 static properties in linters/test-runners:

[code]

This appears to work for the Popper.js stuff I need to mock in Jest tests.

[2018-01-01 16:32] davcpas1234 commented on #457
This issue is potentially linked to the below:
https://github.com/twbs/bootstrap/issues/25013
https://github.com/FezVrasta/popper.js/issues/510

[2018-01-01 19:38] kjdion84 commented on #457
@davcpas1234 Yep, and I'm even considering using a seperate library for tooltips because of this. Really annoying. Has anyone found a quick fix for this yet?

[2018-01-01 21:24] kjdion84 commented on #457
Even calling `.tooltip('update')` does not correct the issue.

[2018-01-01 21:29] kjdion84 commented on #455
Yep this issue goes along with the other positioning issues related to scrollbar.

It seems to me that popper should do its calculations after everything in the dom has loaded, so that it works seamlessly with dynamic elements as well.

This is the largest issue with the package right now.

[2018-01-01 21:32] kjdion84 commented on #510
I just want to mention that this issue is not present when I tried out Tooltipster. The tooltip was positioned perfectly with that package.

Perhaps look at their source code to see how they are doing calculations?

https://github.com/iamceege/tooltipster

[2018-01-03 16:55] JulienJo opened #515 "Problem on IE11 and SVG"
Hi and happy new year!

### Issue
I have an issue with SVG circle, IE11 and tippy.js (which use popper.js): The tooltips don't work.
I have an alert message in the console: `The object does not handle the property or method "contains": 649,3` which seems to be related with popper.js (the other warning message is related to tippy.js)

Do you think you could help me?

### CodePen demo
[https://codep

[2018-01-03 16:59] FezVrasta commented on #515
It looks like IE11 doesn't support the method "contains" on SVG nodes... I'm not surprised.

You may polyfill it:

[code]

Please let me know if it works.

[2018-01-04 01:05] kyletinsley commented on #167
I think clockwise does not work as expected in the latest version of popper:
https://codepen.io/anon/pen/barMXr

[2018-01-04 09:18] FezVrasta commented on #167
@kyletinsley may you open a new issue pls?

[2018-01-04 22:04] kyletinsley opened #516 "Clockwise rotation does not work as expected"
### CodePen demo
https://codepen.io/anon/pen/barMXr

### What is the expected behavior?
Clockwise rotation

### What went wrong?
Does not rotate

[2018-01-07 20:22] fesworkscience commented on #429
fixed
https://github.com/FezVrasta/popper.js/issues/429#issuecomment-340678752

[2018-01-07 20:33] niftylettuce opened #518 "Confusing documentation with boundaries (how to ensure flip with floating navbar?)"
I have a `.navbar-fixed-top` (using Bootstrap 3 and implementing a custom Popper instance).

Trying to figure out how to make it so when you scroll down the page, a popover that begins to be hidden underneath a fixed top navbar will get flipped automatically.

I tried passing a `modifiers.flip.boundariesElement` option, but that didn't seem to work.

Is there any way to do a simple "reduce viewpor

[2018-01-07 20:44] FezVrasta commented on #518
You should define an offset.

[2018-01-07 20:46] niftylettuce commented on #518
@FezVrasta how do I do that btw?  It says its an Object, but is it `offset.top`, etc?  I couldn't find it anywhere in docs and started to search in source code..

[2018-01-09 04:16] octaviovs commented on #448
<script src="Scripts/popper.min.js"  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>

i had used

[2018-01-11 08:15] johndavedecano opened #519 "How to dynamically position popper with caret offset?"
### What is the expected behavior?
I am trying to build an auto suggestion or mention plugin using popper.

1. Popper position should update on caret position updates e.g on textarea.
2. If popper reaches view port boundary position should also update.

### What went wrong?

Right i can update the position but i cannot do the view port boundary

[code]

[2018-01-11 09:00] FezVrasta commented on #519
This should help
https://codepen.io/FezVrasta/pen/YEVrGP

[2018-01-11 09:00] #519 closed

[2018-01-11 12:29] johndavedecano commented on #519
@FezVrasta i was wondering if we can position the popper against the caret not the selection

[2018-01-11 14:06] FezVrasta commented on #519
I think the API is the same, you can adapt my code.

[2018-01-12 04:38] johndavedecano commented on #519
@FezVrasta funny :) heres what worked for me https://github.com/johndavedecano/react-mention-plugin/blob/master/src/mentions/Suggestions.js i created an absolute div with z-index -1, width and height of `0` then use that as the reference.

[2018-01-16 11:35] ysinkevich opened #522 "(FireFox) PopperJS throws NULL exception"
Hi.

 PopperJS throws NULL exception when try to get scroll for parent element because getComputedStyle(element, null)  returns a null during showing form inside a iframe in Mozilla FireFox browser. For example, it happens during getScrollParent method call.

Details:
![stacktrace](https://user-images.githubusercontent.com/26741018/34986897-00247e7a-fac2-11e7-83ec-bf7baffbe68c.png)

[2018-01-16 13:10] FezVrasta commented on #522
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-01-17 15:17] bluesurfer opened #523 "Ability to place popper in a specific X, Y position"
I would like to implement a context menu using `popper.js`. I managed to do this using a reference element catching the `contextmenu` event. However I am wondering if it is possible to place the popper menu in a specific position.

In the case of a context menu the X and Y position would be given by the right click position.

Something like this:

[code]

[2018-01-17 15:19] FezVrasta commented on #523
You can use a custom reference Object instead of a reference HTMLElement
https://popper.js.org/popper-documentation.html#referenceObject

[2018-01-17 15:19] #523 closed

[2018-01-18 12:43] johndavedecano opened #524 "Keep together and bottom-start does not keep the popper stick."
My popper does not stick to its reference if i use bottom-start. It only stick to its parent if i use right but it looks so off.

You  can see whats happening here.

https://321.show/hFczk0mRuM5

Here is my current settings

[code]

[2018-01-18 13:04] FezVrasta commented on #524
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-01-18 13:04] #524 closed

[2018-01-18 15:53] mariepw opened #525 "Scrollbar appears when resizing window with right aligned popper"
### CodePen demo

https://codepen.io/mariepw/pen/qpQQdO

### Steps to reproduce the problem

1.  Open the pen on a big window
2.  Resize the window horizontally

### What is the expected behavior?

The `#pop` should still be right aligned on the `#ref`

### What went wrong?

The `#pop` overflows to the right of the screen a horizontal scrollbar appears.

### Any other comments?

We decided to use

[2018-01-18 16:01] FezVrasta commented on #525
duplicate of #251

[2018-01-18 16:01] #525 closed

[2018-01-18 19:41] mcny commented on #409
Sorry for the necromancy but I thought we can revisit it now that bootstrap 4 is live.

I downloaded popper from https://codeload.github.com/FezVrasta/popper.js/zip/v1.12.9

![screenshot from 2018-01-18 14-39-45](https://user-images.githubusercontent.com/26206142/35117723-807d4542-fc5d-11e7-84b2-0d93205d49c2.png)

[code]

https://github.com/mcny/mcny.github.io/

Thank you

[2018-01-19 05:40] atomiks commented on #500
Reopening because I'd like this feature in Tippy... based on the last comment, is this something you would do?

[2018-01-19 14:03] donnysim opened #526 "Table row or cell with overflow setting breaks popup placement"
### CodePen demo

https://codepen.io/anon/pen/dJweJm

### Steps to reproduce the problem

1.  Have a table row or cell with any overflow, even `overflow: auto;`

### What is the expected behavior?

pop is below ref

### What went wrong?

pop is on top of ref

### Any other comments?

Breaks on all browsers so far.

[2018-01-19 15:54] donnysim commented on #526
It's a preventOverflow modifier behavior, kind of thinking if this should really be considered as a bug?

[2018-01-19 16:23] donnysim commented on #526
Fixing this would require something like

[code]

but it breaks a lot of tests =.=

[2018-01-19 16:25] FezVrasta commented on #526
Can you add a wrapper `div`? Does it work that way?

[2018-01-19 16:30] donnysim commented on #526
No, the `getScrollParent` goes up the dom and searches for the first element that contains overflow setting, adding check if the element actually has a scroll bar actually fixes more like:

without fix:
![image](https://user-images.githubusercontent.com/8076512/35160753-c292d250-fd46-11e7-9b10-1c46dc176947.png)

with fix:
![image](https://user-images.githubusercontent.com/8076512/35160775-dc01016c

[2018-01-19 16:40] donnysim commented on #526
Checking scrollHeight and scrollWidth against width and height could probably get rid of overflow computed style check.

[2018-01-19 16:41] FezVrasta commented on #526
I think this operation may be a bit too expensive...

[2018-01-19 16:53] donnysim commented on #526
Kind of wish there was a way to replace the `getScrollParent` with additional checks when needed. Using only scroll checks against size makes it like 2x slower, combining overflow check with scroll slows down only slightly.

[2018-01-19 17:22] FezVrasta commented on #526
So, wait, I just re-read the function, we already read the DOM to get the overflow values, so we can add any additional check for free I think.

If you'd like to prepare a PR to improve the logic please do, just make sure to add a test to verify it actually works.

[2018-01-19 17:25] donnysim commented on #526
That's the problem in this case, if I try adding fixes with scroll check, bunch of other tests fail and I don't really have any experience with testing js :(

[2018-01-19 17:27] FezVrasta commented on #526
If you can prepare the PR and add the test (that pass) I can look at the other failing tests in my free time.

[2018-01-19 18:12] fmagrosoto commented on #429
**fishen** wrote a better solution:
Try to copy 'popper.js/dist/umd/popper.min.js'

[2018-01-20 09:00] yuanfux commented on #455
need immediate fix

[2018-01-24 10:22] alecpl opened #532 "Positioning regression"
I built multi-level menu using Bootstrap 4 popovers. It worked like a harm with Popper 1.12.6, but since 1.12.7 menu positioning is broken. Tested with all versions including 1.13.0-next.

Looks like the second-level popover is placed incorrectly. This is quite complicated code and I can't provide a simplified test case. Any hints on what changed in 1.12.7 that can cause this issue?

The popover i

[2018-01-24 10:56] alecpl commented on #532
I've found out that removing this in my stylesheet fixes the issue:
[code]
https://codepen.io/anon/pen/mpYmVX

[2018-01-24 11:03] alecpl commented on #532
So, it looks that if the button is inside of an element with `overflow-x:hidden` popover positioning is broken. I need scrolling in long menus, so I can't just remove it. Any remedy?

[2018-01-24 14:43] FezVrasta commented on #532
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-01-24 14:43] #532 closed

[2018-01-24 14:44] FezVrasta commented on #515
May you let me know if the polyfill worked for you @JulienJo ?

[2018-01-25 19:43] ndmax opened #533 "Micromatch Mismatch?"
### Steps to reproduce the problem

1.  Install Yarn & Clone Popper
2.  `cd popper-dir && yarn --ignore-optional`

### What is the expected behavior?

1/4 - Resolve packages
2/4 - Fetch packages
3/4 - Link dependencies
4/4 - Build fresh packages

### What went wrong?

Step 2/4 issues a warning about micromatch package:

`warning Pattern ["micromatch@jonschlinkert/micromatch#2.2.0"] is trying to un

[2018-01-25 19:44] FezVrasta commented on #533
`node --version` and `yarn --version`?

[2018-01-25 19:48] ndmax commented on #533
`node --version` v8.9.4
`yarn --version` 1.3.2

I removed `micromatch@jonschlinkert/micromatch#2.2.0` from the code referenced above and the warning is no longer issued.

Also, you are literally the fastest-responding developer on GitHub.

[2018-01-25 19:51] FezVrasta commented on #533
I encountered problems with this micromatch thing in the past but I thought I did solve them... I'll look into it once I have some time to spend on it.

[2018-01-26 08:29] k2snowman69 opened #534 "Typescript definition break - positionFixed should be optional"
Line 99 in
https://github.com/FezVrasta/popper.js/blob/master/packages/popper/index.d.ts

[code]

Should be
[code]

As position fixed is false by default.

[2018-01-26 17:37] JounQin commented on #453
It really breaks after upgrading: https://github.com/Akryum/v-tooltip/issues/95

[2018-01-29 08:16] alecpl opened #535 "Wrong positioning when overflow-y:hidden is used on parent"
Wrong positioning on element that is inside an element with `overflow-y: hidden` or `overflow-x: hidden` (but not `overflow:hidden`).

https://codepen.io/anon/pen/WMNbxv

Result: Popper covers the reference element.
Expected: Popper on the left of the reference element.

It works in 1.12.6, but not in any newer version.

[2018-01-29 13:37] chriscasola commented on #516
I'm running into the same issue. I modified the pen slightly to show that even when a `boundariesElement` is provided, where the popper overlaps, it is not being moved.

https://codepen.io/anon/pen/qxBRor

[2018-01-29 15:46] razzmatazz commented on #276
Not sure if it is a big thing to fix, but the fix in #276 doesn't work for `<th>` elements.

[2018-01-30 09:15] lionel87 commented on #515
I have the same problem and the polyfill works, but it runs very slow.

[2018-01-30 10:26] RKushnir opened #537 "Incorrect offset container used when first child of common parent is a hidden input"
### CodePen demo

https://codepen.io/anon/pen/BYyjNM

### Steps to reproduce the problem

1.  Include a hidden input as the first child of the offset container of the elements.

### What is the expected behavior?

The "reference" and "popper" elements are aligned.

### What went wrong?

A hidden input's `offsetParent` is null, causing incorrect offset container to be chosen for the offsets calcula

[2018-01-30 12:34] MOZGIII opened #538 "Question: can I change reference element at runtime?"
Hi. Can I change reference element at runtime?

My usecase is I have an SVG map, rendered with d3. I want to implement tooltips with information about user sees on the map, and show them when user hovers a particular `svg` `path`. I figured that I'd rather change reference element from mouse over / mouse out events rather than create a popper.js instance for every `path` (there are a lot).

[2018-01-30 12:50] FezVrasta commented on #537
On snap, that's a weird one... I'll check it out tomorrow morning.

[2018-01-30 12:50] FezVrasta commented on #515
@lionel87 great to hear it works, unfortunately I don't think we can do much to make it run faster...

[2018-01-30 15:26] brentertz commented on #535
@alecpl Does it work if you adjust the modifiers?

[code]

https://codepen.io/brentertz/pen/RQNZNM?editors=0010

[2018-01-30 17:27] alecpl commented on #535
Yes. It works with this modifier setting.

[2018-01-31 11:04] alecpl commented on #535
Ok, from what I see Bootstrap 4 uses:
[code]
by default. I can fix the issue by setting the `boundariesElement` to `'window'` or `'viewport'`. And it's possible to set this via Bootatrsap's popover() `boundary` property. So, I have at least a workaround.

[2018-01-31 19:49] cwmoo740 commented on #372
https://github.com/FezVrasta/popper.js/pull/539

[2018-02-01 02:49] atomiks commented on #538
https://codepen.io/anon/pen/eVNaJv

Set `reference` to the new element, then call `Popper#update`?

[2018-02-01 03:48] MOZGIII commented on #538
That looks good. I expected there to be some underlying state to clean up, but seems like it's either not required, or already covered by `update()`.
I'll try this solution.

Can I detach tooltip (to hide it) by assigning `null` to `reference`?

[2018-02-01 05:31] #538 closed

[2018-02-01 05:33] MOZGIII commented on #538
Turns out I can, however I can't pass to the constructor. I solved it by using `document.documentElement`:
[code]

[2018-02-01 09:08] whitecolor opened #541 "Add debounce on resize/scroll events"
Without debouncing of resizing/scroll repositioning on each event tick can result in twitching user experience, especially, for example on mobile with overflow momentum scrolling.

[2018-02-01 14:38] dsasko opened #542 "Destroy method doesn't remove all the styles"
### CodePen demo
https://codepen.io/dsasko/pen/LQpyyr

### Steps to reproduce the problem
1. Initiate a popper instance
2. Popper applies styles to the dropdown/tooltip/whatever
3. Destroy popper instance

### What is the expected behavior?
The destroy method should remove all applied styles.

### What went wrong?
The destroy method removes all applied styles except `will-change`.

### Other comme

[2018-02-01 16:29] FezVrasta commented on #541
With debounce the popper position will lag, we don't want it

[2018-02-01 16:29] #541 closed

[2018-02-01 21:31] FezVrasta commented on #542
Please feel free to send a PR

[2018-02-01 21:49] FezVrasta commented on #537
So the problem is that `hiddenHTMLElement.offsetParent` returns `null`.

I wonder if we could do something like this:

[code]

So that we don't add overhead on the most common use cases (where there aren't hidden children) but we address the case if needed.

I don't have time to work on a PR but feel free to take my code and send a PR that edits `utils/getOffsetParent.js`

[2018-02-01 21:51] FezVrasta commented on #535
I don't understand why `overflow-y` and `overflow-x` shouldn't work but `overflow` should... We do check for all of them in the `getScrollparent.js` file.

[2018-02-01 23:23] RKushnir commented on #537
Thank you for the quick reply, I'll have a try at a PR.

Btw, in my case the hidden input is part of the layout generated by react-select, which I cannot control, otherwise I wouldn't bother and just reorder the elements. So this may also help others.

[2018-02-02 16:28] vairamsvsjdo opened #543 "Tooltip not displaying for all elements"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.Code pen created using template above: https://codepen.io/vairamsvsjdo/pen/zRqaqv

### What is the expected behavior?

Display tooltip.js template tooltip
### What went wrong?
Displays tooltip for the first item with that class name onl

### Any other comments?

[2018-02-02 17:09] FezVrasta commented on #543
Please convert your code snippet into a CodePen using the provided template, that will help to triage the issue.

[2018-02-03 17:30] peterblazejewicz opened #546 "Include license file in the distribution or update README.md link to the license"
That's minor and reflects production mode installation only. When the package is added as dependency there is no LICENSE file included. The link to the license in the `README.md` is relative, so it points nowhere in local installation.
I'd ask to either update the `README.md` (I could do this) link to point to static absolute url or just ship the license file alongside the distribution.
I'm aware

[2018-02-04 21:46] vairamsvsjdo commented on #543
I updated my comments to reflect the codepen created using the template given.
The template does not have no reference to the popper.js and tooltip.js libraries. So, my version has those 2 plus jquery as that is required for my use case.

[2018-02-06 17:03] Siilwyn opened #548 "What is the benefit of tooltip.js instead of using popper.js directly?"
Seems like the added `aria` tags are an extra but besides that I don't see anywhere what tooltip.js provides over popper. What makes it even more confusing are the examples on the popper.js website which are tooltips, but made using popper.js directly. 🤔

[2018-02-06 17:45] FezVrasta commented on #548
Popper.js is just the positioning engine, you have to integrate it in your own code.
Tooltip.js is a tooltip library, it creates the tooltips for you.

[2018-02-06 17:45] #548 closed

[2018-02-06 20:01] FezVrasta commented on #548
As said, with Popper.js you have to write all the DOM manipulation logic by yourself (create the tooltip, append to the DOM, remove from the DOM on destroy and stuff like that).

Tooltip.js does that for you

[2018-02-06 20:16] Siilwyn commented on #548
Ah I see, thank you for your replies!

[2018-02-08 19:19] davidlygagnon opened #549 "popover not aligned with reference div when using "bottom left"."
### CodePen demo
https://codepen.io/dlygagnon/pen/XZpeMx

### Steps to reproduce the problem

1. Create two divs:
[code]

2. Set CSS for each div as follow:
[code]
Note the width of #ref is smaller than width of #pop

3. JS code:
[code]

Issue is #pop is not aligned with #ref.

![screen shot 2018-02-08 at 11 15 33 am](https://user-images.githubusercontent.com/1821787/35993293-b51c844c-0cc1-11e8-92

[2018-02-08 19:55] FezVrasta commented on #549
Umh, which browser are you using? I see this:

![image](https://user-images.githubusercontent.com/5382443/35995021-04111914-0cc7-11e8-9e59-f616fbbd300f.png)

[2018-02-08 19:56] FezVrasta commented on #549
Oh, I see you fixed your codepen to use `bottom-start` instead of the unsupported `bottom left`. Good to close I guess

[2018-02-08 19:56] #549 closed

[2018-02-08 20:04] davidlygagnon commented on #549
Yes - "bottom-start" is the one I should be using but the calculation seems wrong to me. Can you elaborate on why it's working in that case?

[2018-02-08 20:06] FezVrasta commented on #549
Why you say `bottom` won't work? I see it works just fine:

![image](https://user-images.githubusercontent.com/5382443/35995510-6fde003e-0cc8-11e8-96e2-6c188dc7a04e.png)

[2018-02-08 20:12] davidlygagnon commented on #549
Shouldn't it be aligned with #ref ?

[2018-02-08 20:30] FezVrasta commented on #549
Why should it? `bottom` doesn't specify any alignment so it fallbacks to center, which is the most common use case

[2018-02-08 21:45] davidlygagnon commented on #549
ok - thanks. I can work with `bottom-start`.

[2018-02-09 04:42] atomiks opened #550 "Prefer original placement if flipped placement doesn't have enough room either"
### CodePen demo

Default template has it
https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  Resize the CodePen window down

### What is the expected behavior?

The popper should not flip because the flipped placement doesn't have enough room either

### What went wrong?

The popper flips

### Any other comments?

Should this be default behavior?

[2018-02-09 04:51] atomiks opened #551 "Pixel-perfect positioning: don't floor positions with gpuAcceleration disabled"
Currently, you floor the positioning because of blurriness with fractional translation, but this inevitably causes small positioning errors because elements on the page can be positioned using subpixels.

I'm thinking of not flooring when `gpuAcceleration` is disabled. When used with `gpuAcceleration` disabled, you achieve no blurriness (due to the lack of a new layer the popper is promoted to wit

[2018-02-09 17:16] FezVrasta commented on #550
yes that's something I'd like to change but it's gonna be a breaking change so we have to keep this for v2

[2018-02-12 01:17] JounQin commented on #453
OK, I find out we can use `boundariesElement: 'viewport'` to prevent this issue.

[2018-02-12 19:57] victor-cordova commented on #342
Hello. I'm currently working on this issue. PR on the way.

[2018-02-13 12:04] pribilinskiy commented on #300
[code]
can be simplified to
[code]

[2018-02-13 16:18] blaadje opened #554 "Z-index on safari"
### Preview

<img height="600" src="https://trello-attachments.s3.amazonaws.com/594a792ea4caf03739e980ab/5a5f838d28724cfc34654688/5f18ccf4defe30f452db1b89d4a5fe58/IMG_1049.PNG" />

### Steps to reproduce the problem

Just put some content under a popper on Safari

### What is the expected behavior?

The popper should be on top of the content. Z-index doesn't change anything

### What went wrong?

[2018-02-13 16:20] FezVrasta commented on #554
Popper.js doesn't handle z-index, because it's simply impossible for a 3rd party code to know how your z-index is being handled. You have to handle it by yourself.

[2018-02-13 16:20] #554 closed

[2018-02-13 16:36] blaadje commented on #554
Handling z-index popper by ourselves with chrome/safari/ie works well, its not taking effect on safari tho. The only way the popper can be on top is with the `transform: translate3d(0,0,1px);`. As the transform is generated automatically by popper.js i can't handle it.

[2018-02-13 16:37] FezVrasta commented on #554
Sorry without a codepen I can't help further

[2018-02-13 17:42] weilinzung opened #555 "EISDIR: illegal operation on a directory, read"
When using `gulp-imagemin` try to optimize all build assets then if not exclude this favicon, it will gave this error message. Thanks~

`EISDIR: illegal operation on a directory, read`

`.../popper.js/docs/favicon.ico`

[2018-02-13 17:43] #555 closed

[2018-02-13 17:43] FezVrasta commented on #555
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-02-13 22:08] fursenko commented on #419
@FezVrasta  thanks a lot

[2018-02-14 00:50] mwebb33 commented on #518
I am also confused by the offset implementation/documentation. Sorry, I tried. I got frustrated.

[2018-02-14 01:05] mwebb33 commented on #518
I basically want to set a pixel offset from the top of the viewport and the left of the viewport.

[2018-02-14 12:14] mir3z opened #557 "Offset not working as expected"
### CodePen demo

https://codepen.io/anon/pen/aqyxXd

### Steps to reproduce the problem

1.  Use popper like in codepen and set offset that goes beyond ref element width/height

### What is the expected behavior?

Popper should be positioned using exact offset that I have specified.

### What went wrong?

Ref element has 100px height. I can make Popper if shifted beyoned that 100px. (use wtf1 off

[2018-02-14 12:27] FezVrasta commented on #557
That's the `keepTogether` modifier, I know it's quite confusing as default behavior... Must improve it in the next major version 🙄

https://codepen.io/FezVrasta/pen/BYdeQv

Closing as dupe of #230

[2018-02-14 12:27] #557 closed

[2018-02-14 23:34] agurtovoy commented on #300
This can be fixed, though, by adding `tabIndex="-1"` attr to the tooltip/popover itself, thus making it focusable, and subscribing to `focusout` event on both the button and the tooltip/popover and doing something along the lines of:

[code]

[2018-02-15 10:24] mir3z commented on #557
Indeed, it's confusing. Anyway - thanks for help. ;)

[2018-02-15 15:34] danwad commented on #457
@FezVrasta Here is a minimal reproduction using `min-height: 100vh` on the container.

https://codepen.io/anon/pen/paWMeV/

Version 63.0.3239.132 (Official Build) (64-bit) on macOS 10.13.3

[2018-02-16 02:23] danielvivivi opened #558 "Cannot find the popper.js file for bootstrap"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  Download popper.js-master zip file and extract
2.  Look for popper.js file
3.

### What is the expected behavior?

To see a file called popper.js

### What went wrong?
There was no popper.js file in the zip

### Any other comments?

[2018-02-16 12:07] FezVrasta commented on #558
https://github.com/FezVrasta/popper.js#installation

[2018-02-16 12:07] #558 closed

[2018-02-20 21:50] whitecolor commented on #496
Not so difficult.

[2018-02-20 22:59] markusdittrich opened #560 "'Placement: bottom' makes popper sticky in scroll-container"
### CodePen demo

Example 1: https://codepen.io/MarkusDittrich/pen/mXxNrQ
Example 2: https://codepen.io/MarkusDittrich/pen/ZrxgGW

### Steps to reproduce the problem

1.  Open Example 1; Scroll content; The popper (placement:'right') stays with the reference-element
2.  Open Example 2; Scroll content; The popper (placement:'bottom') sticks to the top of the screen

### What is the expected behavio

[2018-02-21 11:16] FezVrasta commented on #560
That's a dupe of #230

It's the `keepTogether` modifier that makes the popper stick to its reference element in the first example.

https://codepen.io/FezVrasta/pen/GQdvBL

[2018-02-21 11:16] #560 closed

[2018-02-21 11:17] FezVrasta commented on #496
@whitecolor feel free to send a PR if you have ideas on how to fix this!

[2018-02-21 11:46] #537 closed

[2018-02-21 14:11] hekigan commented on #342
Since the modification got merged, I am going to close this issue.
Thanks @victor-cordova for your work.

[2018-02-21 14:11] #342 closed

[2018-02-21 17:15] markusdittrich commented on #560
Perfect. Thanks for the quick reply!

[2018-02-22 14:11] YoranBrondsema commented on #457
I was seeing a similar issue and I figured out the root cause.

As was said previously, the situation arises when an element on the page has as height the entire viewport (`100vh`). Imagine the following DOM:

What happens is that right before the computation of the position of the popper, the popper gets `position: absolute`. However, since the popper appears after the page in the DOM, it will be

[2018-02-22 14:14] FezVrasta commented on #457
@YoranBrondsema could we set `top` to 0 before this line maybe?

https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/modifiers/applyStyle.js#L52

[2018-02-22 14:25] YoranBrondsema commented on #457
@FezVrasta Yes, that would actually even be better as you would only do it once. Once the `top` is set, it is never reset right?

[2018-02-22 14:27] FezVrasta commented on #457
The value of `top` will be overridden depending by the settings used by Popper.js, if `gpuAcceleration` is set to `false` it will be replaced with the top offset of the popper, if set to true, it will stay set to `0`.

Feel free to send a PR.

[2018-02-22 17:45] andrerfneves commented on #515
Can attest that the polyfill works for `contains`. I ran into other similar issues with IE11 and `focus` but only regarding `SVGElement`'s. Thanks @FezVrasta.

[2018-02-22 17:47] FezVrasta commented on #515
I'm going to close this because I don't think the SVG usage is so common to justify to ship polyfills with the library, marking the issue as FAQ to make it easily discoverable.

[2018-02-22 17:47] #515 closed

[2018-02-23 09:49] mir3z opened #562 "Popper unexpectedly shifted on scroll event"
### CodePen demo

I can't create minimal reproducible example on codepen so far. I will update the ticket as soon as I manage to do that.

### Steps to reproduce the problem

Hard to provide exact steps. It's just a plain popper with `placement="left"` and the following modifiers pointing to one of the elements on the webpage:

[code]

### What is the expected behavior?

Popper element should not

[2018-02-23 13:11] FezVrasta commented on #562
Sorry but without a repro I can't really help. Please open reply here once you get a working repro and I will re-open the issue. Thanks for your understanding.

[2018-02-23 13:11] #562 closed

[2018-02-23 19:02] rufusroflpunch commented on #276
I can verify also that this doesn't work in `<th>` elements. I worked around it by changing my `<th>` elements to `<td>` elements, but that does hurt my brain a bit.

[2018-02-27 12:39] robcrocombe opened #565 "Publish new version of popper.js to NPM"
Hi, we need to use some of the new changes you've made to Popper.js, like `updateTitleContent` (#561) and fix TypeScript typings (#539). It appears the last NPM release was in November 2017. Please can we have a new version soon? Thanks!

### Steps to reproduce the problem

1. `npm install popper.js`

### What is the expected behavior?

Get the new features and fixes.

### What went wrong?

Not ge

[2018-02-27 22:09] kellym commented on #565
This also goes for `tooltip.js`, unless we should be using the popper.js repo for tooltips. Thanks!

[2018-02-27 23:21] gilbarbara commented on #565
Or update the `@next` tag with the recent changes! 😬

[2018-03-01 00:05] Redmega opened #566 "[IE11] display:table and table-cell makes popper unable to find correct positioning"
### CodePen demo

https://codepen.io/Redmega/pen/WMPRGW

### Steps to reproduce the problem

1.  Use IE11
2.  Have a series of elements in a set of nested divs with `display:table` and `display:table-cell`
4.  Try to use one of the elements as a popper rel (or tooltip) (Not the top one or you can't see the issue)

### What is the expected behavior?

The tooltip should be displayed as normal (like

[2018-03-01 01:43] github-account-because-they-want-it commented on #478
I used this from one of the comments above in `node_modules/__mocks__/popper.js.js` but it didn't work:
[code]

[2018-03-01 13:26] brentertz commented on #478
@github-account-because-they-want-it The aforementioned comment actually said to,  "Create a folder/file called `__mocks__/popper.js.js` **adjacent** to your `node_modules` directory", rather than as a child of `node_modules` as your comment suggests.

Jest is really flexible and provides numerous ways to load mocks, one of which you have demonstrated above.  More can be found here.  https://faceb

[2018-03-01 14:15] Redmega commented on #566
@FezVrasta If you have an idea of where to look I can try to make a PR to remedy this.

Also, what do you think of the note I added with regards to the `react-datepicker` implementation:

[2018-03-01 14:21] FezVrasta commented on #566
I don't know honestly, I'd love to drop support for IE all together..

[2018-03-01 14:46] Redmega commented on #566
I agree 100% but IE11 is still supported by Microsoft and widely used 😕

[2018-03-01 19:48] priyajeet opened #567 "Consider allowing popups to be placed in a different parent element"
There are times when rendering a popup inline causes issues due to z-indexing/overflowing and/or layout of the parent element and its siblings. Under these scenarios providing a parent element where the popup should render will help.

For example, using popper.js (with react-popper) in https://github.com/bvaughn/react-virtualized doesn't work well and causes such issue:

![image](https://user-imag

[2018-03-01 19:50] FezVrasta commented on #567
Sure you can do that easily, with `react-popper` you can use the `React.Portal` API, with plain JavaScript you can simply attach your popper wherever you prefer. Popper.js will work just fine.

[2018-03-01 19:50] #567 closed

[2018-03-01 21:04] raffo1234 opened #568 ""O" Supported Property Name is not considered in the "for" loop"
I was checking your code to learn more about Popper.js implementation, and I found this line
 `for (let i = 0; i < prefixes.length - 1; i++) {`
here https://github.com/FezVrasta/popper.js/blob/master/packages/popper/src/utils/getSupportedPropertyName.js#L12

I am a bit confused because I think this should be `for (let i = 0; i < prefixes.length; i++) {` or Is there anything that I am missing?

Tha

[2018-03-01 22:11] atomiks commented on #568
I also found this while implementing the same functionality last year. Luckily, "o" browsers have such low usage share that autoprefixer even with > 0.1% setting doesn't add it. Therefore I don't think it's necessary to worry about.

But still, the code should probably be updated if any prefixes get removed from the array in the future.

[2018-03-01 22:36] jaredvacanti opened #569 "Using popperjs with D3js - offset/placement not correct with svg/rects"
### CodePen demo

https://codepen.io/anon/pen/Jpzbaj

### Steps to reproduce the problem

1.  Initialize popper.js instance on `popperElement`
2.  Initialize `svg` elements (`rects`, `circles`, etc)
3.  on `mouseon`, update popper position of existing (and only) popper instance

### What is the expected behavior?

I want to use popper to position an existing tooltip, instead of creating thousands

[2018-03-02 08:39] FezVrasta commented on #569
I can't see any tooltip at all in your demo, should I do something specific?

[2018-03-02 08:40] FezVrasta commented on #568
Right! Feel free to send a PR please.

[2018-03-02 17:33] #568 closed

[2018-03-02 19:40] whitecolor opened #571 "computeStyle dependant on current placement"
Is it possible somehow to have `computeStyle.x` to be `top` when popper is going to be placed on `top`, and `bottom`, when actual placement is `bottom`?

[2018-03-02 19:43] whitecolor opened #572 "Add boundariesElement `scrollContent`"
What do you think about adding one of the options scrollContent, so that popper will be within not scrollParent element boundaries, but within its scrollable content? To me it is quite common case.

- `scrollParent` boundaries context is the clientRect of the element that has `overflow` = `scroll`, `auto`, its sizes are `width` = `clientWidth`, `height` = `clientHeight`

- (proposed) `scrollConten

[2018-03-02 19:58] FezVrasta commented on #572
I don't think I understand what you are proposing, an example would be useful.

[2018-03-02 19:59] FezVrasta commented on #571
May you elaborate? Sorry I'm not understanding.

[2018-03-02 20:11] whitecolor commented on #572
Well say you have scroll list wrapper, which is 200px height, and scrollHeight (scroll items) actually say 1000px, `scrollParent` will limit (oveflow, flip) elment to 200px element boundares, and one may want to have popper within its scrollable content (1000px), so it maybe out of scrollParent boundaries, but within scrollable content (size of which can be determined by `scrollHeight`, `scrollWid

[2018-03-02 20:19] whitecolor commented on #571
Well you can set `computeStyle.x` while creation. I wonder if it is possible to reset it depending on where popper is placed while update.

The case is quite obvious:
1) Say you have popper with dynamic content height.

2) Say popper is placed at `bottom` and you just decrease popper element height (for example by some UI actions). In this case, you actually don't have to update placement, and eve

[2018-03-02 20:36] whitecolor commented on #572
Actually this seems to be quite easy I just added
[code]

[2018-03-05 16:16] marcohamersma commented on #571
I'm trying to solve the same problem (keeping a popper with dynamic height in place after resizing), and could definitely use this as well. I initially assumed Popper would do it this by default.

[2018-03-05 16:19] FezVrasta commented on #571
Oh, well, actually I thought the lib supported this already 😅

So you are saying that if the popper is positioned on `top`, it should be positioned using `bottom: x` instead of `top: x`, so that if the popper changes its size it doesn't need to recompute the position.

And I guess the same would be valid for `left` and `right`.

PRs are welcome

[2018-03-05 16:26] marcohamersma commented on #571
Yep, exactly what I mean :)

I might take a shot at a pull request later, but I'm currently running in to a bug in popper. I'll have to make another issue ^_^.

[2018-03-05 17:04] whitecolor commented on #571
@FezVrasta

It is kind of that. Though I what I don't completely understand my fix that works: to work everything as expected I put this in `computeStyle` modifier for defining `x` and `y`

[code]

So as you see here if `data.placement` is top I set `x` to `top` and it works as expected, as if of `top` placement `computeStyle.x` is set to `bottom`.

Did I make myself clear?

[2018-03-05 18:19] lucky7id commented on #496
For my own understanding, why is this marked priority low? Currently for anyone utilizing this library through the large number of UI libs this is causing chrome to utilize 100% CPU and cause crashes for anyone not using 100% zoom. It would be great to see a higher prioritization

[2018-03-05 19:05] FezVrasta commented on #496
Because nobody before you asked to prioritize it, a bunch of stuff doesn't work when the browser is zoomed... And usually there's not much we can do to fix it.

[2018-03-05 21:42] atomiks commented on #496
`zoom` should never be used anyway, use `transform: scale`. It's not a standard property and behaves differently between browsers.

[2018-03-05 21:48] whitecolor commented on #496
`transform: scale` or any other causes positioning problems anyway.

[2018-03-05 21:48] lucky7id commented on #496
@atomiks I'm referring to the browser zoom. This original issue mentions the CSS zoom property, but you will see that this issue is referenced in a different library specifically mentioning browser zoom. I am happy to make a separate issue as the scope may be different. But really, the issue is that popper can enter into an infinite loop, utilizing 100% cpu. I understand that of course the tooltip

[2018-03-05 21:59] atomiks commented on #496
@lucky7id I think it varies between browsers, as Chrome on Mac handles browser zoom fine regarding popper positioning (when I zoom the CodePen window, for example)

[2018-03-05 22:04] lucky7id commented on #496
@atomiks Using chrome on mac myself, can repro 100% of the time. Interestingly I am only able to repro at certain zoom levels, and specifically only when zoomed out (so far as I have been able to repro)

[2018-03-05 22:10] erslater opened #574 "Enhancement: Add placement type of overlay"
It would be nice to specify the placement to be an overlay of the target dom element placed in the top left corner.

I am using it as a popover to edit a piece of information and would like it place right over the element I requested.

See the small edit dialog section of: [https://material.io/guidelines/components/data-tables.html#data-tables-interaction] for an example of what I mean.

[2018-03-06 01:44] fuweichin opened #575 "Making popper.js XHTML-friendly"
popper.js 1.12.9 doesn't support XHTML, I mean W3C-validated XHTML running in XHTML mode, yet.

To support XHTML-mode, I modified popper.js source file, replaced all `.nodeName`  with `.nodeName.toUpperCase()`, and finally my Bootstrap dropdown did work.

Any plans to add XHTML support?

[2018-03-06 10:33] denisname commented on #569
@jaredvacanti
Don't add a `div` in a `svg`. It is a [`HTMLElement`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement) and is not allowed in a `svg`.
Replace line 12–15:
[code]
by
[code]
and also set your css correctly:
[code]
Now it must work.

Realise also how:
[code]
gives different results in both cases: `http://www.w3.org/2000/svg` and `http://www.w3.org/1999/xhtml`.

Should you re

[2018-03-06 13:03] #569 closed

[2018-03-06 13:04] FezVrasta commented on #575
That's the first time someone asked about support for it. If enough people vote for this feature we can add it for sure.

[2018-03-06 13:05] FezVrasta commented on #574
Have you tried the `inner` modifier?

[2018-03-06 13:05] #574 closed

[2018-03-06 13:06] FezVrasta commented on #496
Please open a separated issue then.

[2018-03-07 07:29] janwidmer commented on #514
Hi @FezVrasta,
Regarding the arrow documentation, when setting the modifier

[code]

Is that supposed to hide my arrow markup? Is it correct, that I need to add the arrow markup myself?

[2018-03-07 08:07] FezVrasta commented on #514
Popper.js doesn't create any markup. You need to add it manually.

[2018-03-07 08:20] janwidmer commented on #514
ok..but what should happen then when I set the modifier arrow.enabled.false, should it hide the arrow markup?

[2018-03-07 08:35] Overv commented on #514
@FezVrasta Why is there no default markup that at least makes it look like on the demo website?

[2018-03-07 08:41] janwidmer commented on #514
@Overv It's always a trade between flexibility and presets.. not generating any markup give's you all the options to use whatever markup for your popover.

The needed markup is very simple:
[code]

[2018-03-07 09:49] atomiks opened #576 "`overflow-x` on parent causes incorrect position"
Found here: https://github.com/atomiks/tippyjs/issues/196

### CodePen demo

https://codepen.io/atomiks/pen/yvmRVN

### What is the expected behavior?

The popper is positioned just beneath the reference element.

Removing `overflow-x: auto` results in expected behavior.

### What went wrong?

It sits too high vertically.

[2018-03-07 09:53] FezVrasta commented on #514
If the modifier is disabled and the arrow markup is present. It will not be touched so it will not get the proper pisition.

@Overv you can use Tooltip.js if you need an higher level abstraction

[2018-03-07 13:04] shaharkazaz opened #577 "updateTitleContent doesn't exists on tooltip instance"
### CodePen demo

https://codepen.io/shaharkazaz/pen/JpgqYW?editors=1111
Open the console to see the instance object and error thrown.

### Steps to reproduce the problem

1.  Install tooltip.js (I'm using v1.1.7 but also tested on v1.1.6)
2. Try to call `updateTitleContent` function from the tooltip instance

### What is the expected behavior?

The tooltip title updates to the newly passed value,

[2018-03-07 18:14] fentie commented on #496
I can confirm this as well. Chrome Mac, using browser zoom out to about 80%, locks up and crashes. If there's any other info/logs/etc I can provide, let me know.

[2018-03-07 18:40] lucky7id opened #578 "When browser is set to zoom levels lower than 100% popper enters infinite loop and 100% CPU utilization"
### CodePen demo

https://codepen.io/pen?template=wGqJEz
Note: unmodified template, this issue really requires a real-world demonstration. If anyone has the time to code up a decent example, I will happily update.

### Steps to reproduce the problem

1.  Open a page in Chrome, especially one with multiple tooltip elements
2.  Set browser zoom to anything below 100%
3.  start scrolling and hovering

[2018-03-07 18:43] lucky7id commented on #496
I've opened a new issue here: https://github.com/FezVrasta/popper.js/issues/578
if anyone can contribute a good pen that would be awesome!

[2018-03-07 19:01] FezVrasta commented on #578
Thanks for the report, as you said, a codepen demo of the problem would be dope, without it it's going to be a nightmare to fix it...

[2018-03-07 19:24] FezVrasta commented on #577
I haven't yet released the new version I'm sorry :-(

#565

[2018-03-07 19:24] #577 closed

[2018-03-07 19:24] FezVrasta commented on #565
Going to do this during the weekend, sorry guys

[2018-03-08 18:07] agustinbcu01 opened #580 "Blur Content"
For Chrome, Opera and Safari.
The content looks blur.
looks like is because the transform: translate3d(...)

For Chrome, Opera and Safari.
The content looks blur.
looks like is because the transform: translate3d(...)

Regards

[2018-03-08 18:12] FezVrasta commented on #580
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-03-08 18:12] #580 closed

[2018-03-08 21:37] atomiks commented on #576
Dupe of #535

[2018-03-08 21:37] #576 closed

[2018-03-11 12:50] Artefact2 commented on #575
I have the same problem when using Bootstrap dropdowns. Here is a minimal example that fails:

[code]

Here is the error that occurs when trying to open the dropdown:

[2018-03-12 14:53] FezVrasta commented on #565
popper.js@1.14.0 and tooltip.js@1.2.0 released, I hope I didn't break anything :-(

[2018-03-12 14:53] FezVrasta commented on #565
popper.js@1.14.0 and tooltip.js@1.2.0 released, I hope I didn't break anything :-(

[2018-03-12 14:53] #565 closed

[2018-03-12 14:54] Johann-S commented on #565
@FezVrasta do you have a change log ?

[2018-03-12 14:57] FezVrasta commented on #565
I'm writing it

[2018-03-12 15:00] FezVrasta commented on #565
https://github.com/FezVrasta/popper.js/releases/tag/v1.14.0

[2018-03-12 17:45] wolfrubin commented on #565
@FezVrasta the typescript type definitions file has changed between 1.13 and 1.14 and this has broken a module that depends on it, namely ng2-semantic-ui. I would investigate/change it myself but I'm not sure how. Any pointers?

[2018-03-12 17:47] FezVrasta commented on #565
I'm not the one who maintains the TS definitions... @cwmoo740 may know more?

[2018-03-12 18:22] DaleCam commented on #430
If it helps anyone, in line with the above comments, I simply had to set my VS2017 project to use the latest version of Typescript as per the link here: [https://github.com/Microsoft/TypeScript/wiki/Updating-TypeScript-in-Visual-Studio-2017](https://github.com/Microsoft/TypeScript/wiki/Updating-TypeScript-in-Visual-Studio-2017)
Hope it helps!

[2018-03-12 18:29] cwmoo740 commented on #565
@wolfrubin the types are no longer exported as a namespace...

changing `import Popper from 'popper.js'`

to

`import Popper, {Modifiers, PopperOptions, Placement, Data} from 'popper.js'`;

or

`import * as Popper from 'popper.js'`;

will fix the issues.

[2018-03-12 18:57] jasoninrapid opened #581 "1.14.0 breaks Angular5 CLI build"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  Have an Angular 5 project that builds with the CLI, and is using popper.js
2.  ng b
3.  See error "error TS2503: Cannot find namespace 'Popper'"

### What is the expected behavior?

### What went wrong?

### Any other comments?

This started happening with the release of 1.14.0 this morning.  We just

[2018-03-12 18:59] FezVrasta commented on #581
Read here https://github.com/FezVrasta/popper.js/issues/565#issuecomment-372415877

[2018-03-12 18:59] #581 closed

[2018-03-12 19:05] jasoninrapid commented on #581
Thanks!  I didn't see that.

[2018-03-12 20:39] tyscorp commented on #578
There's a repro here: https://github.com/palantir/blueprint/issues/2029

[2018-03-12 21:25] atomiks commented on #578
I'm not sure this is a Popper.js issue as I can't repro it on my demo page at 75% zoom, but it does happen on the blueprint docs

[2018-03-12 21:29] lucky7id commented on #578
@tyscorp that's what led me to the original issue, but we need to isolate an example to popper itself using only the popper lib.

@atomiks The lib I originally reproduced this is in a different lib than palantir's offering, the only thing connected is that popper is being used.

[2018-03-13 14:33] lipedeitos opened #583 "Tip on how boundariesElement scrollParent works"
### CodePen demo

Demo 1: https://codepen.io/anon/pen/aYdbWv
Demo 2: https://codepen.io/anon/pen/JLGoQm

### Steps to reproduce the problem

1.  Demo 1 have a popper inside a modal with overflow on its content, everything works fine, the popper flips and do all the stuff.
2.   Demo 2 is using exact the same code, boundariesElement: 'scrollParent' on both, flip and preventOverflow, but in this case

[2018-03-13 14:39] FezVrasta commented on #583
Thanks for the suggestion, I'm not sure if it would make more sense to create a new option to change this behavior or else...

[2018-03-13 16:50] lipedeitos commented on #583
For now i guess I'll check through pure js whats is the scrolling container and set something like `'scrollParent' || 'viewport'` on boundariesElement to work both ways without the user need use a flag/property.
If you guys have any idea of workaround while this is not enhanced I apreciate.

[2018-03-13 18:07] marcohamersma opened #585 "Incorrect `bottom` parameter when popper element has no parent (but <html>)"
Hey Hey,
I stumbled upon this issue the other day, where `computeStyle` doesn't pick the right `bottom` position for my popper. I've illustrated the bug in [this CodePen demo](https://codepen.io/marcohamersma/pen/XZwLwr).

<img width="273" alt="screen shot 2018-03-13 at 18 06 35" src="https://user-images.githubusercontent.com/577144/37360883-64752412-26e9-11e8-81d8-fa2cdb69e69d.png">

### CodePen

[2018-03-13 18:23] FezVrasta commented on #585
Thanks for the report, why do you need `x` set to `top` when you are setting the `placement` to `top`? Usually you want `x` to be the opposite of `placement`.

[2018-03-14 09:54] marcohamersma commented on #585
The `x` needs to be `top` because the popper element that I'm using might change height, and I want it to be able be anchored from the bottom. That was mentioned in 571 as well ^_^.

Anyway, thanks a lot for looking in to it (and for the quick response, I'm not sure how you do it)

[2018-03-14 10:14] FezVrasta commented on #585
If the popper content may change, and you want it to stay in the right position when that happens, you want `x` to be set to `bottom`, because doing so its style will be `bottom: *px`, which means that if the height changes, it will grow towards the top while its bottom will stay anchored in place.

[2018-03-14 10:15] FezVrasta commented on #585
Umh right, actually I think it should be the opposite, I'm not sure why it's working that way...

[2018-03-14 11:53] mygaochunming commented on #523
@FezVrasta @bluesurfer I used the referenceObject , and I can get the mouseEvent clientX and clientY
[code]

![image](https://user-images.githubusercontent.com/21029140/37400916-65742132-27c1-11e8-9730-c12562529d61.png)

I got the popper show relative to someNode that I don't know, not the "client" which is my wish.

Is there any option to handle this? or is there a contextmenu demo that used popp

[2018-03-14 21:27] cgountanis opened #586 "Dropdown Not On Top"
Does anyone have a quick fix for something like this when the table is small?

https://jsfiddle.net/bshasvbp/3/

[2018-03-14 21:30] cgountanis commented on #586
Updated https://jsfiddle.net/bshasvbp/3/

[2018-03-15 15:57] cgountanis commented on #586
https://github.com/twbs/bootstrap/issues/25850#issuecomment-373199401

[2018-03-15 15:57] #586 closed

[2018-03-16 11:53] alexander-morozov commented on #251
I also stuck with the same issue and for me removing html.scrollWidth from getSize method fixes it. Probably something like that https://github.com/FezVrasta/popper.js/commit/1b3a82d77a11ce84d767da0f1ac4982774a64979
should fix it.

Maybe we can move includeScroll with default `true` as external option?

[2018-03-19 06:51] mygaochunming commented on #523
[code]

I have tried to use modifier, and It works well for me.
NOTE: the code can't run, it's just a mind, and it works for me. The mind is getting the offset from mouseEvent.clientX to the mouseEvent.target.offsetParent, then use it in modifier.

[2018-03-19 14:09] NerveClasp commented on #578
we've had the same issue before updating from `react-popper` 0.7.5 to 0.8.2. Please confirm the issue stays for you after updating to the latest possible version of popper

[2018-03-20 13:00] ipsips commented on #550
any way to work around it atm?

[2018-03-20 13:05] FezVrasta commented on #550
You can set a custom [`flip.behavior`](https://popper.js.org/popper-documentation.html#modifiers..flip.behavior), it could be something like `['top', 'bottom', 'top']` if you want it to come back to `top` if there's not space on `bottom`

[2018-03-20 17:14] lucky7id commented on #578
@NerveClasp just checked NPM, was using react-popper 0.8.2 when the issue was first reported to me, and has been reproduced since then. Additionally, this has been reproduced from an angular lib which does not use react-popper

[2018-03-21 09:42] victorting commented on #251
I also stuck with the same issue too. Hoping ace to fixes it. Thanks a lot!

[2018-03-22 16:33] travislaynewilson commented on #457
FYI, this is also happening to me when I place the element as the last element in the body, while I have the height of <body> and <html> as 100%.

[2018-03-23 12:45] savehansson commented on #421
In a special using case I need _all_ popper elements to be fixed positioned on the screen. Any news on this?

[2018-03-23 13:04] FezVrasta commented on #421
Yes, you can use the [`positionFixed`](https://popper.js.org/popper-documentation.html#Popper.Defaults.positionFixed) option. It's very new so there may be some bugs.

[2018-03-23 13:12] stream7 commented on #478
@FezVrasta I tried both `__mocks__` and setup file but jest seems to pick up the dist file which contains the popper.js already. Any suggestions? I think popper.js should be removed from that file.

[code]

[2018-03-23 13:14] FezVrasta commented on #478
Are you using the latest react-popper? Older versions embedded their own Popper.js version

[2018-03-23 13:15] FezVrasta commented on #478
Oh fuck, nevermind, it's still like this.. wtf

[2018-03-23 13:19] stream7 commented on #478
Hmm, I just realized I'm reporting this in the wrong repo, right?

[2018-03-23 13:20] FezVrasta commented on #478
Yup, anyway I'm on it.

[2018-03-23 13:21] MrFrankel commented on #421
@FezVrasta there are some fixes in master right now regarding positionFixed that are waiting for a new npm version, any chance on getting them released soon?

[2018-03-26 12:08] ashclarke commented on #476
@FezVrasta - Is this still available? It shows as `undefined` for me.

Popper.js - v1.14.1
Tooltip.js - v1.2.0 via unpkg.

Actually, after reviewing what is [spit out by unpkg](https://unpkg.com/tooltip.js@1.2.0), I believe it might be because a property is not explicitly created for it.

[2018-03-26 12:09] FezVrasta commented on #476
You must access the instance, not the constructor. You'll find `popperInstance` inside it.

[2018-03-26 12:13] ashclarke commented on #476
@FezVrasta - *facepalm* - I was accessing the `popperInstance` property, before ever calling `.show()` 🙄

Wrapped with a check for `_isOpen`!

[2018-03-26 12:14] FezVrasta commented on #476
Oh, I see... Yes that's confusing, I don't particularly like the way it works right now, but 🤷‍♂️

[2018-03-26 13:17] passa1248 opened #588 "Freeze popover"
Hi all!
I need to show up a popover inside datatable that refresh data every 3 seconds.
The problem is that after refreshing, the popover reference is destroyed and popover showed go up  to coordinate 0,0 when scroll page.
Can it be solved?
Thanks in advance! (sorry for my bad english :( )

### CodePen demo

https://www.codeply.com/go/y2VQrjqdjf

[2018-03-26 13:18] FezVrasta commented on #588
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-03-26 13:18] #588 closed

[2018-03-26 13:23] passa1248 opened #589 "Freeze popover"
Hi all!
I need to show up a popover inside datatable that refresh data every 3 seconds.
The problem is that after refreshing, the popover reference is destroyed and popover showed go up  to coordinate 0,0 when scroll page.
Can it be solved?

### CodePen demo

https://www.codeply.com/go/y2VQrjqdjf

### Steps to reproduce the problem

1.  Show popover
2.  Delete popover reference
3.  Scroll down

##

[2018-03-26 13:52] FezVrasta commented on #589
That's a Bootstrap request, please open the ticket on their repository.

[2018-03-26 13:52] #589 closed

[2018-03-27 21:00] brentertz commented on #478
Trying to update popper to latest version... Mocking it using the above techniques is no longer functional.  Any ideas?

[2018-03-28 08:15] FezVrasta commented on #478
I haven't changed anything in the overall structure... Are you sure it is related to the new version?

[2018-03-28 09:11] stream7 commented on #478
@FezVrasta he is having the same issue I have. I didn't check it thoroughly but I think you need to re-publish the `react-popper` package with the proper dist file which doesn't include popper.

[2018-03-28 09:13] FezVrasta commented on #478
`react-popper@next` doesn't include Popper.js, try that. But I don't think that's the problem, Jest shouldn't care.

[2018-03-28 09:33] borm opened #590 "Wrong poper position an edge case"
Duplicate of https://github.com/souporserious/react-popper/issues/113

### CodePen demo
https://react-popper-example-fies9l.stackblitz.io/

### Steps to reproduce the problem

1.  Scroll to **Toggleable Popper Example** or **Standalone Popper Example**
2.  Make sure what element have position to bottom of viewport, in my case 73px
3.  Click to reference
![image](https://user-images.githubuserconte

[2018-03-28 12:26] rolandjitsu commented on #478
@FezVrasta I just tried the next version (0.9.0) and the error seems to be gone. But the TS declaration file seems to be gone from the dist.

[2018-03-28 12:57] brentertz commented on #478
I tried with `react-popper@0.9.0` and the mock  once again works as expected.  Is the "next" version safe/stable enough to use?

[2018-03-28 12:59] FezVrasta commented on #478
The build process has been completely rewritten, there are few bugs, but if it works in your own build process I'd say it's safe to use. Just note that TypeScript annotations are missing for now.

[2018-03-28 15:34] HamzaAitOumghar commented on #429
[code]
not fixed :(

[2018-03-28 18:36] s2hc-johan opened #591 "Popper element partially placed outside of visible area on the right"
### CodePen demo

this jsfiddle https://jsfiddle.net/oou41czh/4/ shows the problem, when hidden, or when displayed and resized.

### Steps to reproduce the problem

1.  create poppers that needs to be adjusted to the left to be visible
2.  set display: none on the poppers
3.  sohw the popper, and try to align it with popper.update()
4. see the error

### What is the expected behavior?

the popper

[2018-03-28 18:47] FezVrasta commented on #591
Dupe of #251, sorry ☹️

[2018-03-28 18:47] #591 closed

[2018-03-28 23:01] grzegorztomasiak opened #592 "Tooltip.js doesn't properly handle blur event on mobile"
### CodePen demo

No CodePen needed, since it does not work even on the homepage of tooltip.js
https://popper.js.org/tooltip-examples.html

### Steps to reproduce the problem

1.  Open the given homepage on iPhone and scroll to see "It just works Hover me to see 4 tooltips!" text
2.  Touch this text and observe nothing

### What is the expected behavior?

I expect that all 4 tooltips will show up

[2018-03-28 23:07] atomiks commented on #592
On iOS, the element needs to be focusable or clickable to trigger any mouse events.

So you'd need to add `tabindex="0"` / or make it a button (which should be done for tabbing/accessibility), or give it `cursor: pointer`. A quick hack is to apply `cursor: pointer` on the body element so that touching anywhere will fire mouse events, which makes it behave like Android.

[2018-03-29 12:45] grzegorztomasiak commented on #592
`tabindex = "0"` did the trick and it Tooltip does show up, however I have a problem to actually close it now. Normally clicking outside of the element, tooltip should dissapear but it does not on iPhone. Any ideas @atomiks ?

[2018-03-29 12:47] FezVrasta commented on #592
Are you using Tooltip.js or Popper.js directly?

[2018-03-29 12:50] grzegorztomasiak commented on #592
@FezVrasta, yes, like this:
[code]

[2018-03-29 14:03] atomiks commented on #592
@grzegorztomasiak as I said you need to add `cursor: pointer` to the body, which allows mouse events to occur anywhere on the page.

[code]

[2018-03-29 16:16] #534 closed

[2018-03-29 16:16] k2snowman69 commented on #534
Thanks, forgot to clean up after, thanks!

[2018-03-29 16:21] grzegorztomasiak commented on #592
@atomiks, I have tested that previously and it does unexpected behavior on the entire app, like blinking the whole body when you touch the screen so i cannot afford have those quirks on all mobile devices including iPhone.

[2018-03-30 00:39] atomiks commented on #592
Have you tried making [`-webkit-tap-highlight-color`](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color) transparent?

[2018-04-03 11:31] #251 closed

[2018-04-03 11:50] FezVrasta commented on #251
1.14.2 includes the fix for this bug

[2018-04-03 11:52] #484 closed

[2018-04-03 11:53] #502 closed

[2018-04-03 11:53] #509 closed

[2018-04-03 11:56] FezVrasta commented on #500
I don't think I'm going to add this sorry, the core is already complex enough.

[2018-04-03 11:56] #500 closed

[2018-04-03 11:56] #264 closed

[2018-04-03 11:57] #533 closed

[2018-04-03 12:02] #546 closed

[2018-04-03 12:02] FezVrasta commented on #551
Fixed

[2018-04-03 12:02] #551 closed

[2018-04-03 12:04] #543 closed

[2018-04-03 12:08] FezVrasta commented on #457
Closing as dupe of #510, I think this is the only plausible solution?

[2018-04-03 12:08] #457 closed

[2018-04-03 12:09] FezVrasta commented on #590
Please may you convert this example using the issue template (no React or anything else except for Popper.js)? This helps to debug the problem.

[2018-04-03 13:08] FezVrasta commented on #572
I'm sorry I'm not understanding what you are trying to do, if you want open a new issue with a super easy to understand explanation, maybe with some example, so that I can understand this better.

[2018-04-03 13:15] whitecolor commented on #572
Sorry I'm just not sure how to explain it better, but it is a really simple case:

- `scrollParent` boundaries context is the clientRect of the element that has `overflow` = `scroll`, `auto`, `width` = `clientWidth`, `height` = `clientHeight`

- `scrollContent` (which I propose) boundaries context is an the inner content of `scrollParent` so it sizes is defined by `width` = `scrollWidth`, `height`

[2018-04-03 13:48] whitecolor opened #598 "Multiple oveflow/flip contexts (in order)"
It would be useful for some more flexible layout scenarios:
[code]

So first it will try to fit into `scrollParent` if it doesn't fit correctly, then try `viewport`. What do you think?

[2018-04-03 13:54] FezVrasta commented on #598
Ouch that's going to be complex I think... If enough people express their interest in this we may add it.

[2018-04-03 14:04] whitecolor commented on #583
Maybe there refers to my recent proposal https://github.com/FezVrasta/popper.js/issues/598

[2018-04-03 14:54] FezVrasta commented on #572
Thanks now it's clear, I'm not sure what's the possible use case honestly. Maybe improve the first message of this issue and see if others find this useful.

[2018-04-04 15:57] nerdkid93 opened #600 "License missing from tooltip.js package.json"
### CodePen demo

n/a

### Steps to reproduce the problem

1.  Open `packages/tooltip/package.json`
2.  Notice there is no license field in the json file

### What is the expected behavior?

Since popper.js is distributed with the MIT license, each of its packages should specify MIT in their `package.json` files.

### What went wrong?

Without the license field in `package.json`, we have to manual

[2018-04-04 15:59] FezVrasta commented on #600
Thanks for the issue, Tooltip.js is released under a very restrictive and secret license, you have to pay $1 bilion for each project that depends on it.

LOL, I'll fix it.

[2018-04-04 16:00] #600 closed

[2018-04-05 14:18] nijk commented on #535
@alecpl You have a typo in the `boundariesElement` key in your last example

[2018-04-05 15:32] sa-eneidhart opened #603 "No positioning with React portals in IE11"
Wasn't sure if I should put this here, or over at [react-popper](https://github.com/souporserious/react-popper/issues), let me know if I should move it there!

### Steps to reproduce the problem

I've been making use of the advice from [this thread](https://github.com/souporserious/react-popper/issues/57) to allow elements to "escape" from a modal with `overflow: scroll`, and it's been working gre

[2018-04-05 15:34] FezVrasta commented on #603
Hi, please file the issue on the react-popper repository and make sure to follow the issue template. Without a repro nobody can help you.

[2018-04-05 15:34] #603 closed

[2018-04-06 18:20] whitecolor opened #604 "Do not flip if flipped doesn't fit"
I found this useful that if flipped position overflowed too to return it back to original.

Say we have the following options:

[code]

Say we have a situation,
1) that popper placed at the `bottom` overflows `scrollParent` but not `window`,
2) `flip` modifier will change  placement to the `top` (because bottom is overflowed). But say, after this popper placed at the `top` **will overflow the scro

[2018-04-06 20:15] beowulfenator commented on #518
Same problem here. @FezVrasta, can you please be more specific about there to define the offset? Thanks!

[2018-04-07 15:44] thanass opened #605 "Popper is not in the correct position and text overflow the window."
Hi,
I want to create a very simple tooltip, without arrows, on hover of an element.
The popper I will create it dynamically with Jquery and I will apppend it the element that I want to add the tooltip. In my example I created a button and on hover I show and hide the tooltip. (I choose to make it with popper.js instead of tooltip.js and maybe I am wrong with that choice.

My problems:

1.  In that

[2018-04-07 15:48] FezVrasta commented on #605
You need to manually limit the size of the tooltip to fit in the window. Popper.js doesn't provide this functionality.

[2018-04-07 15:48] #605 closed

[2018-04-07 15:51] FezVrasta commented on #571
Yes I think that should be it.

[2018-04-07 15:53] thanass commented on #605
And what about the wrong position?

[2018-04-07 15:54] FezVrasta commented on #605
If you want it to be positioned on the right you should set `placement` to `right`, you are setting it to `bottom`

[2018-04-07 15:57] thanass commented on #605
I wanted to set bottom but exactly under the button

[2018-04-07 16:08] FezVrasta commented on #605
![image](https://user-images.githubusercontent.com/5382443/38457303-b853feb0-3a8e-11e8-9496-2f4b3b59b247.png)

What's wrong with this?

[2018-04-07 16:12] thanass commented on #605
I mean I want the popper start where the button starts

[2018-04-07 16:12] FezVrasta commented on #605
Try `bottom-start`?

[2018-04-07 16:33] whitecolor commented on #571
Though to work correctly I also needed to add

[code]

[2018-04-09 18:46] bimbiltu commented on #585
Im going to try fixing this in the next couple of days

[2018-04-09 18:48] FezVrasta commented on #585
Thanks @bimbiltu! 🤩

[2018-04-10 12:06] andrewnicols opened #608 "Using reference as source for scrollParent breaks in some circumstances."
Regression from #454 - I'll fill out this template later as it's late here now, but essentially we have a nav-drawer on the left-hand side which can be collapsed.
We place the popper elsewhere in the DOM for other reasons.
Targetting anything in these with the reference rather than the popper leads to the Popper being displayed off the screen.

### CodePen demo

https://codepen.io/pen?template=wGq

[2018-04-10 20:17] beowulfenator opened #609 "Unintuitive popover position when reference element is inline, several words long, and spans two lines"
### CodePen demo

https://codepen.io/anon/pen/VXRYxj

### Steps to reproduce the problem

If a reference element is inline and it starts on one line and is carried over to the next line, the popover is displayed as seen in the codepen.

### What is the expected behavior?

Is it possible to position the popover closer to one of the edges of the reference element?

### What went wrong?

In this case

[2018-04-10 20:43] FezVrasta commented on #609
Sorry I'm from mobile so I can't be very specific. There was an issue a long time ago that asked for specific support for this case but nobody ever worked on it and I closed it proposing to implement it as a 3rd party modifier.

[2018-04-11 07:51] beowulfenator commented on #609
I guess you're right about a custom modifier. Can you please also comment on the issue about the floating navbar (#518)? That one is definitely a common problem. Thanks!

[2018-04-11 08:51] FezVrasta commented on #518
So, the issue I was referring to is #9

[2018-04-11 08:51] FezVrasta commented on #609
So, the issue I was referring to is #9

[2018-04-11 08:54] FezVrasta commented on #518
Sorry I thought Popper.js already supported it but it seems like it doesn't.

Ideally we should have an option for `preventOverflow` and `flip` that allows to set offsets on the 4 sides, it shouldn't be difficult to implement.

As workaround you may have your layout structured like this:

[code]

One below the other, so that you can set `main` as `boundariesElement`.

Sorry for the confusion.

[2018-04-11 08:56] #609 closed

[2018-04-11 14:45] daituzhang opened #610 "node_modules/popper.js/src/utils/debounce.js not found while build on ng-packagr"
Hi team,
Thank you for the awesome library.
I'm using popper.js in an angular app and it was built correct until I try ng-packagr
I was importing popper.js as
`import Popper from 'popper.js';`
and run `ng-packagr`

on
node: v7.75
angular: v5.2.0
popper: 1.14.3

I got error

[code]

There's no `src` folder in `popper.js`, I'm not sure why `ng-packagr` would looking for that folder.
Is there any way

[2018-04-11 14:50] FezVrasta commented on #610
Why are you trying to build Popper.js from source?

Anyway, if you want to build it from source, you must clone the git repository, the npm package doesn't include the source.

[2018-04-11 14:50] #610 closed

[2018-04-11 15:07] daituzhang commented on #610
@FezVrasta Is there a way that I still use npm package, and specify the source myself?

[2018-04-11 15:08] daituzhang commented on #610
@FezVrasta Also how can I avoid building popper.js from source?

[2018-04-11 15:09] FezVrasta commented on #610
I don't know how ng-packagr works, I never used it.

You shouldn't need to compile Popper.js from source, I don't know why your build pipeline is trying to do that. Sorry.

[2018-04-11 15:13] daituzhang commented on #610
Thank you @FezVrasta I will find out how to avoid that.

[2018-04-11 16:23] FezVrasta opened #611 "Better default for `preventOverflow`"
Bootstrap issue: https://github.com/twbs/bootstrap/issues/25428

Basically, we want to have a better way to detect the "scrollParent" so that we don't include elements with `overflow !== initial` that will not actually cut out `position: absolute` elements.

[2018-04-11 22:29] BrianBu01 opened #613 "For preventOverflow.padding can you overload to accept an array or string"
When having a sticky footer, the viewport of my ui is padded at the bottom.  The prevent overflow doesn't have an easy way to apply the padding on just the bottom to apply an artificial boundary.  I need a 100px boundary just to be applied to the bottom.  If the padding could also accept an array or a string such as css '0 0 100px 0' this would help greatly.

### What is the expected behavior?

ne

[2018-04-11 22:55] andrewnicols commented on #608
Sorry - not forgotten about, just haven't had a chance write a codepen yet (impending deadline)

[2018-04-12 02:30] bimbiltu opened #614 "preventOverflow with default boundariesElement does not work properly in IE10"
### CodePen demo

https://codepen.io/anon/pen/QmPKWp

### Steps to reproduce the problem

1.  Scroll the sample

### What is the expected behavior?

The popper should stay next to the reference (as its still within the boundariesElement) and no longer be visible

### What went wrong?

In IE10 the popper will reposition so that it stays visible. In other browsers the popper will stay next to the re

[2018-04-12 08:02] FezVrasta commented on #613
Dupe of #518

[2018-04-12 08:02] #613 closed

[2018-04-12 13:31] bimbiltu commented on #508
Hey @FezVrasta im writing a library that uses popper but I cannot assume that the environment my code runs in will support Promises. How do you feel about `scheduleUpdate` supporting both callbacks and Promises, similar to Vue's [$nextTick](https://vuejs.org/v2/api/#vm-nextTick). The code could look like:

[code]

Id be happy to submit a PR with this code and tests to along with it

[2018-04-12 15:18] BrianBu01 commented on #518
A real simple way to fix this is to change lines 72-75 in getBoundaries.js lines to:

  boundaries.left += padding.left || padding;
  boundaries.top += padding.top || padding;
  boundaries.right -= padding.right || padding;
  boundaries.bottom -= padding.bottom || padding;

I can push the changes to a branch, if you want to give me limited permissions.

[2018-04-12 15:31] FezVrasta commented on #518
@BrianBu01 feel free to fork this repo, do you changes and send a pull request. Thanks! 🤩

[2018-04-12 18:53] beowulfenator commented on #518
@BrianBu01 This didn't help in my case. Am I doing something wrong? How does this update work?

[2018-04-12 20:36] BrianBu01 commented on #518
For me after the change my code using Popper would be:

var popper = new Popper(
            target,
            target.siblings()[0], {
              modifiers: {
                preventOverflow: {
                  enabled: true,
                  boundariesElement: spacing,
                  padding: {
                    bottom: 75
                  }
                },
              }

[2018-04-13 11:34] beowulfenator commented on #518
Thank you! This solves my problem. For the default 50px tall bootstrap navbar the code looks like this:

[code]

Can't wait to see your PR pulled in!

[2018-04-13 16:12] BrianBu01 commented on #518
@beowulfenator I made additional changes to that method which are pending.

[2018-04-14 10:58] leevigraham commented on #512
Similar issue (another example):

[code]

![image](https://user-images.githubusercontent.com/25124/38767516-6f88042c-4026-11e8-84f3-43c95bbb3deb.png)

[2018-04-14 12:55] leevigraham commented on #512
@arechsteiner setting the boundariesElement to viewport will make sure the whole popper is shown

[code]

[2018-04-14 14:39] Justineo commented on #512
It's not the desired behavior. This will shift the popper element to the left but we want its right border to align with the right border of the reference element (flip instead of shift).

[2018-04-14 21:53] leevigraham commented on #512
@Justineo Yep I understand it's not the desirable behaviour but @arechsteiner it will atleast show all the content.

[2018-04-15 12:56] #585 closed

[2018-04-17 10:44] FezVrasta opened #617 "Popper.js v2"
If anyone wants to contribute to the Popper.js v2 rewrite please do so sending PRs against the [`next`](https://github.com/FezVrasta/popper.js/tree/next) branch.

It's a completely new codebase, I think the current codebase is too messy to continue to work on it, it started as a little proof of concept and ended up being a full fledged library, I think it deserves a complete rewrite.

The idea is

[2018-04-19 05:51] NilsEnevoldsen opened #618 "Body with margin and relative position causes offset placement of popper"
### CodePen demo

https://codepen.io/anon/pen/gzbaba

### What is the expected behavior?

Popper is adjacent to target.

### What went wrong?

Popper is offset from target.

### Any other comments?

Originally reported as https://github.com/atomiks/tippyjs/issues/231#issuecomment-382605125.

[2018-04-19 09:36] lukebatchelor commented on #617
Commenting here to follow progress.

Exciting stuff!

[2018-04-19 09:48] QJan84 opened #619 "Again: Uncaught SyntaxError: Unexpected token export"
No matter which file I take, it does not work. I always get the error message.
I downloaded version 1.14.3 via yarn.

All tried but it does not work:
`      "./node_modules/popper.js/dist/esm/popper.min.js",`
`      "./node_modules/popper.js/dist/umd/popper.min.js",`
`      "./node_modules/popper.js/dist/popper.min.js",`

This causes the error:
`export default Le;`

Can the error be with my gulp t

[2018-04-19 10:18] FezVrasta commented on #619
`export default Le;` is not part of Popper.js, it must be some of your code.

[2018-04-19 10:18] #619 closed

[2018-04-19 10:27] QJan84 commented on #619
Hm, that's not right. Look here: https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.min.js

[2018-04-19 10:31] FezVrasta commented on #619
Oh ok that's the minified ES build, you should use it only if your build tool supports ES modules. Otherwise you should use UMD.

[2018-04-19 10:47] QJan84 commented on #619
Thank you! It work's now. My build tool was wrong.

[2018-04-19 11:05] inomdzhon commented on #617
Do we really need set `undefined` for property in [getElementClientRect.js](https://github.com/FezVrasta/popper.js/blob/2ac44d0d640f1732071c200ca8f3322e7fbedff7/src/dom-utils/getElementClientRect.js#L6) when no element?

Why we can't return `0` or make `element` required, that is can't be `null`.

And we need set return types there. `getBoundingClientRect` return `ClientRect | DOMRect`.

[2018-04-19 11:07] FezVrasta commented on #617
I don't think it's useful to return `0` in case the browser can't return the correct values. Better make it clear something is wrong and return `undefined` no?

[2018-04-19 11:12] inomdzhon commented on #617
I think if we expected `number`, we need get `number`, but not `undefined` or something else. It's make function more clear.

[2018-04-19 11:14] FezVrasta commented on #617
It's common practice to return a null value if it's not possible to return the expected type 🤷‍♂️

Better than letting think the user that everything is fine and it actually isn't.

[2018-04-19 22:10] minchopm opened #620 "index.d.ts is missing when install tooltip.js"
npm install tooltip.js --save

it is not including d.ts file

[2018-04-20 06:04] atomiks opened #621 "Popper placed on wrong side when reference is inside positioned parent"
Reported here: https://github.com/atomiks/tippyjs/issues/228

### CodePen demo

https://codepen.io/anon/pen/aGOvmj

### What is the expected behavior?

Popper is on the left

### What went wrong?

Popper appears on the right

is fixed with

[code]

### Any other comments?

`position: absolute/fixed` creates a different positioning context I guess so it thinks it's near the edge of the document/vie

[2018-04-20 17:03] HarlemSquirrel commented on #426
@tillkruss
It's been a while but I was finally able to fix this issue myself by excluding source maps for Popper.js.

https://stackoverflow.com/a/49946403/3446655

I wanted to share this for anyone else who might land here looking for a solution.

[2018-04-21 19:26] shepmaster commented on #510
I want to add that [@YoranBrondsema's suggestions](https://github.com/FezVrasta/popper.js/issues/457#issuecomment-367692177) worked like a charm for us! Both solutions (placing the poppers earlier in the DOM or using CSS to place it at the top) work to prevent the momentary flash of the scrollbar and the corresponding small jumps of the popper.

[2018-04-21 19:31] kjdion84 commented on #510
Adding `top: 0` to the CSS class fixed this for me.

[2018-04-23 12:01] inomdzhon commented on #617
Hm, yes, I agree. But I would say that depends on the situation.

Anyway, I will try to help with PR.

[2018-04-23 23:25] kehollin commented on #429
Happening to me as well, installed in an ASP.Net app using VS2015 and Nuget, disabled typescript compilation as well.

[2018-04-25 01:49] lhmacfarland commented on #430
I'm using Visual Studio 2015 and tried using NuGet to update all from the MVC template with no authentication. We are .Net 4.0 (not 4.5) so that means some updates need to wait. The latest bootstrap required poppers which gave me Build:Cannot find name 'Record' and  Build:Cannot find name 'undefined'. I tried the latest bootstrap 4.1.0 and 4.0.  So if those things do exist, NuGet isn't getting all

[2018-04-25 07:04] hally9k commented on #276
Agreed, this doesn't work inside `<th>`. Reopen!

[2018-04-25 20:13] loftyduck commented on #618
I found a potential workaround to add another relatively positioned element container; see https://codepen.io/lofty/pen/OZXdmW

[2018-04-27 13:45] dannychase2004 commented on #429
I just got it working, seems the real problem is things that are lauded to make things easier, but actually cause a ton of other development and developers staring at error messages all day because they're all disparate opensource projects with complex dependencies.  Anyway, Rant over! To get this working I just imported the UMD script in index.html old-school, along with bootstrap, jquery, and te

[2018-04-27 16:33] FezVrasta commented on #621
You have a `overflow-x: auto` which creates a new `scrollParent` for Popper.js.

This seems a dupe of https://github.com/FezVrasta/popper.js/issues/611

[2018-04-27 16:33] #621 closed

[2018-04-27 20:32] NilsEnevoldsen commented on #618
Thanks for the workaround. I've tried to adapt it to my use case (briefly: reusing one popper for many targets), but I can't quite get there. Everywhere I move it breaks positioning in a different way!

[2018-04-29 02:14] mhluska opened #624 "Scroll lag due to `updateBound` on `scroll` event"
### CodePen demo

none

### Steps to reproduce the problem

1.  Open popper with 100 items and `overflow-y: scroll` on the contents.
2.  Scroll, notice scroll lag

### What is the expected behavior?

Scroll should not lag

### What went wrong?

Scroll event fires updateBound which seems costly and pointless if the size of the popper doesn't change.

### Any other comments?

The scroll callback is

[2018-04-29 19:47] FezVrasta commented on #624
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-04-29 19:47] #624 closed

[2018-04-29 19:49] mhluska commented on #624
@FezVrasta which part of the issues template did I not follow? Do you require a CodePen for every issue?

[2018-04-29 20:42] FezVrasta commented on #624
Yes I need a codepen to see the problem. Thanks

[2018-04-29 23:08] mhluska commented on #624
So then why didn't you close [this bug](https://github.com/FezVrasta/popper.js/issues/604)? Or [this one](https://github.com/FezVrasta/popper.js/issues/535)?

[2018-04-30 14:59] FezVrasta commented on #617
![image](https://user-images.githubusercontent.com/5382443/39434065-ce6734f4-4c97-11e8-8996-977695b652f1.png)

Positioned by PopperJS 2! (gonna change the name to remove that dot lol)

[2018-04-30 16:29] FezVrasta commented on #617
Just to share a bit of updates on the status of the `next` branch:

Right now there aren't any modifiers included, if you open the `basic.html` example you can see I created a super simple `applyStyle` modifier to showcase the current status (the screenshot above).

We need to add support for all the logic that handles the possible different contexts a popper may live in (scrolling parent, overflo

[2018-05-01 16:46] BrianBu01 commented on #518
Here is a codepen just in case someone needs it.

https://codepen.io/anon/pen/RypXpV

[2018-05-02 14:55] FezVrasta commented on #617
Daily update, support for nested scroll parents:
![nested-scroll](https://user-images.githubusercontent.com/5382443/39530594-9c8b830c-4e29-11e8-8dbe-85f3a700cb6b.gif)

[2018-05-04 13:43] Krasnov8953 opened #625 ".tooltip doesn`t change opacity on hover"
Can`t make plugin work because on hover .tooltip is still opacity: 0

I use webpack

**yarn.lock**
`tooltip.js@^1.2.0:
  version "1.2.0"
  resolved "https://registry.yarnpkg.com/tooltip.js/-/tooltip.js-1.2.0.tgz#8b16482f04397f4f9d7387843dccf186890c8860"
  dependencies:
    popper.js "^1.0.2"`

**tooltip.js**
[code]

[2018-05-04 13:43] FezVrasta commented on #625
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-05-04 13:43] #625 closed

[2018-05-04 14:12] Krasnov8953 opened #626 "opacity don`t changes on hover"
### CodePen demo

https://codepen.io/krasnov8953-the-vuer/pen/wjqxyw

### Steps to reproduce the problem

1.  Try to show tooltip with option { trigger: hover }

### What is the expected behavior?

If in options { trigger: hover } css-class **.tooltip** have to { opacity: 1 } on mouseenter

### What went wrong?

On hover .tooltip still have { opacity: 0 }

### Any other comments?

I have to set ma

[2018-05-04 14:54] FezVrasta commented on #626
https://codepen.io/FezVrasta/pen/JvymEG

[2018-05-04 14:54] #626 closed

[2018-05-07 23:38] rpokrovskij opened #627 "IE11 provoke popper's 'update' on control got focus, different to Chrome and Edge"
https://codepen.io/rpokrovskij/pen/XqzaWg?editors=1111

Press "Click me"
Result is "menu stay at place" on Chrome and Edge when on IE 11 "menu position is changed".

Expected result: consistent behavior (I prefer "no update position" in all browsers)

[2018-05-09 19:56] BrianBu01 commented on #604
I think the proper title for this bug should have been, "when you flip, I flip, we flip"

[2018-05-10 10:12] whitecolor commented on #604
Or better:

"Fit what you flip before your flipped does not fit."

[2018-05-10 10:34] atomiks commented on #604
Isn't this #550?

[2018-05-10 11:18] FezVrasta commented on #604
Yes right! Closing as dupe

[2018-05-10 11:18] #604 closed

[2018-05-12 21:11] MidnightPolaris opened #628 "Misplacement when popper element is in a positioned element"
### CodePen demo

https://codepen.io/anon/pen/odyjKX

### Steps to reproduce the problem

1. Use a popper element inside a positioned container
2. The container must be different from the common offset parent (`<html>` in CodePen demo) of reference and popper
3. Set `positionFixed` to `false` (which is the default)

### What is the expected behavior?

Popper placed under reference

### What went w

[2018-05-13 19:00] strarsis opened #629 "[tooltip.js] Get tooltip element"
How can I get the tooltip element that is shown by tooltip.js (popper.js)?
Apparently there is no public API method for this, but
also the internal ones cannot be used from the outside.
I want the popup to close when the user hovers over it instead
staying open, hence I need the element for a adding handlers.

[2018-05-13 19:10] FezVrasta commented on #629
There's no support for it. You can access the internal Popper.js instance (`._popperInstance`) and read the popper element from it.

[2018-05-13 19:10] #629 closed

[2018-05-13 19:16] strarsis commented on #629
@FezVrasta: Thanks!
[code]
I get `undefined`. Is this version dependent?

[2018-05-13 19:18] FezVrasta commented on #629
Sorry, it's `popperInstance`, my bad

[2018-05-13 19:26] strarsis commented on #629
@FezVrasta: I should have created a minimal codepen for illustrating the issue.
`popperInstance` is `undefined` but I could well access it incorrectly.
Pen: https://codepen.io/strarsis/pen/erKMgy

[2018-05-13 19:28] FezVrasta commented on #629
You need to call `Tooltip#show` at least once before the instance gets generated.
https://codepen.io/strarsis/pen/erKMgy?editors=1111

[2018-05-13 19:32] strarsis commented on #629
@FezVrasta: Thanks! When the tooltip is hovered, it should hide. Would attaching some hover/touch/click event handlers to the tooltip element for calling `hide()` a good approach or can this be solved even better?

[2018-05-13 19:36] FezVrasta commented on #629
This should work.
https://codepen.io/FezVrasta/pen/aGKYER

[2018-05-13 20:14] goyney commented on #277
If this was closed, what was the outcome? It is not clear from this thread and I'm seeing the issue in latest.

Base element: (x positioning of 183.625)
![screen shot 2018-05-13 at 4 13 11 pm](https://user-images.githubusercontent.com/1015040/39971417-8f790c1e-56c8-11e8-8a82-25884cf5cc6f.png)

Popped element: (x positioning of 183)
![screen shot 2018-05-13 at 4 12 48 pm](https://user-images.github

[2018-05-14 17:57] jamesarosen opened #630 "Popper misaligned if reference initially hidden"
### CodePen demo

https://codepen.io/jamesarosen/pen/pVZPMy

### Steps to reproduce the problem

 1. hide the reference element using `[hidden]` and/or `display: none`
 2. create a `new Popper` using the hidden reference element
 3. show the reference element

### What is the expected behavior?

Popper is aligned to reference element on show

### What went wrong?

Popper is aligned to top-left of

[2018-05-14 18:06] jamesarosen commented on #630
I was hoping some sort of mutation observer might help, but I can't think of a way to observe changes to the reference element and all its ancestors without observing all changes to the whole DOM, which would probably be too expensive for a library like this.

[2018-05-14 23:17] jamesarosen commented on #630
I'm going to solve this in my own tooltip wrapper component by calling `scheduleUpdate` whenever the user interacts with the reference element causing the tooltip to appear. I'll close this issue. I do wish there were a not-prohibitively-expensive way for Popper to observe the reference element's computed style. Alas…

[2018-05-14 23:17] #630 closed

[2018-05-15 18:28] Narretz commented on #9
Hi @FezVrasta could you give me a hint on how this modifier would work? Which modifier would it replace in calculating the position? And could it be implemented so that it works together with the built-in modifiers like shift, preventOverflow etc?

Personally, I think this is a very useful feature, but I assume the complexity would add quite a bit to the core. I think it makes sense as a custom mo

[2018-05-17 19:43] yairEO opened #632 "lightweight version (question/suggestion)"
Hey, great lib, really like it. been using Tether.js for many years and glad to get rid of it since the source code was really really bad.

I need to use popper for an extremely simple positioning system for dropdown list which serves as an auto-complete dropdown in my [Tagify repo](https://yaireo.github.io/tagify/) .

Problem is, `popper.js` is way _way too heavy_ for my humble needs. is there a

[2018-05-23 13:01] mikila85 opened #634 "WTF"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.
2.
3.

### What is the expected behavior?

### What went wrong?

### Any other comments?

[2018-05-23 13:01] #634 closed

[2018-05-23 17:30] thielium commented on #498
Relevant issue: https://github.com/FezVrasta/popper.js/issues/550#issuecomment-374589903

The workaround in the comment actually did the trick in my case (similar, but not exactly the same).

[2018-05-23 17:43] FezVrasta commented on #498
Oh right, going to close this and track the issue in #550

[2018-05-23 17:43] #498 closed

[2018-05-28 11:27] fuzzy76 opened #635 "Alignment on web page is off"
For a library that claims to do positioning, the top right Github popper looks off and does not give confidence in the software. :)

![skjermbilde 2018-05-28 kl 13 24 34](https://user-images.githubusercontent.com/218995/40612439-c7cf88d2-627a-11e8-9a6e-19a039a07bb2.png)

[2018-05-28 20:31] caseyjhol opened #636 "In IE11, when the popper is near the viewport boundary, extra spacing is added to the page creating a scrollbar"
https://codepen.io/caseyjhol/pen/BVBOVL

![popper_scroll](https://user-images.githubusercontent.com/2874325/40628674-9e4deffe-6283-11e8-916f-580d0cc403d1.gif)

### Steps to reproduce the problem

1.  Click the ref element

### What is the expected behavior?

The green `pop` element appears above the ref element and the rest of the page remains as is with no scrollbar.

### What went wrong?

Extra

[2018-05-29 17:40] FezVrasta commented on #636
This is not a Popper.js problem, you should apply an initial position to your popper element so that it doesn't cause any overflow (usually top 0 and left 0), we can't do that in Popper.js because it would already be too late.

[2018-05-29 19:40] caseyjhol commented on #636
The problem is occurring *because* Popper is applying the style `top: 0, left: 0` to the element. If Popper could detect the element is near the bottom edge of the viewport and set `bottom: 0, left: 0` instead, the issue could be avoided.

[2018-05-29 23:19] caseyjhol commented on #636
@FezVrasta I found a way to fix this with a minimal addition of code (just a few lines). Would you be open to a PR?

[2018-05-30 12:19] FezVrasta commented on #636
Yes I'd be curious to see your proposed solution, but absolutely it's not a bug, maybe a not super clear behavior. Popper elements are supposed to be positioned (initially, by your CSS) in a way that doesn't cause overflows.

[2018-05-30 13:26] caseyjhol commented on #636
The problem occurs because of the `top: 0, left: 0` styling that is applied by Popper prior to being positioned correctly via the transform property. So, even if the Popper is positioned manually beforehand, it's irrelevant, because Popper changes the positioning.

[2018-05-31 10:33] Prideth commented on #575
I have a similar problem with xhtml. It does not support html in for example title attribute. Is there a way to display a tooltip with custom html and not using it with the title attribute?

[2018-06-01 07:05] eliseumds commented on #276
I have the same issue. Small tooltips are correctly-positioned, but once they are a bit tall, they get mispositioned. The target is inside a TD.

### Small tooltip (correct)

![screen shot 2018-06-01 at 17 02 20](https://user-images.githubusercontent.com/640840/40826426-e7411244-65bd-11e8-95db-d4b44dcf535b.png)

### Big tooltip (incorrect)

![screen shot 2018-06-01 at 17 02 52](https://user-images

[2018-06-05 18:06] simbunch commented on #276
Workaround that works for now:

    <div class="table-responsive" style="margin:-200px 0;">
        <table class="table" style="padding:-200px 0;">

        </table>
    </div>

Works if container is outside of `.table-responsive`

[2018-06-06 18:41] ralphpig commented on #624
Hey I'm having the same problem and would like to expand on this issue.

I'm using [vue-tooltip-directive](https://github.com/hekigan/vue-directive-tooltip), which is just a directive wrapper for Poppers.js.

Here is a [Codepen](https://codepen.io/ralphpig/pen/zaKOEq) showing this issue.

The lag seems to be coming from a scroll listener on the parent for each child.

[2018-06-07 18:14] ralphpig commented on #624
Was able to fix this with: `eventsEnabled: false`, which disabled scroll listeners.

Not sure of other consequences, however, for a large list of scrollable Tooltips this works.

[2018-06-08 15:34] enekesabel opened #637 "Offset modifier function gets alternating flipped, placement and offset values when popper is flipped"
### CodePen demo

https://codepen.io/enekesabel/pen/LrbgWp

### Steps to reproduce the problem

1.  Open the dev console to check logs
2.  Scroll up to make the popper flip
3.  Keep scrolling up to log more data

### What is the expected behavior?

The popper's placement is bottom, so when the itis on the top (flipped) I'd expect the following values to be logged constantly:

- flipped: true
- pla

[2018-06-09 00:29] somewhatabstract opened #638 "Have different boundary elements for hide versus positioning"
This is not a bug, but a feature request.

Currently, there is a single element responsible for specifying boundaries that constrain the popper for the `preventOverflow` and `hide` modifiers. However, this is awkward for using popper in a modal where we would like the popper to appear above the modal boundaries (as if constrained by the viewport or window), but it's visibility be constrained by wh

[2018-06-12 16:00] Fohlen opened #639 "Relative links instead of peerDependencies are extremely annoying"
Hey there `popper.js` team. The `npm` build of `popper.js` contains a symbolic link to (nonexistent) `jquery` as well as `bootstrap`. This is extremely annoying, since it may cause some tools (in particular Django's `collectstatic`) to fail, when hard-copying the files. In some cases it is undesirable to symlink the packages (e.g you want to have an isolated static files container), and in that ca

[2018-06-12 18:07] #639 closed

[2018-06-12 19:43] giladgray opened #640 "set arrow `position` CSS property"
## Refiled from https://github.com/FezVrasta/react-popper/issues/165

### CodePen demo

https://codesandbox.io/s/nrypzn1yyp

### Steps to reproduce the problem

1. Go to the codesandbox link
1. See that the popper is not align correctly (note the alignment)
1. Remove the arrow element
1. See that the popper now aligns correctly

### What is the expected behavior?

For the popper to align properly

[2018-06-21 04:32] rwwagner90 opened #642 "Cannot center a popper on the screen"
### CodePen demo

https://codepen.io/anon/pen/WyzXEB

### Steps to reproduce the problem

1.  Go to the codepen and observe the box is not centered

### What is the expected behavior?

I would expect an offset of `50vh` and `positionFixed: true` to allow me to position a popper in the center of the screen, not attached to any specific element, but just attached to html or body.

### What went wron

[2018-06-21 11:39] juanmaguitar opened #643 "customize innerSelector and arrowSelector in the Tooltip Class"
At https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/src/index.js there's a initialization of the instance properties `arrowSelector` & `innerSelector`

[code]

 but this values cannot be changed. Shouldn't these values be accepted by the constructor to be able to customize them?

Something like...

[code]

[2018-06-21 11:41] FezVrasta commented on #643
Yes you are right, PRs are welcome.

[2018-06-21 14:38] juanmaguitar commented on #643
@FezVrasta, I've noticed that the public documentation has been updated https://popper.js.org/tooltip-documentation.html making reference with these changes but the NPM package hasn't been updated with these changes: https://www.npmjs.com/package/tooltip.js

I don't know how do you have this organized or scheduled but I think there will this "inconsistency" until the NPM is released with the lates

[2018-06-25 05:59] balajiram opened #645 "Shouldn't close popper when focusing on popper content"
I have looked for the feature to mimic the following behavior, Popper shouldn't close when focusing on popper content.
 Use case:  when the popper content has the link `<a>`. it should not be closed when its hover on itself. so the user can click the link to navigate

[2018-06-26 09:56] apisselhoy opened #646 "Internet Explorer: Wrong offsetParent with containers styled as tables using CSS"
Hi,

with Internet Explorer 11 I ran into a problem of a wrong positioning due to wrong calculated reference positions.
I found the cause for this in the special handling of TD and TABLE-tags in getOffsetParent - the special handling wont' work on other HTML-tags styled as table-cells or tables using css.

`function getOffsetParent(element) {
...
  // .offsetParent will return the closest TD or TA

[2018-06-26 09:59] FezVrasta commented on #646
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-06-26 09:59] #646 closed

[2018-07-01 00:48] clarcharr commented on #643
So, just want to clarify that I ran into this issue: is there a plan to release a new version of tooltip.js to NPM to include these changes? It kind of sucks that the web documentation doesn't match what's published.

[2018-07-02 14:07] NicolasPerego commented on #516
Any idea when this bug will be solved ? It can be really problematic for responsive web apps :/

[2018-07-02 15:48] ylebhan commented on #575
I have exactly the same problem with the Bootstrap dropdowns. At least, it should be mentioned in the BS documentation.
in XHTML, Bootstrap dropdowns work fine within a navbar, but not outside. This is quite confusing. After further readings, I found out in the BS documentation that popper.js in not used In the first case.

[2018-07-03 00:15] atomiks commented on #575
Why are you guys using XHTML?

[2018-07-03 00:50] ylebhan commented on #575
For me, it is just a very convenient way to ensure that my code follows strict structural and syntactic rules. And it doesn't require any additional effort.

[2018-07-03 07:49] Artefact2 commented on #575
@atomiks And why are you using HTML? Please let's not start a flame war. It boils down to personal preference, mainly due to the toolchain being different for both.

[2018-07-03 17:13] khalidadil opened #648 "Tooltips do not position correctly if the wrapper has an overflow: auto"
I am running into a situation where an element inside a wrapper with an `overflow: auto` does not position the popper correctly.

### CodePen demo

https://codepen.io/khalidadil/pen/OEGRJG

### Steps to reproduce the problem

1. Create a div and wrap it in another div with the CSS `overflow: auto`.
2. Create a popper and position the popper on top of the nested div.

### What is the expected behav

[2018-07-03 17:16] FezVrasta commented on #648
It's the correct behavior, the `preventOverflow` modifier uses by default, as boundaryElement, the `scrollParent`, you can change it to `viewport` or `window` or anything else supported.

[2018-07-03 17:16] #648 closed

[2018-07-03 17:29] khalidadil commented on #648
I can't seem to get this to work with either the `escapeWithReference` or `boundariesElement` options. Is there something I'm doing incorrectly?

https://codepen.io/khalidadil/pen/OEGRJG

[2018-07-03 18:48] FezVrasta commented on #648
https://codepen.io/FezVrasta/pen/bKJgwx

[2018-07-03 19:21] khalidadil commented on #648
Thank you!

[2018-07-06 15:13] juanmaguitar opened #649 "Set same distance from border for the arrow keeping tooltip centered"
As you can see in this demo
![demo](https://media.giphy.com/media/39lYYmxrCq31vK9PzD/giphy.gif)

if I set a placement of "top-start" the arrow is placed at different distances from the left border

Is there any way I can force (ideally through `modifiers` ) the tooltip to have a fixed distance of, let's say, 8px (no matter the width of the referenced text) from the sides while keeping the `arrow`

[2018-07-06 15:15] FezVrasta commented on #649
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-07-06 15:15] #649 closed

[2018-07-11 14:56] kaphert commented on #643
+1 , same issue here.

[2018-07-12 08:20] bennymeier commented on #642
I need help too. Im using my own way to position elements in the window but I'd safe a lot of time if I can do this with popper.

[2018-07-12 11:02] rwwagner90 commented on #642
We ended up using `computeStyle` for this and manually setting the styles.

[code]

[2018-07-12 11:02] #642 closed

[2018-07-16 04:23] FezVrasta commented on #611
For anyone that wants to try to implement this, basically there are cases when an element with `overflow` value different from `initial` (e.g. `hidden` or `scroll`) will not prevent its `position: absolute` children elements from overflowing it.

We should first find out when this happens, and then change the `scrollParent` detection algorithm to take in consideration these new finds so that we pi

[2018-07-16 08:18] andy265 commented on #643
Its an actual issue, because if i have two or more tooltips (trigger: "manual") and i need to update title of one by updateTitleContent, then first of set tooltip will be updated. Because I just cannt use custom selectors.

[2018-07-16 10:38] aortmannm opened #651 "Tooltip is moving when there is not enough space"
Hi,

I have the case that my popper is positioned on the top of my element and the tooltip is much bigger than the reference element. The behaviour when there is not enough space on the right the tooltip is staying on top but shifting to the left.

I want that the tooltip is not shifting but it should flip to the left of the element. I can't find a working option for this, any solution here right

[2018-07-16 13:34] FezVrasta commented on #651
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-07-16 13:34] #651 closed

[2018-07-17 08:44] kyleoliveiro commented on #632
Was about to open a similar issue, till I saw this.

Seems like Popper used to be about [half the size it is today (~3.5kb gzip)](https://github.com/twbs/bootstrap/issues/19673).

I am also using Popper just for simple positioning. Would be great if there is a "lite" version available :)

[2018-07-20 17:05] mycarrysun commented on #302
Something I was unaware of (and can't find in the docs) is that the popper needs to be outside any elements with abnormal positioning.

I had padding inside the element that the popper was located in (think sidebar padding) and it was pushing the popper off the screen the same amount as the sidebar width. Moving it to the root (outside the element with the padding for the sidebar) fixed the positi

[2018-07-20 17:07] FezVrasta commented on #302
@mycarrysun this shouldn't be the case, please open an issue if you can manage to reduce the problem to a basic code-pen example

[2018-07-21 20:07] cguldner commented on #643
@FezVrasta This still doesn't seem to be possible, setting the innerSelector has no effect; the class has to be `.tooltip-inner`, otherwise I get

    Uncaught TypeError: Cannot set property 'innerHTML' of null
        at g.value (tooltip1.2.0.js:4)
        at g.value (tooltip1.2.0.js:4)
        at g.value (tooltip1.2.0.js:4)
        at tooltip1.2.0.js:4

Any update on this issue?

[2018-07-21 20:17] FezVrasta commented on #643
I haven't published it yet

[2018-07-22 00:10] diegohaz opened #653 "Position breaks when the reference has an SVG element directly inside"
### CodePen demo

https://codepen.io/anon/pen/djNawe

(remove the SVG element to see the difference)
(if you wrap the SVG in a `div`, it also works)

### Steps to reproduce the problem

1.  Put the popover inside its reference;
2.  Make the reference absolutely positioned and give it some `top` and `left` values;
3.  Put an SVG element inside the reference.

### What is the expected behavior?

Rem

[2018-07-22 14:19] mikila85 commented on #405
@chapterjason,  did you solve this successfully?
how can i make this work? i am getting the same error as you did (TS+NG5)

[2018-07-23 03:22] KytoSai opened #654 "Cannot use tooltip's option placement with function ???"
I use webpack 4 with two package:
"popper.js": "^1.14.3"
"tooltip.js": "^1.2.0"

I have config tooltip with option:

[code]

It work fine. But i try change placement with function

[code]

It have error

[code]
I don't know why. Please help me fix it !

Thank you !

[2018-07-23 06:10] KytoSai commented on #654
Document ???

http://prntscr.com/k9r7ke

[2018-07-23 12:09] mikila85 commented on #300
more than a year has passed and a simple click event can't be added.. amazing guys!!

[2018-07-23 12:11] pribilinskiy commented on #300
abandoned?

[2018-07-23 17:29] FezVrasta commented on #300
I mean, any of you could read the issue, understand the requirements for such feature to exists, and send a PR to implement it. The issue is open rather than closed for this very reason.

[2018-07-23 17:30] FezVrasta commented on #654
The documentation is wrong, I'm sorry. We need to update it.

[2018-07-23 17:38] KytoSai commented on #654
Thank you ! I like popper.js plugin

[2018-07-24 14:15] jptissot commented on #478
I was having the same issue with enzyme `mount()` and mocking did not work. However,  adding this to my setupTests.js file made everything work.

[code]

[2018-07-25 02:06] hualu00 commented on #167
@FezVrasta , I don't think 'clockwise' work as expected either, here is an example,
https://codepen.io/anon/pen/xJrEry

[2018-07-25 16:31] anilsharmamca commented on #430
latest version of bootstrap depends on popper.js, downgrading bootstrap if not using its features, this will remove popper and fix issue. Microsoft says cause for this issue is not using latest version of typescript. Upgrading TS also did not resolve for VS2015.

[2018-07-28 07:40] piglovesyou commented on #653
No, `getOffsetParent` itself has a functionality to skip and try the `nextElementSibling`. I'll try this.

[2018-07-28 11:20] piglovesyou commented on #300
So

* Twitter Bootstrap doesn't support the behavior (needs to setup a listener manually)
* Still everyone wants this in a configurable way

, yes? Then how about this:

[code]
<img src="https://user-images.githubusercontent.com/217530/43355951-b5fda736-92a1-11e8-85ea-54e32ae668dc.gif" width="300" height="120" /> _Not a quality gif_ ;(

In my opinion, I'm not really sure if tooltip.js should have

[2018-07-28 14:48] piglovesyou commented on #654
@FezVrasta So all the `PlacementFunction` in the source code are supposed to be deleted? I'll take care of it.

[2018-07-28 15:19] FezVrasta commented on #300
I may think of a way to define a "group" name to a set of tooltips, so that if you click on any of them, the other don't get closed. But if you click on any other tooltip with a different group or without group, the tooltips close.

I think that would give enough flexibility.

[2018-07-28 16:10] piglovesyou commented on #300
Might be true. The spec will go something like:

[code]

Suggestion: How about starting the `closeOnDocClick` option **without** the "group" idea? Not too late after someone actually wants to have it.

[2018-07-28 16:12] FezVrasta commented on #300
Yes sure, I'm not quite sold on the `closeOnDocClick` actually, I think it would be easier to understand if we called it `closeOnClickOutside`

[2018-07-28 16:35] piglovesyou commented on #300
Sure :) Let me give it a try.

[2018-07-28 17:29] piglovesyou commented on #654
It can be fixed.

[2018-07-28 18:46] #654 closed

[2018-08-01 08:09] Znow commented on #405
Getting the same error aswell...

[2018-08-01 16:47] HarryGogonis commented on #405
I got it working in a hacky way by using `any`. Of course, this pretty much removes all typescript benefits.

[code]

[2018-08-02 10:49] chapterjason commented on #405
@FezVrasta it looks like the issue is getting more popular. I didn't rember if I got any solution, but I will try it later and will provide a pr

[2018-08-03 19:22] pfonseca opened #662 "dist folder is missing in version 1.14.4"
### What went wrong?

Maybe you forgot to add the dist folder in version 1.14.4

[2018-08-03 20:57] FezVrasta commented on #662
Where do you see it missing?

On npm is available:
https://unpkg.com/popper.js@1.14.4/dist/

[2018-08-04 01:04] pfonseca commented on #662
You are right. My bad.

[2018-08-04 17:57] MhMadHamster opened #663 "Wrong position in IE11 if child has scroll"
### CodePen demo

The bug appears only in IE11 (havent tested it in 10)
link to the full view cause it does not work with js and css editors
https://codepen.io/MhMadHamster/full/oMyryy/

### Steps to reproduce the problem

1.  Open code pen
2.  click on the red block

### What is the expected behavior?

the block with list should appear centered below the ref block

### What went wrong?
block is n

[2018-08-04 18:06] MhMadHamster commented on #663
Ok, maybe helps someone, i discovered that it could be fixed by rather setting `overflow-y: scroll` or `height` instead of `max-height`, both of the solutions do not suit my case unfortunately :(

[2018-08-04 18:09] FezVrasta commented on #663
I guess it's going to work if you call a `scheduleUpdate` after the element gets visible, it's not nice but at least you can go on with your project.

[2018-08-04 18:25] MhMadHamster commented on #663
It seems like i found a solution via css, you need to apply `display: flex;` & `flex-direction: column;` to the element with scroll: https://codepen.io/MhMadHamster/full/JBZgWe

@FezVrasta I, however, would gladly try to fix this case in lib itself, do you have any thoughts on how to get the original size? i tried different `width` props on an element and it always gives like +20px of the original

[2018-08-04 18:37] FezVrasta commented on #663
I'm not sure, IE has a lot of quirks... I don't even know if it's worth the effort to continue to support it.

For sure I'll not support it on v2 anyway.

[2018-08-04 18:42] MhMadHamster commented on #663
Closing than, it does not seem to be worth fixing since the css solution mentioned above is works well and it's not that "hacky".

[2018-08-04 18:42] #663 closed

[2018-08-06 10:17] htoomik commented on #662
I also have the problem with a missing dist folder in version 1.14.4.
We use bower for our front end dependencies, and popper is a dependency via bootstrap's bower.json file.

[2018-08-06 10:45] FezVrasta commented on #662
@htoomik please let me know if it's working properly now.

[2018-08-08 07:12] dgroh opened #664 "Sticky popper.js in a map with use of coordinates?"
Currently it's not possible to pass coordinates for positioning the tooltip. This can be useful when you have for instance a map (like googlemaps), but want the tooltip to sticky to the current clicked element on the map when moving the map around.

Example: http://jsfiddle.net/goredwards/2cs4puaz/

[2018-08-08 09:17] dgroh commented on #664
@FezVrasta is there any link to doc explaining about this **custom** reference element? The reference element is clear. What do you mean with custom?

[2018-08-08 11:18] FezVrasta commented on #664
https://popper.js.org/popper-documentation.html#referenceObject

[2018-08-08 13:34] dgroh commented on #664
I really appreciate the answer, but unfortunately, this does not work for SVG polylines, or at least we don't know how to do it. The team has been working on this for two full days without success.

I created a codepen: https://codepen.io/anon/pen/qyQWRL

We wish to show the popper in the clicked area of the SVG element and not under it. We tried something like: https://codepen.io/FezVrasta/pen/bW

[2018-08-08 13:38] FezVrasta commented on #664
You just need to define your own coordinates in the custom reference object

https://codepen.io/FezVrasta/pen/gjQYdM

put in there the coordinates of where you want the tooltip to be positioned and it'll work

[2018-08-08 19:40] #662 closed

[2018-08-09 12:00] #590 closed

[2018-08-09 12:00] #608 closed

[2018-08-09 12:40] FezVrasta commented on #590
The OP never replied with the additional resources I required.

[2018-08-09 20:31] mycarrysun commented on #628
I am having the same problem! Thanks for creating the Codepen. I am going to make a PR to try and correct this.

[2018-08-10 08:01] yuchonghua opened #665 "TypeError: Failed to execute'getComputedStyle'on'Window': parameter 1 is parameter"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

### Steps to reproduce the problem

1.  [electron-nuxt-element.zip](https://github.com/ElemeFE/element/issues/12135#issuecomment-408312075)
2.  [element-ui-issues](https://github.com/ElemeFE/element/issues/12135#issuecomment-411964187)
3.  [Installation](https://github.com/ElemeFE/element/issues/12135#issuecomment-408312075)
[code]

### Wha

[2018-08-10 08:07] yeziZ commented on #665
[ddv-multi-window](https://github.com/ddvjs/ddv-multi-window) is a multi-tab application for sub-windows across windows. It can be used. The current problem seems to be in the sub-window, dom is in the sub-window, the event is in the main window, but in the [element-ui](https://github.com/ElemeFE/element) in the main window, the sub-window is found. Dom
Preliminary estimates are issues with the is

[2018-08-10 08:15] HadiChen commented on #665
I mainly use [element-ui](https://github.com/ElemeFE/element) in [electron](https://electronjs.org/), but [element-ui-issues-12135](https://github.com/ElemeFE/element/issues/12135#issuecomment-411964187) decided to use [popper.js](https://github.com/FezVrasta/popper.js/blob/1ddf685b14489a63e389c0b52aaa9fc7484b9316/packages/popper/src/utils/getOuterSizes.js#L8-L17). Currently my application is base

[2018-08-10 09:43] FezVrasta commented on #665
Feel free to send a PR with a fix please.

[2018-08-11 03:39] yuchonghua commented on #665
I will study how to fix it, give me some time, thank you for your support.

[2018-08-11 04:14] yuchonghua commented on #665
Is pr a master branch operation or a next branch operation?
/ping @FezVrasta

[2018-08-11 05:57] FezVrasta commented on #665
Please work on master, next is a different project

[2018-08-11 07:50] #665 closed

[2018-08-13 08:18] mikila85 commented on #300
are we merging?

[2018-08-13 09:27] #300 closed

[2018-08-14 01:10] weilinzung opened #666 "Bower install 1.14.4, no dist folder?"
Bower install v1.14.4, no dist folder?

[2018-08-14 07:26] FezVrasta commented on #666
The dist folder is there 🤷‍♂️

https://github.com/FezVrasta/popper.js/tree/v1.14.4

Something off with Bower?

[2018-08-14 11:59] weilinzung commented on #666
I think it is only cloning the master branch and not from the tag. I will test again and let you know, thanks! @FezVrasta

[2018-08-14 12:03] FezVrasta commented on #666
Bower bases its versions on the Git tags, it always worked fine the way this repository is setup.

[2018-08-15 00:12] weilinzung commented on #666
Never mind, I did `bower cache clean` then everything back to normal, just not sure why it downloaded the one without `dist` at first place. good to close!

[2018-08-15 09:02] #666 closed

[2018-08-15 12:55] stefan505 commented on #620
Any progress on this?

[2018-08-16 06:33] mikila85 opened #667 "interactive tooltip only available from the arrow"
I think this explains it the best:
![tooltip js](https://user-images.githubusercontent.com/3965957/44192191-2e7cbc80-a137-11e8-85a6-25258c8644e3.gif)

User can only interact with the tooltip if he goes through the small arrow which is a UX hazard!
Any way to fix this without hacking the CSS completely and potentially destabilizing the component?

[2018-08-16 08:47] FezVrasta commented on #667
You should make the tooltip an invisible box, and put inside it the "visible" tooltip box with the background color, with some margin.

[2018-08-16 08:47] #667 closed

[2018-08-16 11:54] kadet1090 commented on #405
It's quite a shame that this issue is not fixed, and yet still occurring because of improper type definitions. My fix consist of "own" typings: https://gist.github.com/kadet1090/b11d4dbe794f6016cb826b516e1fd45b

And then i can require it via:
[code]

The first line is actually quite important because it tells typescript to use my typings instead of those provided with package.

[2018-08-17 13:12] thanass opened #669 "Tooltip closes unexpectedly"
### CodePen demo

https://codepen.io/thanassis/pen/oqQEvq

### Steps to reproduce the problem

1.  Pass the mouse pointer from the right corner through the text "Hover me".
2.  You see the tooltip to be appeared. ( I add delay for close 500ms).
3.  Then move the mouse from the text to the tooltip. The problem is that tooltip closes and user can click the link.

### What is the expected behavior?

[2018-08-17 13:41] FezVrasta commented on #669
Thanks for the report, it looks like we don't cancel the scheduled "close" event once the mouse enters again on the tooltip

[2018-08-17 13:43] thanass commented on #669
Thanks for your reply. How can I solve this for a project in production?

[2018-08-17 13:48] FezVrasta commented on #669
Something like this is a possible workaround:
https://codepen.io/anon/pen/xJvLOY?editors=0110

basically, the actual tooltip element is going to be a transparent element, and inside it you position the arrow and the actual element. Doing so the mouse never goes outside the tooltip area while it moves from the button to the tooltip.

[2018-08-17 15:02] thanass commented on #669
I appreciate your work!
This helped me to understand must better this library.
If you also apply a fix for the bug, it will be more stable for the final user.

[2018-08-17 17:57] mirraj2 opened #670 "Popper shows up at the wrong location for a [position:fixed, scrollable] reference element"
### CodePen demo

https://codepen.io/anon/pen/VBoXgX

### Steps to reproduce the problem

1.  Position the ref element so that it is inside of a scrollable, fixed positioned container
2. Set placement to "top"

### What is the expected behavior?

I expect that the popup shows ABOVE the reference element, because I put `{placement: "top"}`

### What went wrong?

Instead, the popup displays right ov

[2018-08-21 00:32] theY4Kman commented on #508
I work on a project utilizing Material-UI's Tooltip. We have a table whose rows can contain 10-20 tooltips each. Once the total number of tooltips goes over ~100, render times become perceptibly slow — coming to a near halt once there are hundreds or thousands. Profiling revealed what appeared to be death by a thousand cuts originating with Popper.js — whenever react-popper's Tooltip got mounted,

[2018-08-21 00:39] atomiks commented on #508
@theY4Kman have you tried deferring the creation of the popper instance until it's needed (when hovered over)?

[2018-08-21 00:51] theY4Kman commented on #508
Yeah, I [tried out the new React context business](https://gist.github.com/theY4Kman/09f24a41bd7a67fe6a777dbf99a68070), which made it really easy to "opt-in" to rendering the tooltips only after first hover. Scrolling through the table was pretty laggy. I suppose it could be debounced and made more manageable — guess I don't know till I try. Tuning around reflows for performance strikes me as ugly

[2018-08-21 00:56] atomiks commented on #508
Maybe you have the event listeners enabled for every single tooltip even when they are hidden, which is performing DOM calcs on each scroll event. They should be enabled only when the tooltip is visible

[2018-08-21 01:14] theY4Kman commented on #508
Oh, I was unclear: I organized it so once a _row_ was hovered over, all its 10-20 tooltips would be positioned. Scrolling itself wasn't inherently slow, but having the mouse over the rows while scrolling through _was_ slow — at least the first time. I'm not sure why I wouldn't try making each tooltip position itself on hover, instead of 10-20 at a time... which leads me to believe either A) I trie

[2018-08-21 15:58] florianlacreuse commented on #276
We still have an issue with popover inside table wrapped in a Bootstrap `table-responsive` container.

* Example KO - table *with* `table-responsive`: https://codepen.io/anon/pen/xabVxp
As you can see, the position of the popover is quite odd / unusual and the popover isn't fully visible.

 * Example OK - table *without* `table-responsive`: https://codepen.io/anon/pen/zJxBBe
Here everything work f

[2018-08-23 09:58] niklaushug opened #673 "Modifier preventOverflow causes overflow if popper is wider than viewport and preventOverflow.padding is not 0"
### CodePen demo

This CodePen shows the bug and a possible workaround.

https://codepen.io/niklaushug/pen/GXJPqE

### Steps to reproduce and fix the problem

1.  Load CodePen. --> Popper flows out of viewport on the right side.
2. Enable CSS "max-width: calc(100vw - 100px);".  --> Popper does not flow anymore out of viewport.

### What is the expected behavior?

If preventOverflow.padding is grea

[2018-08-24 12:55] brianmhunt opened #674 "Document minimum CSS needed to style arrows"
### CodePen demo

### Steps to reproduce the problem

1.  Install Tooltip.js
2.  Look for docs on how to add styled arrows

### What is the expected behavior?

It would help to have some CSS docs linked from either Tooltip.js, or the README, or somewhere, indicating what minimum styling is needed for tooltips with styled arrows.

### What went wrong?

Documentation of this sort does not appear to

[2018-08-25 20:32] theY4Kman commented on #508
Regardless, I'm gonna assume no one is working on async'ing it up. I don't presume anyone wants it, or that it has anyone's support — but I'll presume I'm not duplicating effort :P

[2018-08-25 20:42] FezVrasta commented on #508
Sorry for the delay @theY4Kman the work for the async API is on the v2 branch, since this would be a breaking change and can't be shipped in the current codebase.

[2018-08-26 19:29] cguldner commented on #643
@FezVrasta You published a new release, yet I'm still unable to change anything

[2018-08-27 05:26] FezVrasta commented on #643
Please checkout the 1.3.0

[2018-08-27 19:13] cguldner commented on #643
@FezVrasta The latest version is 1.14.4

[2018-08-27 19:47] silentHoo commented on #643
👍thanks @FezVrasta! @cguldner: Here is 1.3.0 of `tooltip.js`: https://www.npmjs.com/package/tooltip.js

[2018-08-27 20:54] FezVrasta commented on #643
I see references to `options.innerSelector` in the 1.3.0 code:

https://unpkg.com/tooltip.js@1.3.0/dist/umd/tooltip.js

It has been built using the current master branch.

[2018-08-28 11:38] pfecht commented on #643
Thanks for the new release! But it seems like the types are not up to date anymore:
https://github.com/FezVrasta/popper.js/blob/master/packages/tooltip/index.d.ts

[2018-08-28 11:39] FezVrasta commented on #643
Feel free to send a PR to update them.

[2018-08-28 13:16] #653 closed

[2018-08-30 13:15] jmperro commented on #670
Same here

[2018-08-31 06:40] rehfeldchris opened #676 "Tooltip.updateTitleContent() and default options.innerSelector don't work well together"
### CodePen demo

https://codepen.io/anon/pen/WgRoZp?editors=1111

### Steps to reproduce the problem

1.  Notice that all 4 tooltips start out with "default title", as they should
2.  Hover over all 4 li elements
3.  Notice that only 1 tooltip has updated to "updated title"

### What is the expected behavior?

All 4 should have updated.

### What went wrong?

The code you use in your `_updateTitl

[2018-08-31 06:45] FezVrasta commented on #676
Good point, the idea was to allow to have arrow elements outside of the tooltip, but I didn't consider this case.

Please feel free to send a PR to get rid of the `.parentNode` bit.

[2018-09-04 16:53] Nick-lab opened #680 "Popper.js Named index.js"
took me forever to figure out this is the correct file to import into basic webpage

[2018-09-04 17:03] Nick-lab commented on #680
Never mind what JS file is needed to use Popper in a normal vanilla site. no Ionic no Angular just strait HTML

[2018-09-04 17:09] Nick-lab commented on #680
wow CDN but no file in the repo. . .
https://media.giphy.com/media/HiBNkOKRhBJew/giphy.gif

[2018-09-04 20:00] FezVrasta commented on #680
The repository is for the source code, not for the builds. You can checkout the git tags if you want the builds.

[2018-09-04 20:00] #680 closed

[2018-09-05 11:59] akinuri opened #681 "Blurry text"
I'm on Windows 10 and using Chrome 68. The content (text) of the tooltip looks blurry. I think that's because of the `transform: translate3d(498px, 78px, 0px);`.

My screen dimensions are 1920x1080 with %125 scale. This scale results in a zoom in the browser. `devicePixelRatio` is set to `1.25` by default. So browser window dimensions are 1536x728. This scale distorts the css transformations. To g

[2018-09-05 12:00] FezVrasta commented on #681
Thank you for your issue.

Unfortunately I can't answer to all the reported issues without a little help from you.
Please, make sure to follow the **issues template** when you submit a new issue, in this way I will already have all the informations needed to understand the problem and help you with it.

I'm closing this issue for now, but feel free to open a new one making sure to follow all the i

[2018-09-05 12:00] #681 closed

[2018-09-05 12:19] akinuri opened #682 "Blurry content (text)"
### CodePen demo

https://codepen.io/anon/pen/JayXEE

### Steps to reproduce the problem

1.  View demo on Chrome 68 (Windows 10).
2.  Hover the `refEl`.
3.  Observe the blurry tooltip text.
4.  In case the problem doesn't occur, I should further desribe my specs. I'm on a laptop with screen dimensions of 1920x1080 at scale %125.

### What is the expected behavior?

Text should look clear, free of

[2018-09-06 07:19] FezVrasta commented on #682
You can use the `disableGpuAcceleration` to get the same result...

[2018-09-06 11:50] akinuri commented on #682
Hmm. I've just searched for `disableGpuAcceleration` in both [popper.js](https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js) and [tooltip.js](https://unpkg.com/tooltip.js@1.3.0/dist/umd/tooltip.js) and I don't see a prop/switch with that name. What am I missing?

[2018-09-06 16:05] FezVrasta commented on #682
https://popper.js.org/popper-documentation.html#modifiers..computeStyle.gpuAcceleration

[2018-09-07 10:08] Lehakos commented on #512
@FezVrasta any news about this feature?

[2018-09-12 11:18] zedL commented on #405
@kadet1090 thanks a lot! you saved my day.

[2018-09-12 12:06] FezVrasta commented on #682
Closing because it's a browser bug, and there is an option to fix it already, if needed.

[2018-09-12 12:06] #682 closed

[2018-09-12 17:50] TyrionGraphiste commented on #510
One year later and still not fixed.

[2018-09-12 22:18] QuentinMcCarthy opened #684 "Uncaught SyntaxError: Unexpected token export"
### CodePen demo

https://codepen.io/pen?template=wGqJEz

(This issue cannot be reproduced in codepen)

### Steps to reproduce the problem

1.  Create a Vagrant server with Node in a project.
2.  Route popper.js from node_modules through Node
3.  Perform a GET request to Node for popper.js

### What is the expected behavior?

No errors to be produced in the console

### What went wrong?

The error

[2018-09-13 06:34] FezVrasta commented on #684
Popper.js is javascript client side code, it has nothing to do with your Vagrant environment, you are simply using the wrong build dist target. The README explains it very well.

[2018-09-13 06:34] #684 closed

[2018-09-13 09:26] mikila85 commented on #667
**so it's a bug**, and you can't fix it so i need to do CSS or HTML fixes for this?

didnt even understood the visible box inside invisible box which has background add margin to it... what??

[2018-09-13 09:47] FezVrasta commented on #667
if you have time to implement a better fix feel free to send a PR

[2018-09-13 20:41] QuentinMcCarthy commented on #684
I have no clue what the README is referring to. Can you please tell me which one I should be using?

[2018-09-18 22:48] dvp0 opened #685 "No way to stick to position initially decided by the flip modifier"
https://codesandbox.io/s/yj0l1w5yrj

I want popper flip functionality to decide initial placement and than want to turn off the flip automation.  In other words, want it to stick to that initial placement regardless of how I scroll.

Any way to do this easily ?

[2018-09-18 22:49] dvp0 commented on #685
Opened for react-popper : https://github.com/FezVrasta/react-popper/issues/216

[2018-09-18 22:49] #685 closed

[2018-09-18 22:59] rukfas commented on #685
Hhh

Sent from Yahoo Mail on Android

  On Wed, Sep 19, 2018 at 12:49 AM, dev<notifications@github.com> wrote:
Closed #685.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-20 04:12] trusktr opened #686 "Support for ShadowDOM and transforms"
I'm using Tippy, and find it doesn't work with shadow roots or inside transformed elements (two main web techs that I use).

See the codepens in these issues:

- https://github.com/atomiks/tippyjs/issues/299
- https://github.com/atomiks/tippyjs/issues/298

Any ideas if the problem is in Tippy, or in Popper?

[2018-09-20 06:55] trusktr commented on #686
Here's an idea to solve the transformed-container issue. We need to do something along the lines of the following (assuming the element that has the tooltip fixed onto it is itself not transformed):

- Find the [containing block](https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block#Identifying_the_containing_block) of the element on which we're fixing the tooltip to, as if said elemen

[2018-09-21 00:18] alexturpin opened #687 "Focus tooltips don't show when manually triggerring focus on blur"
In our app, if a user tabs out of a field where there is a validation error, we focus back on the field (only once) to show them the error in a focus tooltip. I've been porting our tooltip library to Tooltip.js and noticed that if have a field with a tooltip that should trigger on `focus` and you try to manually trigger focus on that field during the `blur` event, the tooltip doesn't show.

Here i

[2018-09-21 12:01] lotr1903 opened #688 "closeOnClickOutside don't work after tooltip show() method."
### CodePen demo

https://codepen.io/anon/pen/ZMPJQb

### Steps to reproduce the problem

1.  Open the demo.
2.  Click the button "Click me"
3.  Tooltip will show itself.
4. Try to click outside the tooltip.
5. Tooltip wont close.
6. If you click on "Tooltip", it works correctly.

### What is the expected behavior?

I expect when trigger show from button and appear on the page, Tooltip close when

[2018-09-25 14:16] FezVrasta commented on #2
I can't think of any code me, or others, written to do this, but it's definitely something feasible.

[2018-09-25 21:59] alexturpin opened #689 "Enable closeOnClickOutside for manual triggering"
### Steps to reproduce the problem

1.  Initialize a popper with its `trigger` option set to `'manual'` and its `closeOnClickOutside` set to `true`
2.  Manually trigger the popper by calling `.show`
3.  Try to click outside of the popper

### What is the expected behavior?

The popper should close.

### What went wrong?

The popper doesn't close. This is on purpose and documented, but I think it m

[2018-09-25 22:02] alexturpin opened #690 "Option to set a custom class name for poppers"
It would be tremendously useful, as a way to style different poppers differently, to be able to specify an additional class for the popper markup. Right now, it's possible by specifying the `template` option but it's needlessly verbose, requiring the entire template to be specified again simply to add a class.

I'm happy to provide a PR with this feature if it is deemed that it should be part of t